<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="service-show form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_service_episodes_path(@online_service), title: I18n.t("user_bot.dashboards.settings.episodes.show.title") %>

        <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.settings.episodes.show.content_label") %></div>
        <div class="field-header"><%= I18n.t("user_bot.dashboards.settings.episodes.form.name_title") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_episode_path(@online_service, @episode, attribute: :name), title: @episode.name %>

        <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.settings.episodes.show.content_url_label") %></div>
        <div class="field-header"><%= I18n.t("user_bot.dashboards.settings.episodes.form.content_url_title") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_episode_path(@online_service, @episode, attribute: :content_url) do %>
          <span class="dotdotdot"><%= @episode.content_url %></span>
          <%= image_tag(@episode.thumbnail_url, class: "preview-image") if @episode.thumbnail_url %>
        <% end %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.settings.episodes.form.note_title") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_episode_path(@online_service, @episode, attribute: :note), title: @episode.note %>

        <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.settings.episodes.show.start_time_label") %></div>
        <div class="field-header"><%= I18n.t("user_bot.dashboards.settings.episodes.form.start_time_title") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_episode_path(@online_service, @episode, attribute: :start_time), title: @episode.start_time_text %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.services.end_time") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_episode_path(@online_service, @episode, attribute: :end_time), title: @episode.end_time_text %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.services.tags") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_episode_path(@online_service, @episode, attribute: :tags), title: Array.wrap(@episode.tags).join(", ")%>

        <div class="field-group-header" id="auto_message"><%= t("user_bot.dashboards.settings.custom_message.line_message_title") %></div>
        <%= render "lines/user_bot/field_row", path: lines_user_bot_service_episode_custom_messages_path(@online_service, @episode), title: t("user_bot.dashboards.settings.custom_message.auto_message_label") %>

        <%= render "lines/user_bot/bottom_navigation_bar", klass: "transparent" do %>
          <%= link_to lines_user_bot_service_episode_path(@episode, service_id: @online_service.id),
            method: :delete,
            data: { confirm: t("common.are_you_sure_message") },
            class: "btn btn-orange btn-circle btn-tweak btn-bottom-left" do %>
            <i class="fas fa-trash fa-2x"></i>
          <% end %>

          <% mobile_only do %>
            <%= link_to "#", data: { toggle: "modal", target: "#previewModal" }, class: "btn btn-tarco btn-circle btn-save btn-tweak btn-with-word" do %>
              <i class="fa fa-share-square fa-2x"></i>
              <div class="word"><%= I18n.t("action.preview") %></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>


    <% non_mobile do %>
      <div class="col-sm-6 px-0 hidden-xs preview-view">
        <%= text_field_tag :service_url, online_service_url(slug: @online_service.slug, episode_id: @episode.id), read_only: true, class: 'extend',
          data: {
            controller: "clipboard",
            action: "click->clipboard#copy",
            clipboard_text: online_service_url(slug: @online_service.slug, episode_id: @episode.id),
            clipboard_popup_text: t("common.copied")
          }
        %>
        <div class="fake-mobile-layout">
          <%= react_component(
            "user_bot/services/online_service_page/membership",
            {
              membership: @membership_hash,
              no_available_episodes: false,
              default_episode: @episode ? EpisodeSerializer.new(@episode, { params: { is_owner: true } }).attributes_hash : {},
              done_episode_ids: [],
              preview: true
            },
            { camelize_props: false }
          ) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% mobile_only do %>
  <%= render "lines/user_bot/services/preview_modal", service: @online_service, episode: @episode %>
<% end %>
