<div id="login">
  <%= render 'shared/language_selector' %>
  <h2><%= I18n.t("common.login") %></h2>
  <main id="socialLogin">
    <p><%= t("common.toruya_user_login_html") %></p>

    <%= button_to toruya_line_login_url(root_url),
                  class: "btn line-button with-wording only-word",
                  data: { disable_with: "<i class='fa fa-spinner fa-spin fa-fw'></i>".html_safe } do %>
      <%= I18n.t("common.line_login_btn_word") %>
    <% end %>
  </main>
</div>
