<div id="subNav">
  <h2>基本情報 − Business Hours</h2>
</div>
<div id="about">
  <p>Please enter business hours here.<br>Toruya will accept reservation based on this setting.</p>
</div>

<%= form_tag update_settings_shop_business_schedules_path, method: :post do %>
  <h3>基本営業時間<strong>必須項目</strong></h3>
  <div id="busHour" class="formRow">
    <ul class="tableTTL">
      <li class="rowTTL">Day</li>
      <li class="openClose">OPEN/CLOSE</li>
      <li class="openTime">OPEN</li>
      <li class="closeTime">CLOSE</li>
    </ul>
    <% BusinessSchedule::WDAYS.each do |wday| %>
      <% business_schedule = @wdays_business_schedules.find{ |schedule| schedule.day_of_week == wday } %>

      <dl class="form">
        <dt><%= I18n.t("date.day_names").at(wday) %></dt>
        <dd class="openClose">
          <%= hidden_field_tag "business_schedules[][id]", business_schedule.try(:id) %>
          <%= hidden_field_tag "business_schedules[][day_of_week]", wday %>
          <%= check_box_tag "business_schedules[][business_state]", "opened", business_schedule.try(:business_state) == "opened",
            class: "BTNopenclose", id: "day#{wday}" %>
          <label for="day<%= wday %>"></label>
        </dd>
        <dd class="openTime">
          <%= time_field_tag "business_schedules[][start_time]", business_schedule.try(:start_time).try(:to_s, :time), size: 30 %>
        </dd>
        <dd class="closeTime">
          <%= time_field_tag "business_schedules[][end_time]", business_schedule.try(:end_time).try(:to_s, :time), size: 30 %>
        </dd>
      </dl>
    <% end %>
  </div>

  <h3>祝日<strong>必須項目</strong></h3>
  <div id="hoddday" class="formRow">
    <dl>
      <dt>Japanese holiday</dt>
      <dd>
        <%= check_box_tag "shop[holiday_working]", true, shop.holiday_working,
          class: "BTNopenclose", id: "holidayJP" %>
        <label for="holidayJP"></label>
        <span class="caution">※Check to set it closed for Japanese holidays.</span>
      </dd>
    </dl>
  </div>

  <h3>臨時休業</h3>
  <%= react_component "UI.CustomSchedules",
    { custom_schedules: @custom_schedules.map{ |schedule|
      schedule.attributes.merge(start_time_date_part: schedule.start_time_date,
                                start_time_time_part: schedule.start_time_time,
                                end_time: schedule.end_time.try(:to_s, :time))
    }} %>

  <div id="footerav">
    <%= submit_tag "Save", class: "BTNtarco" %>
  </div>
<% end %>
