<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="booking-pages form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar",
          previous_path: lines_user_bot_survey_activities_path(business_owner_id, @survey),
          title: t("user_bot.dashboards.surveys.activities.responses_title") %>

        <div class="field-group-header" id="broadcasts"><%= t("user_bot.dashboards.surveys.broadcasts.title") %></div>
        <% @broadcasts.each do |broadcast| %>
          <%= render "lines/user_bot/field_state", state: broadcast.state do %>
            <%= render "lines/user_bot/field_row", path: lines_user_bot_survey_activity_broadcast_path(@survey, @activity, broadcast, business_owner_id: business_owner_id), state: broadcast.state do %>
              <div class="dotdotdot">
                <h3 class="underline"><%= broadcast_deliver_at(broadcast) %></h3>
                <div class="desc my-1"><%= truncate(broadcast.content, length: 30) %></div>
                <div class="desc"><%= truncate(broadcast.recipients.map(&:name).join(", "), length: 30) %></div>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <div class="margin-around centerize">
          <%= link_to new_lines_user_bot_survey_activity_broadcast_path(@survey, @activity, business_owner_id: business_owner_id), class: "btn btn-yellow" do %>
            <i class="fa fa-plus"></i>
            <%= t("action.send_message") %>
          <% end %>
        </div>
        <div class="field-group-header" id="responses"><%= t("user_bot.dashboards.surveys.activities.responses") %></div>
        <div class="booking-pages-list">
          <% @responses.each do |response| %>
            <%= render "lines/user_bot/field_state", state: response.state do %>
              <%= content_tag :div, class: "field-row with-next-arrow" do %>
                <%= link_to lines_user_bot_survey_activity_survey_response_path(response.survey, response.survey_activity, response, business_owner_id: business_owner_id), class: "w-8-12" do %>
                    <h3 class="text-gray-700 underline"><%= response.owner.name %></h3>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>