<div class="booking-page-show form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", previous_path: custom_messages_lines_user_bot_settings_shops_path, title: t("user_bot.dashboards.settings.custom_message.auto_message_label") %>

  <div class="field-group-header" id="name"><%= t("user_bot.dashboards.settings.custom_message.booking_page.online_booking") %></div>
  <div class="field-header"><%= I18n.t("user_bot.dashboards.settings.custom_message.booking_page.page_label") %></div>
  <%= render "lines/user_bot/field_row", title: @shop.name %>

  <div class="field-header"><%= I18n.t("user_bot.dashboards.settings.custom_message.send_message_label") %></div>

  <%= render "lines/user_bot/field_row",
    title: t("user_bot.dashboards.settings.custom_message.booking_page.reservation_confirmed"),
    path: edit_scenario_lines_user_bot_settings_shop_custom_messages_path(
      @shop,
      scenario: ::CustomMessages::Customers::Template::RESERVATION_CONFIRMED,
      right_away: true,
      id: @reservation_confirmed_message&.id
    )
  %>

  <%= render "lines/user_bot/field_row",
    title: t("user_bot.dashboards.settings.custom_message.booking_page.booking_page_one_day_reminder"),
    path: edit_scenario_lines_user_bot_settings_shop_custom_messages_path(
      @shop,
      scenario: ::CustomMessages::Customers::Template::RESERVATION_ONE_DAY_REMINDER,
      right_away: true,
      id: @one_day_reminder_message&.id
    )
  %>
</div>
