<% unless params[:from_filter] %>
  <div class="modal-footer">
    <dl>
      <% if reservation.may_check_out? %>
        <dd>
        <% if !user_ability.can?(:check_content, reservation)%>
          <%= modal_link_to(
            t("reservation.check_out"),
            check_reservation_content_lines_user_bot_warnings_path(business_owner_id: reservation.user_id),
            class: "btn enhanced BTNyellow",
            modal_target: "#dummyModal2"
          ) %>
        <% elsif user_ability.can?(:edit, reservation) %>
          <%= link_to t("reservation.check_out"), SiteRouting.new(self).check_out_shop_reservation_states_path(reservation.shop, reservation, business_owner_id: reservation.user_id, reservation_date: params[:reservation_date]), class: "btn enhanced BTNyellow" %>
        <% else %>
          <%= link_to t("reservation.check_out"), "#", class: "btn enhanced BTNyellow disabled" %>
        <% end %>
        </dd>
      <% end %>

      <% if reservation.checked_out? %>
        <dd>
        <% if !user_ability.can?(:check_content, reservation)%>
          <%= modal_link_to(
            t("reservation.recheck_in"),
            check_reservation_content_lines_user_bot_warnings_path,
            class: "btn enhanced BTNyellow",
            modal_target: "#dummyModal2"
          ) %>
        <% elsif user_ability.can?(:edit, reservation) %>
          <%= link_to t("reservation.recheck_in"), SiteRouting.new(self).check_in_shop_reservation_states_path(reservation.shop, reservation, business_owner_id: reservation.user_id, reservation_date: params[:reservation_date]), class: "btn enhanced BTNyellow" %>
        <% else %>
          <%= link_to t("reservation.recheck_in"), "#", class: "btn enhanced BTNyellow disabled" %>
        <% end %>
        </dd>
      <% end %>

      <% if reservation.acceptable_by_staff?(current_staff_of_owner(shop_user)) %>
        <dd>
        <% if !user_ability.can?(:check_content, reservation)%>
          <%= modal_link_to(
            t("reservation.accept_in_canceled"),
            check_reservation_content_lines_user_bot_warnings_path,
            class: "btn enhanced BTNyellow",
            modal_target: "#dummyModal2"
          ) %>
        <% elsif user_ability.can?(:edit, reservation) %>
          <% if params[:reservations_approval_flow].present? %>
            <%= link_to reservation.canceled? ? t("reservation.accept_in_canceled") : t("reservation.accept"), SiteRouting.new(self).accept_in_group_shop_reservation_states_path(reservation.shop, reservation, business_owner_id: reservation.user_id, reservation_date: params[:reservation_date]), class: "btn enhanced BTNtarco" %>
          <% else %>
            <%= link_to reservation.canceled? ? t("reservation.accept_in_canceled") : t("reservation.accept"), SiteRouting.new(self).accept_shop_reservation_states_path(reservation.shop, reservation, business_owner_id: reservation.user_id, reservation_date: params[:reservation_date]), class: "btn enhanced BTNtarco" %>
          <% end %>
        <% else %>
          <%= link_to t("reservation.accept_in_canceled"), "#", class: "btn enhanced BTNtarco disabled" %>
        <% end %>
        </dd>
      <% end %>

      <% if reservation.may_pend? %>
        <dd>
        <% if !user_ability.can?(:check_content, reservation)%>
          <%= modal_link_to(
            t("reservation.pend"),
            check_reservation_content_lines_user_bot_warnings_path,
            class: "btn enhanced BTNyellow",
            modal_target: "#dummyModal2"
          ) %>
        <% elsif user_ability.can?(:edit, reservation) %>
          <%= link_to t("reservation.pend"), SiteRouting.new(self).pend_shop_reservation_states_path(reservation.shop, reservation, business_owner_id: reservation.user_id, reservation_date: params[:reservation_date]), class: "btn enhanced BTNgray" %>
        <% else %>
          <%= link_to t("reservation.pend"), "#", class: "btn enhanced BTNgray disabled" %>
        <% end %>
        </dd>
      <% end %>

      <% if reservation.may_cancel? %>
        <dd>
        <% if !user_ability.can?(:check_content, reservation)%>
          <%= modal_link_to(
            t("reservation.cancel"),
            check_reservation_content_lines_user_bot_warnings_path(business_owner_id: reservation.user_id),
            class: "btn enhanced BTNyellow",
            modal_target: "#dummyModal2"
          ) %>
        <% elsif user_ability.can?(:edit, reservation) %>
          <% if reservation.reservation_customers.payment_paid.exists? %>
            <%= modal_link_to(
              t("reservation.customer_cancel"),
              cancel_paid_customers_lines_user_bot_warnings_path(reservation, business_owner_id: reservation.user_id),
              class: "btn enhanced BTNorange",
              modal_target: "#dummyModal2"
            ) %>
          <% else %>
            <%= link_to t("reservation.cancel"), SiteRouting.new(self).cancel_shop_reservation_states_path(reservation.shop, reservation, business_owner_id: reservation.user_id, reservation_date: params[:reservation_date]), class: "btn enhanced BTNorange", data: { confirm: I18n.t("reservation.cancel_confirmation_message") } %>
          <% end %>
        <% else %>
          <%= link_to t("reservation.cancel"), "#", class: "btn enhanced BTNorange disabled" %>
        <% end %>
        </dd>
      <% end %>

      <dd>
        <% if !user_ability.can?(:check_content, reservation)%>
          <%= modal_link_to(
            t("reservation.details"),
            check_reservation_content_lines_user_bot_warnings_path,
            class: "btn enhanced BTNyellow",
            modal_target: "#dummyModal2"
          ) %>
        <% elsif user_ability.can?(:manage_shop_reservations, reservation.shop) && user_ability.can?(:edit, reservation) && user_ability.can?(:check_content, reservation) %>
          <%= link_to t("action.details"), SiteRouting.new(self).reservation_form_path(reservation, business_owner_id: reservation.user_id, from_customer_id: params[:from_customer_id]), class: "btn enhanced BTNtarco" %>
        <% else %>
          <%= link_to t("action.details"), "#", class: "btn enhanced BTNtarco disabled" %>
        <% end %>
      </dd>

    </dl>
  </div>
  <div class="modal-footer">
    <dl>
      <% if reservation.count_of_customers > 1 %>
        <dd>
          <%= link_to(
            t("user_bot.dashboards.reservation.messages.broadcast_to_customer"),
            new_lines_user_bot_shop_reservation_messages_path(reservation.user_id, reservation.shop_id, reservation.id),
            class: "btn btn-tarco"
          ) %>
        </dd>
      <% end %>

      <dd>
        <%= link_to t("action.book_next_time"), SiteRouting.new(self).reservation_form_path(reservation, business_owner_id: reservation.user_id, from_customer_id: params[:from_customer_id], book_next_time: true), class: "btn btn-yellow" if !reservation.pending? %>
      </dd>
    </dl>
  </div>
<% end %>
