<div class="survey-response" data-controller="collapse" data-collapse-status="closed">
  <div class="survey-header" data-action="click->collapse#toggle" style="cursor: pointer;">
    <h3 class="customer-name mb-3">
      <%= response.customer.name %>
      <i class="fa fa-chevron-down text-gray-300" data-target="collapse.openToggler"></i>
      <i class="fa fa-chevron-up text-gray-300" data-target="collapse.closeToggler"></i>
    </h3>
  </div>
  <div data-target="collapse.simpleContent" data-action="click->collapse#toggle">
    <%= response.survey&.title %>
  </div>
  <div data-target="collapse.content" data-action="click->collapse#toggle">
    <% if response.survey&.title.present? %>
      <div class="survey-header">
        <h2><%= response.survey.title %></h2>
      </div>
    <% end %>

    <div class="questions-container">
      <%= render partial: 'surveys/activity_answers', locals: { activity_answers: response.activity_answers } %>
      <%= render partial: 'surveys/non_activity_answers', locals: { non_activity_answers: response.non_activity_answers } %>
    </div>
  </div>
</div>