<div class="survey-response">
  <% if local_assigns[:show_customer_name] %>
    <% customer = response.owner.customer %>
    <h3 class="customer-name mb-3"><%= customer.name %></h3>
  <% end %>

  <% if response.survey&.title.present? %>
    <div class="survey-header">
      <h2><%= response.survey.title %></h2>
      <% if response.survey.description.present? %>
        <p class="survey-description"><%= truncate(response.survey.description, length: 20) %></p>
      <% end %>
    </div>
  <% end %>

  <div class="questions-container">
    <% response.question_answers.group_by(&:survey_question_id).each do |_, answers| %>
      <div class="question-container">
        <h3 class="question-text">
          <%= truncate(answers.first.survey_question_snapshot, length: 20) %>
        </h3>

        <% if answers.present? %>
          <% if answers.first.text_answer.present? %>
            <p class="answer-text"><%= answers.first.text_answer %></p>
          <% elsif answers.length > 1 %>
            <ul class="answer-list">
              <% answers.each do |answer| %>
                <li><%= answer.survey_option_snapshot %></li>
              <% end %>
            </ul>
          <% else %>
            <p class="answer-text"><%= answers.first.survey_option_snapshot %></p>
          <% end %>
        <% else %>
          <p class="no-answer"><%= t("common.survey_response.no_answer") %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>