<% content_for :style do %>
  <%= stylesheet_link_tag wicked_pdf_asset_base64("payments/printing") %>
<% end %>

<div class="receipt">
  <div class="content">
    <div class="company">
      <div class="logo">
        <%= image_tag wicked_pdf_asset_base64("toruya_logo.png") %>
      </div>
      <div class="receipt-type"><%= @withdrawal.completed? ? I18n.t("settings.subscription.receipt.label") : I18n.t("settings.subscription.receipt.refund.label") %></div>
    </div>

    <div class="charge-date"><%= I18n.t("settings.subscription.receipt.date") %> <%= @withdrawal.details["transfer_date"] %></div>
    <div class="transaction-id"><%= I18n.t("settings.subscription.receipt.transaction_id") %> <%= @withdrawal.order_id %></div>
    <div class="user-name"><%= @withdrawal.details["user_name"] %> 様</div>

    <div class="center">
      <div class="plan-amount">
        <%= @withdrawal.amount.format %>
      </div>
      <div>
        <%= raw I18n.t("settings.subscription.receipt.desc2_html") %>
      </div>
    </div>

    <div class="company-info">
      <div>株式会社KASAI　代表取締役 加藤るみ子</div>
      <div>〒510-0069 三重県四日市市幸町９番４号</div>
      <div>Tel 059-351-1385　FAX 052-400-2529</div>
      <div>http://www.kasainc.co.jp　info@kasainc.co.jp</div>
    </div>

    <table>
      <thead>
        <tr>
          <th>
            <%= I18n.t("settings.withdrawals.receipt.issue_date") %>
          </th>
          <th colspan="2">
            <%= I18n.t("settings.subscription.receipt.content") %>
          </th>
          <th class="price">
            <%= I18n.t("settings.subscription.receipt.price") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @withdrawal.payments.includes(:charge).each do |payment| %>
          <tr>
            <td><%= I18n.l(payment.created_at.to_date) %></td>
            <td><%= payment.charge.details["plan_name"] %></td>
            <td>
              (<%= l(payment.charge.charge_date, format: :year_month_date) %> ~ <%= l(payment.charge.expired_date, format: :year_month_date) %>)
            </td>
            <td><%= payment.amount.format %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="contact">
    <%= raw I18n.t("settings.subscription.receipt.desc_html") %>
  </div>
</div>
