<% content_for :title do %>
  <title><%= @main_product.shop.display_name %> | <%= @main_product.name %> | <%= @product_name %></title>
<% end %>
<%= content_for :meta_tags do %>
  <meta name="description" content="<%= "#{@main_product.shop.display_name},#{@main_product.title},#{@main_product.greeting&.squish}" %>" />
  <meta name="keywords" content="<%= [
    "TORUYA SALONS", "美容室", "ヘアサロン", "Hair salon", "ヘアーサロン", "美容室", "Best hair", "The beauty salon", "salon school",
    @product_name,
    @main_product.shop.display_name,
    @main_product.title,
    @main_product.greeting&.squish,
    @main_product.shop.company_full_address
  ].join(", ") %>" />
  <meta property="og:site_name" content="Toruya">
  <meta property="og:title" content="<%= @main_product.shop.display_name %> | <%= @main_product.name %> | <%= @product_name %>">
  <meta property="og:url" content="<%= sale_page_url(@sale_page.slug) %>">
  <meta property="og:description" content="<%= @main_product.name %> <%= sale_page_url(@sale_page.slug) %> <%= @main_product.greeting&.squish %>">
<% end %>

<%= react_component(
  "user_bot/sales/booking_pages",
  SalePageSerializer.new(@sale_page).attributes_hash.merge(demo: false),
  { camelize_props: false, prerender: true }
) %>
