<% content_for :title do %>
  <title><%= @product_name %></title>
<% end %>
<%= content_for :meta_tags do %>
  <meta name="description" content="<%= @product_name %> <%= @sale_page.content["desc1"] %> <%= @sale_page.content["desc2"] %>" />
  <meta name="keywords" content="<%= [
    "TORUYA SALONS", "美容室", "ヘアサロン", "Hair salon", "ヘアーサロン", "美容室", "Best hair", "The beauty salon", "salon school",
  ].concat(@keywords).join(", ") %>" />
  <meta property="og:site_name" content="Toruya">
  <meta property="og:title" content="<%= @product_name %>">
  <meta property="og:url" content="<%= sale_page_url(@sale_page.slug) %>">
  <meta property="og:description" content="<%= @product_name %> <%= @sale_page.content["desc1"] %> <%= @sale_page.content["desc2"] %>">
  <meta property="og:image" content="<%= Rails.application.routes.url_helpers.url_for(@sale_page.picture.variant(combine_options: { resize: "750", flatten: true })) %>">
<% end %>

<%= react_component(
  "user_bot/sales/#{@main_product.class.table_name}",
  @sale_page.serializer.attributes_hash.merge(demo: false),
  { camelize_props: false, prerender: true }
) %>
