<% if single_shop_owner %>
  <dd>
    <% if ability(current_user).can?(:read, :filter) %>
      <%= active_link_to customer_user_filter_index_path(current_user), active: /^\/customer\/users\/\d+\/filter/, class_active: "here" do %>
        <i class="fa fa-database fa-4x" aria-hidden="true"></i>
        <%= t("dashboard.search_data") %>
      <% end %>
    <% else %>
      <%= link_to "#", data: { toggle: "modal", target: "#adminUpgradeFilterModal" } do %>
        <i class="fa fa-database fa-4x" aria-hidden="true"></i>
        <%= t("dashboard.search_data") %>
      <% end %>
    <% end %>
  </dd>
<% else %>
  <dd class="dropdown">
    <%= active_link_to customer_user_filter_index_path(super_user),
      active: /^\/customer\/users\/\d+\/filter/,
      class_active: "here",
      data: { toggle: "dropdown", target: "#" } do %>
      <i class="fa fa-database fa-4x" aria-hidden="true"></i>
      <%= t("dashboard.search_data") %>
    <% end %>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <% if ability(current_user).can?(:read, :filter) %>
          <% if basic_setting_presenter.customers_settings_completed? %>
            <%= link_to t("dashboard.someone_shop", name: current_user.name), customer_user_filter_index_path(current_user) %>
          <% else %>
            <span class="dropdown-header">
              <%= t("dashboard.no_contact_group.filter_btn_html", settings_path: settings_dashboard_path) %>
            </span>
          <% end %>
        <% else %>
          <%= link_to t("dashboard.someone_shop", name: current_user.name), "#", data: { toggle: "modal", target: "#adminUpgradeFilterModal" } %>
        <% end %>
      </li>
      <% if working_shop_owners.present? %>
        <li class="divider"></li>
      <% end %>

      <% working_shop_owners.each do |owner| %>
        <li>
          <% if ability(owner).can?(:read, :filter) %>
            <%= link_to t("dashboard.someone_shop", name: owner.name), customer_user_filter_index_path(owner) %>
          <% else %>
            <%= link_to t("dashboard.someone_shop", name: owner.name), "#", data: { toggle: "modal", target: "#staffUpgradeFilterModal" } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </dd>
<% end %>
