<div class="settings-dashboard form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", previous_path: previous_path(lines_user_bot_settings_path(business_owner_id)), title: t("user_bot.dashboards.settings.business_schedules.business_time") %>

  <div class="field-header"><%= t("user_bot.dashboards.settings.business_schedules.base_business_time") %></div>
  <% (0..6).each do |wday| %>
    <%= link_to edit_lines_user_bot_settings_business_schedules_path(shop_id: @shop.id, wday: wday % 7, business_owner_id: business_owner_id), class: "field-row" do %>
      <% business_schedules = @wdays_business_schedules_mapping[wday % 7] %>

      <span><%= I18n.t("date.day_names").at(wday % 7) %></span>
      <span>
        <% if business_schedules.present? %>
          <% business_schedule = business_schedules.first %>
          <%= I18n.l(business_schedule.start_time, format: :time_only) %> 〜 <%= I18n.l(business_schedule.end_time, format: :time_only) %>

          <% if business_schedules.length > 1 %>
            <%= I18n.t("common.other_n_number", number: business_schedules.length - 1)%>
          <% end %>
        <% else %>
          <span class="danger">CLOSE</span>
        <% end %>
        <i class="fa fa-angle-right"></i>
      </span>
    <% end %>
  <% end %>

  <div class="field-header"><%= t("user_bot.dashboards.settings.business_schedules.holiday_label") %></div>
  <%= link_to edit_lines_user_bot_settings_shop_path(id: @shop.id, business_owner_id: business_owner_id, attribute: "holiday_working"), class: "field-row" do %>
    <span><%= t("user_bot.dashboards.settings.business_schedules.national_holiday_label") %></span>
    <span>
      <% if @holiday_working_schedules.present? %>
          <% business_schedule = @holiday_working_schedules.first %>
          <%= I18n.l(business_schedule.start_time, format: :time_only) %> 〜 <%= I18n.l(business_schedule.end_time, format: :time_only) %>

          <% if @holiday_working_schedules.length > 1 %>
            <%= I18n.t("common.other_n_number", number: @holiday_working_schedules.length - 1)%>
          <% end %>
      <% else %>
        <span class="danger">CLOSE</span>
      <% end %>
      <i class="fa fa-angle-right"></i>
    </span>
  <% end %>

  <div class="margin-around centerize">
    <div class="break-line-content"><%= t("user_bot.dashboards.settings.business_schedules.business_time_introduction1") %></div>
    <br />
    <div class="break-line-content"><%= t("user_bot.dashboards.settings.business_schedules.business_time_introduction2") %></div>
  </div>
</div>
