<div class="events">
  <% schedules.each.with_index do |schedule, index| %>
    <% if index == 0 || schedule[:time].to_date != schedules[index - 1][:time].to_date %>
      <div class="schedule-date">
        <%= I18n.l(schedule[:time], format: :month_day_wday) %>
      </div>
    <% end %>

    <div class="event-row">
      <% if schedule[:type] == :reservation %>
        <%= modal_link_to lines_user_bot_shop_reservation_path(business_owner_id, schedule[:shop], schedule[:id], reservations_approval_flow: reservations_approval_flow, _from: local_assigns[:_from]), class: "modal-link event" do %>
          <div class="state <%= schedule[:state] %>"></div>
          <div class="time">
            <div class="start-time">
              <%= schedule[:start_date] != schedule[:end_date] ? schedule[:start_date] : nil %><%= schedule[:start_time_time_part] %>
            </div>
            <div class="start-time">
              <%= schedule[:start_date] != schedule[:end_date] ? schedule[:end_date] : nil %><%= schedule[:end_time_time_part] %>
            </div>
          </div>
          <div class="content">
            <div class="top">
              <%= schedule[:menus_name] %>
            </div>
            <div class="bottom">
              <%= schedule[:customer_names_sentence] %>
            </div>
          </div>
          <div class="info">
            <%= schedule[:shop_name] %>
          </div>
          <div class="extra">
            <% if schedule[:with_warnings] %>
              <span class="error-status warning"><i class="fa fa-check-circle" aria-hispanen="true"></i></span>
            <% end %>
            <% if schedule[:sentences] && schedule[:sentences][:deleted_staffs_sentence] %>
              <span class="status danger"><i class="fa fa-exclamation-circle" aria-hispanen="true"></i></span>
            <% end %>
          </div>
        <% end %>
      <% elsif schedule[:type] == :booking_page_holder_schedule %>
        <a href="#"  data-toggle="modal" data-target=<%= "#booking-page-holder-modal-#{schedule[:id]}" %> class="modal-link booking-page-holder event">
          <div class="state"></div>
          <div class="time">
            <div class="start-time">
              <%= schedule[:start_time] %>
            </div>
            <div class="start-time">
              <%= schedule[:end_time] %>
            </div>
          </div>
          <div class="content">
            <% if schedule[:end_time] && schedule[:start_time] && schedule[:end_time] < schedule[:start_time] %>
              <span class="warning">
                <%= I18n.t("user_bot.dashboards.schedules.end_time_earlier_schedule_warning") %>
              </span>
            <% end %>
            <%= schedule[:reason] %>
          </div>
          <div class="info"></div>
          <div class="extra"></div>
        </a>
      <% else %>
        <a href="#" data-toggle="modal" data-target=<%= schedule[:user_id] == Current.user.id && "#off-date-modal-#{schedule[:id]}" %> class="modal-link event">
          <div class="state"></div>
          <div class="time">
            <div class="start-time">
              <%= schedule[:start_date] != schedule[:end_date] ? schedule[:start_date] : nil %><%= schedule[:start_time_time_part] %>
            </div>
            <div class="start-time">
              <%= schedule[:start_date] != schedule[:end_date] ? schedule[:end_date] : nil %><%= schedule[:end_time_time_part] %>
            </div>
          </div>
          <div class="content">
            <% if schedule[:end_time] && schedule[:start_time] && schedule[:end_time] < schedule[:start_time] %>
              <span class="warning">
                <%= I18n.t("user_bot.dashboards.schedules.end_time_earlier_schedule_warning") %>
              </span>
            <% end %>
            <%= schedule[:reason] %>
          </div>
          <div class="extra"></div>
        </a>
      <% end %>
    </div>
  <% end %>

</div>
<% #event used css table design, the off_date_modal used, either, that causes some conflict %>
<% schedules.select{|s| s[:type] == :off_schedule || s[:type] == :open_schedule}.each do |schedule| %>
  <%= render "reservations/off_date_modal",
    modal_id: "off-date-modal-#{schedule[:id]}",
    custom_schedule_id: schedule[:id],
    date: schedule[:start_time_date_part] || date,
    start_time_date_part: schedule[:start_time_date_part],
    start_time_time_part: schedule[:start_time_time_part],
    end_time_date_part: schedule[:end_time_date_part],
    end_time_time_part: schedule[:end_time_time_part],
    calendarfield_prefix: "temp_leaving_schedule_#{schedule[:id]}",
    reason: schedule[:reason],
    open: schedule[:open]
  %>
<% end %>

<% schedules.select{|s| s[:type] == :booking_page_holder_schedule }.each do |schedule| %>
  <%= render "reservations/holder_modal",
    date: date,
    modal_id: "booking-page-holder-modal-#{schedule[:id]}",
    booking_page_id: schedule[:booking_page_id],
    start_time_date_part: schedule[:start_date],
    start_time_time_part: schedule[:start_time],
    end_time_time_part: schedule[:end_time],
    reason: schedule[:reason]
  %>
<% end %>
