<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="settings-dashboard form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_settings_path(business_owner_id: business_owner_id), title: t("settings.profile.company_info") %>

        <div class="field-header"><%= Profile.human_attribute_name(:company_name) %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_profile_path(attribute: :company_name, business_owner_id: business_owner_id), title: @profile.company_name %>

        <div class="field-header"><%= Profile.human_attribute_name(:address) %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_profile_path(attribute: :company_address_details, business_owner_id: business_owner_id), title: @profile.company_full_address %>

        <div class="field-header"><%= Profile.human_attribute_name(:phone_number) %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_profile_path(attribute: :company_phone_number, business_owner_id: business_owner_id), title: @profile.company_phone_number %>

        <div class="field-header"><%= Profile.human_attribute_name(:email) %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_profile_path(attribute: :company_email, business_owner_id: business_owner_id), title: @profile.company_email %>

        <div class="field-header"><%= Profile.human_attribute_name(:website) %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_profile_path(attribute: :website, business_owner_id: business_owner_id), title: @profile.website %>

        <div class="field-header"><%= t("user_bot.dashboards.settings.shop.logo_label") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_profile_path(attribute: :logo, business_owner_id: business_owner_id) do %>
          <div>
            <%= shop_logo(@profile, "390x135", image_class: "logo") %>
          </div>
        <% end %>
      </div>

      <p class="desc margin-around centerize">
        <%= t("user_bot.dashboards.settings.company.info_hint") %>
      </p>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view">
      <div class="fake-mobile-layout">
        <%= react_component(
          "user_bot/sales/demo",
          { shop: CompanyInfoSerializer.new(@profile).attributes_hash },
          { camelize_props: false }
        ) %>
      </div>
    </div>
  </div>
</div>
