<div class="settings-dashboard form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_settings_path, title: t("settings.profile.company_info") %>

  <div class="field-header"><%= Profile.human_attribute_name(:company_name) %></div>
  <%= link_to "#", class: "field-row" do %>
    <span><%= @profile.company_name %></span><i class="fa fa-angle-right"></i>
  <% end %>

  <div class="field-header"><%= Profile.human_attribute_name(:address) %></div>
  <%= link_to "#", class: "field-row" do %>
    <span><%= @profile.company_full_address %></span><i class="fa fa-angle-right"></i>
  <% end %>

  <div class="field-header"><%= Profile.human_attribute_name(:phone_number) %></div>
  <%= link_to "#", class: "field-row" do %>
    <span><%= @profile.company_phone_number %></span><i class="fa fa-angle-right"></i>
  <% end %>

  <div class="field-header"><%= Profile.human_attribute_name(:website) %></div>
  <%= link_to "#", class: "field-row" do %>
    <span><%= @profile.website %></span><i class="fa fa-angle-right"></i>
  <% end %>
</div>
