<div class="settings-dashboard form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_settings_path, title: t("settings.profile.user_info") %>

  <div class="field-header"><%= t("common.name") %></div>
  <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_profile_path(@profile, attribute: :name), title: @profile.name %>

  <div class="field-header"><%= Profile.human_attribute_name(:phone_number) %></div>
  <%= render "lines/user_bot/field_row", title: current_user.phone_number %>
</div>
