<%= jump_out_modal(webhook_modal_lines_user_bot_settings_social_account_path(business_owner_id)) if @social_account.bot_data_finished? %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="settings-dashboard form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_settings_path(business_owner_id: business_owner_id), title: t("user_bot.dashboards.settings.dashboard.line_message_api_label") %>
        <div class="centerize action-block">
          <%= link_to data_by_locale(:line_developer_url), class: "btn btn-tarco", target: "_blank", data: { confirm: t("user_bot.dashboards.settings.dashboard.line_page_warning") } do %>
            <i class="fa fa-share-square"></i>
            <span><%= I18n.t("user_bot.dashboards.settings.social_account.line_developer") %></span>
          <% end %>
        </div>

        <div class="field-group-header"><%= t("settings.social_account.info1_label") %></div>
        <div class="field-header"><%= t("settings.social_account.form.channel_name") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_social_account_path(attribute: :label, business_owner_id: business_owner_id), title: @social_account.label %>

        <div class="field-header"><%= t("settings.social_account.form.channel_id") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_social_account_path(attribute: :channel_id, business_owner_id: business_owner_id), title: @social_account.channel_id %>

        <div class="field-header"><%= t("settings.social_account.form.channel_secret") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_social_account_path(attribute: :channel_secret, business_owner_id: business_owner_id), title: @social_account.raw_channel_secret, klass: @social_account.channel_secret_correctness? ? '' : "danger" %>
        <%= render "lines/user_bot/settings/social_accounts/line_settings_errors" if @social_account.line_settings_finished? && !@social_account.channel_secret_correctness? %>

        <div class="field-group-header"><%= t("settings.social_account.info2_label") %></div>
        <div class="field-header"><%= t("settings.social_account.form.channel_basic_id") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_social_account_path(attribute: :basic_id, business_owner_id: business_owner_id), title: @social_account.basic_id %>

        <div class="field-header"><%= t("settings.social_account.form.channel_token") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_social_account_path(attribute: :channel_token, business_owner_id: business_owner_id), title: @social_account.raw_channel_token %>

        <%= render "lines/user_bot/settings/social_accounts/line_verification", social_account: @social_account %>

        <%= render "lines/user_bot/bottom_navigation_bar", klass: "transparent" do %>
          <span></span>
          <% if @social_account.bot_data_finished? %>
            <%= modal_link_to webhook_modal_lines_user_bot_settings_social_account_path(business_owner_id), class: "btn btn-tarco btn-circle btn-save btn-tweak btn-with-word" do %>
              <i class="fa fa-window-restore fa-2x"></i>
              <div class="word">Webhook</div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
