<div class="field-row with-next-arrow">
  <%= link_to bot_sale_page_path(sale_page), class: "w-8-12" do %>
    <h3 class="text-gray-700">
      <% if sale_page.is_booking_page? %>
        <i class="fa fa-calendar"></i>
      <% else %>
        <i class="fa fa-mobile-alt"></i>
      <% end %>
      <%= "[#{I18n.t("common.draft")}]" if sale_page.draft %><%= sale_page.internal_sale_name %>
    </h3>
    <div class="desc">
      <% if sale_page.is_booking_page? %>
        <%= sale_page.product&.product_name %>
      <% else %>
        <%= sale_page.product.start_time_text %> ~ <%= sale_page.product.end_time_text %>
      <% end %>
    </div>
    <div class="desc">
      <% if sale_page.is_booking_page? %>
        <% if sale_page.product && sale_page.product.primary_product %>
          <%= sale_page.product.primary_product.minutes %><%= I18n.t("common.minute")%><%= sale_page.product.product_price_text %>
        <% end %>
      <% else %>
        <%= sale_page.selling_prices_text %>
      <% end %>
    </div>
  <% end %>

  <div class="w-3-12 flex">
    <%= button_tag type: 'button',
        class: 'btn btn-icon btn-tarco mr-2',
        data: {
          clipboard_text: sale_page_url(slug: sale_page.slug),
          controller: 'clipboard',
          action: 'clipboard#copy',
          clipboard_popup_text: I18n.t("common.url_copied")
        } do %>
      <i class="far fa-clone"></i>
    <% end %>
    <%= link_to sale_page_url(slug: sale_page.slug),
        target: '_blank',
        class: 'btn btn-icon btn-tarco' do %>
      <i class="fas fa-external-link-alt"></i>
    <% end %>
  </div>
</div>