<%= jump_out_modal(trial_end_lines_user_bot_warnings_path(business_owner_id: business_owner_id), static: true) if !Current.business_owner.subscription.active? %>
<%= jump_out_modal(line_verified_required_lines_user_bot_warnings_path(business_owner_id: business_owner_id), static: business_line_required?) if !Current.business_owner.social_account&.line_settings_verified? %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="booking-options form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", title: I18n.t("user_bot.dashboards.sales.edit.sale_pages") %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.sale_pages") %></div>
        <div class="booking-pages-list">
          <% @sale_pages.each do |sale_page| %>
            <% next unless sale_page.product %>
            <%= render 'lines/user_bot/sales/row', sale_page: sale_page %>
          <% end %>

          <% if is_not_phone? %>
            <div class="margin-around centerize">
              <%= link_to new_lines_user_bot_sale_path(business_owner_id: business_owner_id), class: "btn btn-yellow" do %>
            <i class="fa fa-plus"></i>
                <%= t("action.add_more") %>
              <% end %>
            </div>
          <% end %>
        </div>

        <%= render "lines/user_bot/bottom_navigation_bar", klass: "centerize" do %>
          <%= link_to new_lines_user_bot_sale_path(business_owner_id: business_owner_id), class: "btn btn-yellow btn-circle btn-save btn-tweak btn-with-word" do %>
            <i class="fas fa-plus fa-2x"></i>
            <div class="word"><%= I18n.t("action.add_more") %></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
