<%= jump_out_modal(trial_end_lines_user_bot_warnings_path(business_owner_id: business_owner_id), static: true) if !Current.business_owner.subscription.active? %>
<%= jump_out_modal(line_verified_required_lines_user_bot_warnings_path(business_owner_id: business_owner_id), static: true) if !Current.business_owner.social_account&.line_settings_verified? %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="form with-top-bar">
        <h3 class="centerize header"><%= I18n.t("user_bot.dashboards.sales.new.what_to_sale") %></h3>
        <% if !Current.business_owner.social_account&.line_settings_verified? %>
          <div class="warning centerize">
            <%= t("line_verification.unverified_warning_message") %>
            <%= link_to t("action.verify_line"),
              lines_verification_path(encrypted_social_service_user_id: MessageEncryptor.encrypt(Current.business_owner.social_user.social_service_user_id), encrypted_business_owner_id: MessageEncryptor.encrypt(Current.business_owner.id)),
              class: "btn btn-yellow",
              method: :get
            %>
          </div>
        <% end %>

        <div class="action-block centerize">
          <%= link_to new_lines_user_bot_sales_booking_page_path(business_owner_id: business_owner_id), class: "btn btn-tarco btn-extend btn-flexible" do %>
            <i class="fa fa-calendar-alt fa-4x"></i>
            <h4><%= I18n.t("user_bot.dashboards.sales.new.online_booking") %></h4>
            <p class="break-line-content">
            <%= I18n.t("user_bot.dashboards.sales.new.add_sale_page_to_sell_more") %>
            </p>
          <% end %>

        </div>
        <div class="action-block centerize">
          <%= link_to new_lines_user_bot_sales_online_service_path(business_owner_id: business_owner_id), class: "btn btn-tarco btn-extend btn-flexible" do %>
            <i class="fa fa-mobile-alt fa-4x"></i>
            <h4><%= I18n.t("user_bot.dashboards.sales.new.online_service") %></h4>
            <p class="break-line-content">
            <%= I18n.t("user_bot.dashboards.sales.new.online_service_to_sell_more") %>
            </p>
          <% end %>
        </div>

        <div class="margin-around centerize warning">
          <%= t("user_bot.dashboards.sales.new.how_to_sell") %>
        </div>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
