<div class="form">
  <h3 class="centerize header"><%= I18n.t("user_bot.dashboards.sales.new.what_to_sale") %></h3>
  <div class="action-block centerize">
    <%= link_to new_lines_user_bot_sales_booking_page_path, class: "btn btn-tarco btn-extend btn-flexible" do %>
      <i class="fa fa-calendar-alt fa-4x"></i>
      <h4><%= I18n.t("user_bot.dashboards.sales.new.online_booking") %></h4>
      <p class="break-line-content">
      <%= I18n.t("user_bot.dashboards.sales.new.add_sale_page_to_sell_more") %>
      </p>
    <% end %>

  </div>
  <div class="action-block centerize">
    <%= link_to "#", class: "btn btn-tarco btn-extend btn-flexible disabled" do %>
      <i class="fa fa-mobile-alt fa-4x"></i>
      <h4><%= I18n.t("user_bot.dashboards.sales.new.online_service") %></h4>
      <p class="break-line-content">
      <%= I18n.t("user_bot.dashboards.sales.new.online_service_to_sell_more") %>
      </p>
    <% end %>
  </div>
</div>
