<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="service-show form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_sales_path(business_owner_id: business_owner_id), title: I18n.t("user_bot.dashboards.sales.edit.sale_pages") %>

        <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.sales.edit.sales_about") %></div>
        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.internal_name") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :internal_name), title: @sale_page.internal_name %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.selling_product") %></div>
        <div class="field-row with-format">
          <div>
            <div>
              <span class="dotdotdot">
                <% if @sale_page.is_booking_page? %>
                  <%= link_to @sale_page.internal_product_name, lines_user_bot_booking_page_path(@sale_page.product, business_owner_id: business_owner_id) %>
                <% else %>
                  <%= link_to @sale_page.internal_product_name, lines_user_bot_service_path(@sale_page.product, business_owner_id: business_owner_id) %>
                <% end %>
              </span>
            </div>
            <div class="desc">
              <%= t("user_bot.dashboards.online_service_creation.solutions.#{@sale_page.solution_type}.title") unless @sale_page.is_booking_page? %>
            </div>
            <% if @sale_page.is_booking_page? && @sale_page.product.ended? %>
              <div class="danger">
                <%= I18n.t("settings.booking_page.form.form_errors.expired") %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.selling_start_at") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :start_time), title: @sale_page.start_time_text %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.selling_end_at") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :end_time), title: @sale_page.end_time_text %>

        <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.sales.edit.selling_solutions") %></div>
        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.selling_price") %></div>
        <% if @sale_page.is_booking_page? %>
          <% if @sale_page.product && @sale_page.product.primary_product %>
            <%= render "lines/user_bot/field_row", title: @sale_page.product.product_price_text %>
          <% end %>
        <% else %>
          <%= render "lines/user_bot/field_row",
            path: @sale_page.product.charge_required? ? edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :selling_price) : nil,
            title: "#{@sale_page.selling_prices_text}#{@sale_page.free? || !support_tax_include_display? ? "" : "(#{I18n.t('common.tax_included')})" }" %>
        <% end %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.normal_price") %></div>
        <%= render "lines/user_bot/field_row",
          path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :normal_price),
          title: "#{@sale_page.normal_price_text}#{!@sale_page.normal_price_amount_cents || !support_tax_include_display? ? "" : "(#{I18n.t('common.tax_included')})" }" %>

        <% if !@sale_page.is_booking_page? %>
          <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.selling_number") %></div>
          <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :quantity) do %>
            <span class="dotdotdot">
              <%= @sale_page.quantity_text %>

              <% if @sale_page.sold_out? %>
                <span class="warning">
                  <i class="fa fa-exclamation-triangle"></i>
                  <%= I18n.t("user_bot.dashboards.sales.edit.sold_out") %>
                </span>
              <% end %>
            </span>
          <% end %>
        <% end %>

        <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.sales.edit.page_content") %></div>
        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.content_header") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :sale_template_variables), title: "#{I18n.t('common.template')}-#{@sale_page.sale_template_id}" %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.content_video") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :introduction_video_url) do %>
          <% if @sale_page.introduction_video_url.present? %>
            <span class="dotdotdot"><%= @sale_page.introduction_video_url %></span>
            <%= image_tag(@sale_page.introduction_video_thumbnail_url, class: "preview-image") if @sale_page.introduction_video_thumbnail_url %>
          <% else %>
            <span class="dotdotdot"><%= I18n.t("common.no_setup") %></span>
          <% end %>
        <% end %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.why_content") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :why_content), title: @sale_page.content["desc1"].presence || I18n.t("common.no_setup") %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.benefits") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :benefits), title: @sale_page.sections_context&.[]("benefits")&.size.to_i > 0 ? I18n.t("user_bot.dashboards.sales.edit.benefit_items", benefit_number: @sale_page.sections_context&.[]("benefits")&.size) : I18n.t("common.no_setup") %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.staff") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :staff), title: @sale_page.staff.name.presence || I18n.t("common.no_setup") %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.reviews") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :reviews), title: @sale_page.sections_context&.[]("reviews")&.size.to_i > 0 ? I18n.t("user_bot.dashboards.sales.edit.review_items", review_number: @sale_page.sections_context&.[]("reviews")&.size) : I18n.t("common.no_setup") %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.faq") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :faq), title: @sale_page.sections_context&.[]("faq")&.size.to_i > 0 ? I18n.t("user_bot.dashboards.sales.edit.question_items", question_number: @sale_page.sections_context&.[]("faq")&.size) : I18n.t("common.no_setup") %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.flow") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :flow), title: @sale_page.flow&.size.to_i > 0 ? I18n.t("user_bot.dashboards.sales.edit.flow_steps", flow_number: @sale_page.flow&.size) : I18n.t("common.no_setup") %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.publish") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id, attribute: :published), title: @sale_page.published ? I18n.t("user_bot.dashboards.sales.edit.publish_status.published") : I18n.t("user_bot.dashboards.sales.edit.publish_status.private") %>

        <div class="action-block margin-around">
          <%= link_to lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id), method: :delete, data: { confirm: I18n.t("common.are_you_sure_message") }, class: "btn btn-orange" do %>
            <i class="fa fa-minus"></i> <span><%= I18n.t("user_bot.dashboards.sales.edit.delete_sale_page") %></span>
          <% end %>
        </div>
      </div>

      <%= render "lines/user_bot/bottom_navigation_bar", klass: "centerize" do %>
        <%= link_to clone_lines_user_bot_sale_path(@sale_page, business_owner_id: business_owner_id),
          method: :post,
          data: { disable_with: t("common.processing") },
          class: "btn btn-yellow btn-circle btn-tweak btn-with-word btn-bottom-left" do %>
          <i class="fa fa-copy fa-2x"></i>
          <div class="word"><%= I18n.t("action.duplicate") %></div>
        <% end %>

        <span><%= I18n.t("common.updated_date") %> <%= I18n.l(@sale_page.updated_at, format: :long_date) %></span>

        <% mobile_only do %>
          <%= link_to "#", data: { toggle: "modal", target: "#previewModal" }, class: "btn btn-tarco btn-circle btn-save btn-tweak btn-with-word" do %>
            <i class="fa fa-share-square fa-2x"></i>
            <div class="word"><%= I18n.t("action.share") %></div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view">
      <% if @sale_page.product %>
        <%= text_field_tag :sale_page_url, sale_page_url(slug: @sale_page.slug), read_only: true, class: 'extend',
          data: {
            controller: "clipboard",
            action: "click->clipboard#copy",
            clipboard_text: sale_page_url(slug: @sale_page.slug),
            clipboard_popup_text: t("common.copied")
          }
        %>

        <div class="centerize margin-around purchase-buttons">
          <%= button_tag t("action.copy_url2"), class: "btn btn-tarco",
            data: {
              controller: "clipboard",
              action: "click->clipboard#copy",
              clipboard_text: sale_page_url(slug: @sale_page.slug),
              clipboard_popup_text: t("common.copied")
            } %>
          <%= render 'lines/user_bot/sales/copy_buttons', sale_page: @sale_page %>
        </div>
        <div class="centerize margin-around">
          <%= qrcode_img(sale_page_url(slug: @sale_page.slug)) %>
        </div>
        <div class="fake-mobile-layout">
          <%= react_component(
            "user_bot/sales/#{@sale_page.product.class.table_name}",
            @sale_page.serializer.attributes_hash.merge(demo: false, preview: true),
            { camelize_props: false }
          ) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% mobile_only do %>
  <%= render 'lines/user_bot/sales/preview_modal', sale_page: @sale_page %>
<% end %>
