<%= jump_out_modal(trial_end_lines_user_bot_warnings_path(business_owner_id), static: true) if !Current.business_owner.subscription.active? %>
<%= jump_out_modal(lines_user_bot_shop_reservation_path(business_owner_id, @reservation.shop, @reservation, customer_id: params[:customer_id], from: "customer_dashboard")) if @reservation %>

<% today = params[:debug_date] ? Date.parse(params[:debug_date]) : Date.today %>

<%= react_component("user_bot/dashboards/customers_dashboard", {
  props: {
    business_owner_id: business_owner_id,
    from: params[:from],
    from_options: FROM,
    referrer: request.referrer,
    reservation_id: params[:reservation_id],
    shop: shop,
    target_view: params[:target_view],
    previous_path: params[:previous_path],
    customer: CustomerOptionSerializer.new(@customer || Current.business_owner.customers.new).attributes_hash,
    notification_messages: @notification_messages,
    contact_groups: default_options(current_user_staff.readable_contact_groups),
    ranks: rank_options,
    total_customers_number: @total_customers_number,
    draft_message_content: @draft_message_content,
    customer_tags: current_user.user_setting.customer_tags,
    support_feature_flags: support_feature_flags,
    block_toruya_message_reply: !Current.business_owner.premium_member?,
    upgrade_url: lines_user_bot_settings_plans_path(business_owner_id, upgrade: Plan::PREMIUM_LEVEL),
    support_feature_flags: support_feature_flags,
    i18n: {
    }.merge!([
      t("reservation"),
      t("customer"),
      t("user_bot.dashboards.customer"),
      t("common").slice(:processing, :address, :phone_number, :email, :birthday, :name, :others, :memo, :last_name, :first_name, :phonetic_last_name, :phonetic_first_name, :zip_code, :unsave),
      t("action").slice(:save, :edit, :delete),
    ].inject(:merge))
  }
},
{ camelize_props: false }
) %>

<div class="modal fade" id="toruyaMessageReplyDifferenceModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
        <%= t("warnings.user_bot.toruya_message_reply.title") %>
      </h4>
    </div>
    <div class="modal-body">
      <%= t("warnings.user_bot.toruya_message_reply.content_html", upgrade_url: lines_user_bot_settings_plans_path(business_owner_id, upgrade: Plan::PREMIUM_LEVEL)) %>
      </div>
    </div>
  </div>
</div>
