<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="service-show form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_service_chapters_path(@online_service, business_owner_id: business_owner_id), title: I18n.t("user_bot.dashboards.settings.course.lessons.show.title") %>

        <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.settings.course.lessons.show.content_label") %></div>
        <div class="field-header"><%= I18n.t("user_bot.dashboards.settings.course.lessons.form.name_title") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_chapter_lesson_path(@online_service, @chapter, @lesson, attribute: :name, business_owner_id: business_owner_id), title: @lesson.name %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.settings.course.lessons.form.chapter_id_title") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_chapter_lesson_path(@online_service, @chapter, @lesson, attribute: :chapter_id, business_owner_id: business_owner_id), title: @chapter.name %>

        <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.settings.course.lessons.show.content_url_label") %></div>
        <div class="field-header"><%= I18n.t("user_bot.dashboards.settings.course.lessons.form.content_url_title") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_chapter_lesson_path(@online_service, @chapter, @lesson, attribute: :content_url, business_owner_id: business_owner_id) do %>
          <span class="dotdotdot"><%= @lesson.content_url %></span>
          <%= image_tag(@lesson.thumbnail_url, class: "preview-image") if @lesson.thumbnail_url %>
        <% end %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.settings.course.lessons.form.note_title") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_chapter_lesson_path(@online_service, @chapter, @lesson, attribute: :note, business_owner_id: business_owner_id), title: @lesson.note %>

        <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.settings.course.lessons.show.start_time_label") %></div>
        <div class="field-header"><%= I18n.t("user_bot.dashboards.settings.course.lessons.form.start_time_title") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_chapter_lesson_path(@online_service, @chapter, @lesson, attribute: :start_time, business_owner_id: business_owner_id), title: @lesson.start_time_text %>

        <div class="field-group-header" id="auto_message"><%= t("user_bot.dashboards.settings.custom_message.line_message_title") %></div>
        <%= render "lines/user_bot/field_row", path: lines_user_bot_service_chapter_lesson_custom_messages_path(@online_service, @chapter, @lesson, business_owner_id: business_owner_id), title: t("user_bot.dashboards.settings.custom_message.auto_message_label") %>

        <%= render "lines/user_bot/bottom_navigation_bar", klass: "transparent" do %>
          <%= link_to lines_user_bot_service_lesson_path(@lesson, service_id: @online_service.id, business_owner_id: business_owner_id),
            method: :delete,
            data: { confirm: t("common.are_you_sure_message") },
            class: "btn btn-orange btn-circle btn-tweak btn-bottom-left" do %>
            <i class="fas fa-trash fa-2x"></i>
          <% end %>

          <% mobile_only do %>
            <%= link_to "#", data: { toggle: "modal", target: "#previewModal" }, class: "btn btn-tarco btn-circle btn-save btn-tweak btn-with-word" do %>
              <i class="fa fa-share-square fa-2x"></i>
              <div class="word"><%= I18n.t("action.preview") %></div>
            <% end %>
          <% end %>

        <% end %>
      </div>
    </div>

    <% non_mobile do %>
      <div class="col-sm-6 px-0 hidden-xs preview-view">
        <%= text_field_tag :service_url, online_service_url(slug: @online_service.slug, lesson_id: @lesson.id), read_only: true, class: 'extend',
          data: {
            controller: "clipboard",
            action: "click->clipboard#copy",
            clipboard_text: online_service_url(slug: @online_service.slug, lesson_id: @lesson.id),
            clipboard_popup_text: t("common.copied")
          }
        %>
        <div class="fake-mobile-layout">
          <%= react_component("user_bot/services/online_service_page/course", { course: @course_hash, lesson_ids: [], preview: true, lesson_id: @lesson.id }, { camelize_props: false }) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% mobile_only do %>
  <%= render "lines/user_bot/services/preview_modal", service: @online_service, lesson: @lesson %>
<% end %>
