<div class="booking-pages form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", title: I18n.t("user_bot.dashboards.notifications.title") %>

  <div class="field-header"><%= I18n.t("user_bot.dashboards.notifications.unread_message_label") %></div>
  <div class="booking-pages-list">
    <% @messages.each do |message| %>
      <%= link_to lines_user_bot_customers_path(
        customer_id: message.social_customer.customer_id,
        target_view: Customer::DASHBOARD_TARGET_VIEWS[:messages],
        previous_path: lines_user_bot_notifications_path
      ), class: "field-row with-next-arrow" do %>
        <div>
          <h3><%= message.social_customer.customer.name %></h3>
          <div class="desc dotdotdot"><%= message.raw_content %></div>
        </div>
        <i class="fa fa-angle-right"></i>
      <% end %>
    <% end %>
  </div>

  <div class="field-header"><%= I18n.t("user_bot.dashboards.notifications.pending_reservations_label") %></div>
  <div class="booking-pages-list">
    <% @reservations.each do |reservation| %>
      <%= link_to date_lines_user_bot_schedules_path(
        reservation.start_time.to_fs(:date),
        reservation_id: reservation.id
      ), class: "field-row with-next-arrow" do %>
        <div>
          <h3><%= I18n.l(reservation.start_time, format: :date_with_wday) %> ~ <%= I18n.l(reservation.end_time, format: :time_only) %></h3>
          <div class="desc dotdotdot"><%= customer_names_sentence(reservation) %></div>
        </div>
        <i class="fa fa-angle-right"></i>
      <% end %>
    <% end %>
  </div>

  <div class="field-header"><%= I18n.t("user_bot.dashboards.notifications.missing_sale_page_service_label") %></div>
  <div class="booking-pages-list">
    <% @services.each do |service| %>
      <%= link_to new_lines_user_bot_sales_online_service_path(slug: service.slug), class: "field-row with-next-arrow" do %>
        <div>
          <h3><%= service.internal_product_name %></h3>
          <div class="desc dotdotdot"><%= I18n.t("user_bot.dashboards.online_service_creation.goals.#{service.goal_type}.title") %></div>
        </div>
        <i class="fa fa-angle-right"></i>
      <% end %>
    <% end %>
  </div>
</div>
