<div class="modal-dialog toruya-modal" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="reservation-show-modal">
        <span class="state <%= @relation.display_state %>"><%= t("user_bot.dashboards.settings.service_customer_relation.permission_states.#{@relation.display_state}") %></span>
        <span><%= I18n.l(@relation.created_at, format: :date) %></span>

        <span><%= @relation.created_at.to_fs(:time)%></span>
      </h4>
    </div>
    <div class="modal-body">
      <div class="reservation-info-row">
        <i class="fa fa-mobile-alt" aria-hidden="true"></i><%= I18n.t("user_bot.dashboards.online_service_creation.goals.#{@relation.online_service.goal_type}.title") %>
      </div>
      <div class="reservation-info-row">
        <i class="fa fa-money-bill-wave" aria-hidden="true"></i><%= @relation.sale_page.normal_price_text %>
      </div>
      <div class="reservation-info-row">
        <i class="fas fa-cart-arrow-down" aria-hidden="true"></i><%= link_to @relation.sale_page.internal_sale_name, sale_page_url(@relation.sale_page.slug) %>
      </div>
    </div>

    <% if @relation.current? %>
      <div class="modal-footer">
        <dl>
          <dd>
            <%= link_to t("action.details"), lines_user_bot_service_customer_path(business_owner_id, @relation.online_service, @relation, from: "customer_dashboard"), class: "btn enhanced BTNtarco" %>
          </dd>
        </dl>
      </div>
    <% end %>
  </div>
</div>
