<div class="booking-page-show form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_service_path(@online_service), title: @online_service.name %>

  <div class="field-group-header" id="name"><%= I18n.t("settings.booking_page.form.name_header") %></div>
  <div class="field-header"><%= I18n.t("settings.booking_page.form.page_name") %></div>
  <%= render "lines/user_bot/field_row", title: @online_service.name %>

  <div class="field-header"><%= I18n.t("settings.booking_page.form.page_name") %></div>
  <%= render "lines/user_bot/field_row", path: edit_scenario_lines_user_bot_service_custom_messages_path(@online_service, scenario: CustomMessage::ONLINE_SERVICE_PURCHASED), title: "Online service purchased" %>
</div>
