<% content_for :style do %>
  <%= stylesheet_link_tag wicked_pdf_asset_base64("payments/printing") %>
<% end %>

<div class="receipt">
  <div class="content">
    <div class="company">
      <div class="logo">
        <%= image_tag wicked_pdf_asset_base64("toruya_logo.png") %>
      </div>
      <div class="receipt-type"><%= @charge.completed? ? I18n.t("settings.subscription.receipt.label") : I18n.t("settings.subscription.receipt.refund.label") %></div>
    </div>

    <div class="charge-date"><%= I18n.t("settings.subscription.receipt.date") %> <%= l(@charge.charge_date) %></div>
    <div class="transaction-id"><%= I18n.t("settings.subscription.receipt.transaction_id") %> <%= @charge.order_id %></div>
    <div class="user-name"><%= @receipient_name %> 様</div>

    <div class="center">
    <div class="plan-amount">
      <% if @charge.refunded?%>
        <span class="refund-amount-tip"><%= I18n.t("settings.subscription.receipt.refund.amount_tip") %> </span>
      <% end %>
        <% if @charge.is_a?(LineNoticeCharge) %>
          <%= @charge.amount_money.format %>
        <% else %>
          <%= @charge.amount.format %>
        <% end %>
      </div>
      <div>
        <%= raw I18n.t("settings.subscription.receipt.desc2_html") %>
      </div>
    </div>

    <div class="company-info">
      <div>株式会社KASAI 代表取締役 劉治子</div>
      <div>〒452-0943 愛知県清須市新清洲6-2-4</div>
      <div>https://toruya.com info@toruya.com</div>
    </div>

    <table>
      <thead>
        <tr>
          <th colspan="2">
            <%= I18n.t("settings.subscription.receipt.content") %>
          </th>
          <th class="price">
            <%= I18n.t("settings.subscription.receipt.price") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% if @charge_type == 'line_notice_charge' %>
          <%# LINE通知リクエスト課金の場合 %>
          <tr>
            <td><%= I18n.t("settings.plans.payment.line_notice_request") %></td>
            <td>1件</td>
            <td><%= @charge.amount.format %></td>
          </tr>
        <% elsif @charge.completed? %>
          <% if @charge.shop_fee? %>
            <tr>
              <td><%= I18n.t("settings.plans.payment.extra_shop") %></td>
              <td>1<%= I18n.t("settings.subscription.receipt.shop") %></td>
              <td><%= @charge.amount.format %></td>
            </tr>
          <% else %>
            <tr>
              <td><%= I18n.t("settings.subscription.receipt.plan") %></td>
              <td>
                <%= @charge.details["plan_name"] %>(<%= l(@charge.charge_date, format: :year_month_date) %> ~ <%= l(@charge.expired_date, format: :year_month_date) %>)
              </td>
              <td><%= @charge.details["charge_amount"] %></td>
            </tr>
            <% if @charge.with_shop_fee? %>
              <tr>
                <td><%= I18n.t("settings.plans.payment.extra_shop") %></td>
                <td><%= @charge.details["shop_ids"].length - Plans::Fee::SHOP_NUMBER_CHARGE_THRESHOLD %><%= I18n.t("settings.subscription.receipt.shop") %></td>
                <td><%= @charge.details["shop_fee_format"] %></td>
              </tr>
            <% end %>
          <% end %>
        <% elsif @charge.refunded? %>
          <tr>
            <td><%= I18n.t("settings.subscription.receipt.plan") %></td>
            <td>
              <%= @charge.details["plan_name"] %>(<%= l(@charge.charge_date) %> ~ <%= l(@charge.expired_date) %>)
            </td>
            <td>
              <%= @charge.amount.format %>
            </td>
          </tr>
          <tr>
            <td><%= I18n.t("settings.subscription.receipt.refund.plan") %>: </td>
            <td><%= @charge.details["plan_name"] %> クーリングオフ返金</td>
            <td><%= @charge.amount.format %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="contact">
    <%= raw I18n.t("settings.subscription.receipt.desc_html") %>
  </div>
</div>
