<% content_for :style do %>
  <%= stylesheet_link_tag wicked_pdf_asset_base64("customers/printing") %>
<% end %>

<% address = @customer.primary_formatted_address %>

<div class="customer-info <%= @page_size %>">
<div class="zip-code"><%= @customer.zipcode %></div>
  <% if address %>
    <div class="street1"><%= "#{address.value.region}#{address.value.city}#{address.value.street1}" %></div>
    <div class="street2"><%= address.value.street2 %></div>
  <% end %>
  <div class="name">
    <%= "#{@customer.name} 様" %>
  </div>
</div>
