<div class="customer-info <%= @page_size %>">
  <div class="zip-code"><%= @customer.zipcode %></div>
  <div class="street1">
    <%= @customer.primary_formatted_address ? @customer.primary_formatted_address.value.street1 : nil %>
  </div>
  <div class="street2">
    <%= @customer.primary_formatted_address ? @customer.primary_formatted_address.value.street2 : nil %>
  </div>
  <div class="name">
    <%= @customer.name %>
  </div>
</div>
