<%= jump_out_modal(lines_user_bot_tours_line_settings_required_for_online_service_path(business_owner_id: business_owner_id), static: true) if !Current.business_owner.social_account&.line_settings_finished? && support_japanese_asset? %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="settings-dashboard form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_settings_path(business_owner_id: business_owner_id), title: t("user_bot.dashboards.settings.rich_menu.title") %>
        <div class="field-header"><%= t("user_bot.dashboards.settings.dashboard.line_rich_menu") %></div>
        <%= render "lines/user_bot/field_row",
          title: @social_account.using_line_official_account? ? t("user_bot.dashboards.settings.rich_menu.manual") : t("user_bot.dashboards.settings.rich_menu.auto") %>

        <% if @social_account.using_line_official_account? %>
          <div class="action-block">
            <p>
            <%= t("user_bot.dashboards.settings.rich_menu.auto_description_html") %>
            </p>
          </div>
        <% elsif @current_rich_menu %>
          <div class="field-row justify-center flex-col">
            <p><%= t("settings.social_rich_menus.current_rich_menu") %></p>
            <%= image_tag(rich_menu_image_url(@current_rich_menu, "240"), class: "demo-image") %>
            <%= link_to t("settings.social_rich_menus.edit_button"), lines_user_bot_settings_social_account_social_rich_menus_path(business_owner_id: business_owner_id), class: "btn btn-yellow my-4" %>
          </div>
        <% end %>
        <div class="action-block">
          <% if @social_account.using_line_official_account? %>
            <%= button_to t("user_bot.dashboards.settings.rich_menu.auto_switch_btn"),
              lines_user_bot_settings_social_account_rich_menu_path(business_owner_id: business_owner_id), method: :post, class: "btn btn-orange", data: { disable_with: t("common.processing") } %>
          <% else %>
            <div class="action-block">
              <%= t("user_bot.dashboards.settings.rich_menu.manual_description_html") %>
            </div>
            <%= button_to t("user_bot.dashboards.settings.rich_menu.manual_switch_btn"), lines_user_bot_settings_social_account_rich_menu_path(business_owner_id: business_owner_id), method: :delete, class: "btn btn-orange", data: { disable_with: t("common.processing") } %>
          <% end %>
        </div>
        <% if support_faq_display? %>
          <div class="action-block">
            <i class="fa fa-lightbulb"></i><%= link_to t("user_bot.dashboards.settings.rich_menu.help_link"), "https://toruya.com/help/richmenu_setting/" %>
          </div>
        <% end %>
        <% if @social_account.using_line_official_account? %>
          <div class="margin-around">
            <div class="mt-2"><%= t("line.bot.keyword_descriptions.hint") %></div>
            <% if support_faq_display? %>
              <i class="fa fa-lightbulb"></i><%= link_to t("user_bot.dashboards.settings.rich_menu.help_link"), "https://toruya.com/help/richmenu_toruya-bot/" %>
            <% end %>

            <div class="mt-2">
              <div class="container table border border-solid border-gray-500">
                <div class="row">
                  <div class="col-sm-6 col-xs-6 font-weight-bold">
                    <%= t("user_bot.dashboards.settings.rich_menu.keyword") %>
                  </div>
                  <div class="col-sm-6 col-xs-6 font-weight-bold">
                    <%= t("user_bot.dashboards.settings.rich_menu.toruya_bot_operation") %>
                  </div>
                </div>
                <% [
                  "incoming_reservations",
                  "booking_pages",
                  "booking_options",
                  "contacts",
                  "services"
                ].each do |keyword| %>
                  <% if public_send("support_line_keyword_#{keyword}?") %>
                    <div class="row">
                      <div class="col-sm-6 col-xs-6 text-clip">
                        <%= t("line.bot.keywords.#{keyword}") %>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <%= t("line.bot.keyword_descriptions.#{keyword}") %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
