<div class="booking-options form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", title: I18n.t("settings.booking_option.booking_option_label") %>

  <div class="field-header"><%= I18n.t("settings.booking_option.booking_option_label") %></div>
  <div class="booking-pages-list">
    <% @booking_options.each do |booking_option| %>
      <%= link_to lines_user_bot_booking_option_path(business_owner_id, booking_option), class: "field-row with-next-arrow" do %>
        <div>
          <h3><%= booking_option.name %></h3>
          <div class="desc"><%= booking_option.menus.pluck(:name).join(", ")%></div>
          <div class="desc">
            <%= I18n.t("settings.booking_page.form.booking_option_required_time") %><%= booking_option.minutes %><%= I18n.t("common.minute") %> ・
            <%= booking_option.amount.format(:ja_default_format) %> (<%= t("settings.booking_option.form.#{booking_option.tax_include ? "tax_include" : "tax_excluded"}") %>)
          </div>
        </div>
      <i class="fa fa-angle-right"></i>
      <% end %>
    <% end %>
  </div>
</div>
