<div class="booking-option-show form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", previous_path: previous_path(lines_user_bot_booking_options_path(business_owner_id: business_owner_id)), title: @booking_option.name %>

  <div class="field-group-header" id="name"><%= I18n.t("settings.booking_option.form.price_name") %></div>
  <div class="field-header"><%= I18n.t("settings.booking_option.form.price_name") %></div>
  <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_booking_option_path(business_owner_id, @booking_option, attribute: :name), title: @booking_option.name %>

  <div class="field-header" id="display_name"><%= I18n.t("settings.booking_option.form.display_name") %></div>
  <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_booking_option_path(business_owner_id, @booking_option, attribute: :display_name), title: @booking_option.display_name %>

 <div class="field-header" id="booking_pages"><%= I18n.t("settings.booking_option.form.booking_pages") %></div>
 <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_booking_option_path(business_owner_id, @booking_option, attribute: :booking_page_ids), title: @booking_option.booking_pages.active.normal.pluck(:name).join(", ") %>

  <% if support_booking_options_menu_concept? %>
    <div class="field-group-header" id="new_menu"><%= I18n.t("settings.booking_option.form.menu_for_sale_label") %></div>
    <div class="field-header"><%= I18n.t("common.menu") %></div>
    <%= react_component("user_bot/booking_options/menus", {
      props: {
        business_owner_id: business_owner_id,
        booking_option: @booking_option.attributes.merge!(
          menus: @booking_option.booking_option_menus.includes(menu: :shop_menus).order("priority").map { |booking_option_menu|
            booking_option_menu.attributes.slice("priority", "required_time").merge(no_available_shop: !booking_option_menu.menu.shop_menus.exists?).reverse_merge!(menu_group_options(@menu_result[:menu_options], :minutes, :interval).find { |option| option["value"] == booking_option_menu.menu_id } || {})},
        ),
        attribute: @attribute,
        i18n: {
        }.merge!([
          t("settings.booking_option.form"),
          t("common").slice(:required_time, :minute, :are_you_sure_message),
          t("action").slice(:delete),
        ].inject(:merge))
      }
    },
    { camelize_props: false }
    ) %>

    <div class="action-block">
      <%= link_to edit_lines_user_bot_booking_option_path(business_owner_id, @booking_option, attribute: :new_menu), class: "btn btn-yellow" do %>
        <i class="fa fa-plus"></i> <span><%= I18n.t("settings.booking_option.form.new_menu") %></span>
      <% end %>

      <% if @booking_option.booking_option_menus.count == 0 %>
        <div class="danger margin-around">
          <%= I18n.t("settings.booking_option.form.form_errors.no_menu") %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if support_booking_options_menu_concept? %>
    <div class="field-header"><%= I18n.t("settings.booking_option.form.total_time") %></div>
    <%= render "lines/user_bot/field_row" do %>
      <span><%= "#{@booking_option.minutes}#{I18n.t("common.minute")}" %></span>
      <span><%= I18n.t("settings.booking_option.form.booking_options_total_time_tip") %></span>
    <% end %>
  <% end %>

  <% if support_menu_restrict_order? %>
    <div class="field-header" id="menu_restrict_order"><%= I18n.t("settings.booking_option.form.menu_restrict_order_label") %></div>
    <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_booking_option_path(business_owner_id, @booking_option, attribute: :menu_restrict_order), title: @booking_option.menu_restrict_order ? I18n.t("settings.booking_option.form.menu_restrict_order") : I18n.t("settings.booking_option.form.menu_restrict_dont_need_order") %>
  <% end %>

  <div class="field-header" id="price"><%= I18n.t("settings.booking_option.form.price_label") %></div>
  <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_booking_option_path(business_owner_id, @booking_option, attribute: :price), title: booking_price_desc(@booking_option) %>

  <div class="field-header" id="start_at"><%= I18n.t("settings.booking_option.form.sale_start") %></div>
  <%= render "lines/user_bot/field_row",
    path: edit_lines_user_bot_booking_option_path(business_owner_id, @booking_option, attribute: :start_at),
    title: @booking_option.start_at ? I18n.l(@booking_option.start_at, format: :long_date_with_wday) : I18n.t("settings.booking_option.form.sale_now")
  %>

  <div class="field-header" id="end_at"><%= I18n.t("settings.booking_option.form.sale_end") %></div>
  <%= render "lines/user_bot/field_row",
    path: edit_lines_user_bot_booking_option_path(business_owner_id, @booking_option, attribute: :end_at),
    title: @booking_option.end_at ? I18n.l(@booking_option.end_at, format: :long_date_with_wday) : I18n.t("settings.booking_option.form.sale_forever")
  %>

  <% if !support_booking_options_menu_concept? %>
    <div class="field-header"><%= t("user_bot.dashboards.settings.menu.minutes") %></div>
    <% @booking_option.menus.each do |menu| %>
      <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_menu_path(business_owner_id, id: menu.id, attribute: :minutes, back_path: lines_user_bot_booking_option_path(business_owner_id, @booking_option)), title: menu.minutes %>
    <% end %>


    <div class="field-header"><%= t("user_bot.dashboards.settings.menu.interval") %></div>
    <% @booking_option.menus.each do |menu| %>
      <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_menu_path(business_owner_id, id: menu.id, attribute: :interval, back_path: lines_user_bot_booking_option_path(business_owner_id, @booking_option)), title: menu.interval %>
    <% end %>

    <div class="field-header"><%= t("user_bot.dashboards.settings.menu.menu_shops") %></div>
    <% @booking_option.menus.each do |menu| %>
      <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_menu_path(business_owner_id, id: menu.id, attribute: :menu_shops, back_path: lines_user_bot_booking_option_path(business_owner_id, @booking_option)), title: ShopMenu.find_by(shop_id: @booking_option.user.shops.first.id, menu_id: menu.id).max_seat_number %>
    <% end %>

    <div class="field-header"><%= t("user_bot.dashboards.settings.menu.method") %></div>
    <% @booking_option.menus.each do |menu| %>
      <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_menu_path(business_owner_id, id: menu.id, attribute: :online, back_path: lines_user_bot_booking_option_path(business_owner_id, @booking_option)), title: t("user_bot.dashboards.settings.menu.methods.#{menu.online ? "online" : "local"}") %>
    <% end %>
  <% end %>


  <div class="field-group-header" id="memo"><%= I18n.t("settings.booking_option.form.note_label") %></div>
  <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_booking_option_path(business_owner_id, @booking_option, attribute: :memo), title: @booking_option.memo %>

  <div class="action-block">
    <%= link_to lines_user_bot_booking_option_path(business_owner_id, @booking_option),
      method: :delete, data: { confirm: I18n.t("common.are_you_sure_message") }, class: "btn btn-orange" do %>
      <i class="fa fa-minus"></i> <span><%= I18n.t("settings.booking_option.form.delete_option") %></span>
    <% end %>
  </div>

  <%= render "lines/user_bot/bottom_navigation_bar", klass: "centerize sticky" do %>
    <span><%= I18n.t("common.updated_date") %> <%= I18n.l(@booking_option.updated_at, format: :long_date) %></span>
  <% end %>
</div>

