<div id="subNav">
  <h2><%= t("settings.account.info_title") %> − <%= t("settings.plans.info_title1") %></h2>
</div>
<div id="about">
  <p><%= t("settings.plans.info_1") %><br /><%= t("settings.plans.info_2") %></p>
</div>

<%
    shop_number_over_charge_threshold = current_user.shops.count - Plans::Fee::SHOP_NUMBER_CHARGE_THRESHOLD
    exceeded_staff_number = current_user.staffs.count - 1
%>

<div class="plans">
  <% if (!Rails.configuration.x.env.production?) && current_user.permission_level != Plan::FREE_LEVEL %>
    <%= link_to "速攻ダウングレード", downgrade_settings_payments_path, class: "btn btn-orange" %>
  <% end %>
  <%=
    if current_user.business_member?
      render "business", shop_number_over_charge_threshold: shop_number_over_charge_threshold, exceeded_staff_number: exceeded_staff_number
    elsif current_user.child_plan_member?
      render "child", shop_number_over_charge_threshold: shop_number_over_charge_threshold, exceeded_staff_number: exceeded_staff_number
    else
      render "regular", shop_number_over_charge_threshold: shop_number_over_charge_threshold, exceeded_staff_number: exceeded_staff_number
    end
  %>
</div>
