<div id="subNav">
  <h2><%= t("settings.account.info_title") %> − <%= t("settings.plans.info_title1") %></h2>
</div>
<div id="about">
  <p><%= t("settings.plans.info_1") %><br /><%= t("settings.plans.info_2") %></p>
</div>

<div class="plans">
  <%= content_tag :div,
    id: "plans",
    data: {
      formAuthenticityToken: form_authenticity_token,
      paymentPath: settings_payments_path,
      stripeKey: Rails.application.secrets.stripe_publishable_key,
      email: current_user.email,
      processing_message: I18n.t("common.processing"),
      locale: I18n.default_locale,
      currentPlanLevel: current_user.subscription.current_plan.level,
      plans: @plans_properties,
      planLabels: @plan_labels,
      chargeDirectly: @charge_directly,
      paymentsPath: settings_payments_path,
      defaultUpgradePlan: @default_upgrade_plan,
      hasInvalidShops: current_user.has_invalid_shops?
    }.to_json,
    i18n: {
      currentPlan: t("settings.plans.plan_info.current_plan"),
      upgradeImmediately: t("settings.plans.upgrade.immediately"),
      upgradeImmediatelyDesc: t("settings.plans.upgrade.immediately_desc"),
      upgradeLater: t("settings.plans.upgrade.later"),
      upgradeCaptionTitle: t("settings.plans.upgrade.caption_title"),
      upgradeCaptionDesc: t("settings.plans.upgrade.caption_desc"),
      upgradeLaterDesc: t("settings.plans.upgrade.later_desc", expired_date: l(current_user.subscription&.expired_date || Date.today)),
      cancel: t("action.cancel"),
      save: t("settings.plans.save"),
      saveAndPay: t("settings.plans.save_and_pay"),
      downgradeTitle: t("settings.plans.downgrade.modal_title"),
      downgradeDesc: t("settings.plans.downgrade.desc"),
      downgradeLabel1: t("settings.plans.downgrade.label1"),
      downgradeDesc1: t("settings.plans.downgrade.desc1", expired_date: l(current_user.subscription&.expired_date || Date.today)),
      downgradeLabel2: t("settings.plans.downgrade.label2"),
      downgradeDesc2: t("settings.plans.downgrade.desc2", after_expired_date: l(current_user.subscription&.expired_date&.tomorrow || Date.today)),
      downgradeCancelBtn: t("settings.plans.downgrade.cancel_btn"),
      downgradeConfirmBtn: t("settings.plans.downgrade.confirm_btn"),
      chargeFailedTitle: t("settings.plans.payment.failed_title"),
      chargeFailedDesc1: t("settings.plans.payment.failed_desc1"),
      chargeFailedDesc2: t("settings.plans.payment.failed_desc2"),
    }.to_json do %>
  <% end %>
</div>
<%= javascript_pack_tag 'plans_component' %>
