<div id="subNav">
  <h2><%= t("settings.account.info_title") %> − <%= t("settings.plans.info_title1") %></h2>
</div>
<div id="about">
  <p><%= t("settings.plans.info_1") %><br /><%= t("settings.plans.info_2") %></p>
</div>

<div class="plans">
  <%= content_tag :div,
    id: "plans",
    data: {
      formAuthenticityToken: form_authenticity_token,
      paymentPath: settings_payments_path,
      stripeKey: Rails.application.secrets.stripe_publishable_key,
      email: current_user.email,
      processing_message: I18n.t("common.processing"),
      locale: I18n.default_locale,
      currentPlanLevel: current_user.subscription.current_plan.level,
      plans: @plans_properties,
      planLabels: @plan_labels,
      isFirstTimeSubscribe: @is_first_time_subscribe
    }.to_json,
    i18n: {
      currentPlan: t("settings.plans.plan_info.current_plan"),
      upgradeImmediately: t("settings.plans.upgrade.immediately"),
      upgradeLater: t("settings.plans.upgrade.later"),
    }.to_json do %>
  <% end %>
</div>
<%= javascript_pack_tag 'plans_component' %>
