<%= jump_out_modal(over_free_limit_lines_user_bot_warnings_path(business_owner_id: business_owner_id), static: true) if Current.business_owner.subscription.over_free_limit? %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="form with-top-bar">
        <div class="action-block centerize">
          <%= button_to page_lines_user_bot_bookings_path(business_owner_id: business_owner_id), class: "btn btn-tarco btn-extend btn-flexible", method: :post do %>
            <i class="fa fa-calendar-alt fa-4x"></i>
            <h3 class="p-1"><%= I18n.t("user_bot.dashboards.booking.booking_page_creation.label") %></h3>
            <p class="p-2 white-space-initial text-left">
            <%= I18n.t("user_bot.dashboards.booking.booking_page_creation.description") %>
            </p>
          <% end %>
        </div>

        <% if Current.business_owner.booking_pages.exists? %>
          <div class="action-block centerize">
            <%= link_to new_lines_user_bot_booking_option_path(business_owner_id: business_owner_id), class: "btn btn-tarco btn-extend btn-flexible" do %>
              <i class="fa fa-list fa-4x"></i>
              <h3 class="p-1"><%= I18n.t("user_bot.dashboards.booking.booking_option_creation.label") %></h3>
              <p class="p-2 white-space-initial text-left">
              <%= I18n.t("user_bot.dashboards.booking.booking_option_creation.description") %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
