<%= form_for(customer, url: url) do |f| %>
  <%= render "settings/form_errors", object: customer %>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
