<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">
        <%= t("dashboard.modal.customer.data_changed_title") %>
      </h4>
    </div>
    <div class="modal-body">
      <%= t("dashboard.modal.customer.customer_change_request_desc", customer_name: @customer.name) %><br /><br />

      <div class="reservation-info-row">
        <strong><%= I18n.t("dashboard.modal.customer.current_info") %>:</strong>
        <p>
          <% @reservation_customer.customer_info.name_attributes.each do |changed_attr, value| %>
            <%= Customer.human_attribute_name(changed_attr) %>: <%= @customer.public_send(changed_attr).presence || "No-data" %><br />
          <% end %>

          <% if @reservation_customer.customer_info.phone_number %>
            <%= Customer.human_attribute_name("phone_number") %>: <%= @customer.phone_number.presence || "No-data" %><br />
          <% end %>

          <% if @reservation_customer.customer_info.email %>
            <%= Customer.human_attribute_name("email") %>: <%= @customer.email.presence || "No-data" %><br />
          <% end %>

          <% if @reservation_customer.customer_info.sorted_address_details.present? %>
            <%= Customer.human_attribute_name("address") %>: <%= @customer.display_address.presence || "No-data" %><br />
          <% end %>
        </p>
      </div>

      <div class="reservation-info-row">
        <strong><%= I18n.t("dashboard.modal.customer.change_request_info") %>:</strong>
        <p>
          <% @reservation_customer.customer_info.personal_info_attributes.each do |changed_attr, value| %>
            <%= Customer.human_attribute_name(changed_attr) %>: <%= value %><br />
          <% end %>

          <% if @reservation_customer.customer_info.sorted_address_details.present? %>
            <%= Customer.human_attribute_name("address") %>: <%= @reservation_customer.display_changed_address %><br />
          <% end %>
        </p>
      </div>
      <%= render "reservations/show_modal/booking_from", reservation_customer: @reservation_customer, reservation: @reservation %>
    </div>
    <div class="modal-footer">
      <%= link_to t("action.save_changes"),
        site_routing_helper.save_changes_user_customers_path(@reservation_customer),
        class: "btn btn-yellow",
        remote: true,
        method: :patch,
        data: { controller: "save-customer-changes" }
      %>
      <%= link_to t("action.ignore"), "#", class: "btn btn-gray", data: { dismiss: "modal" } %>
    </div>
  </div>
</div>
