<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<%= link_to 'Edit', edit_shop_customer_path(shop, @customer) %> |
<%= link_to 'Back', shop_customers_path(shop) %>
