<div class="booking-content">
  <%= render "service_header", online_service_hash: online_service_hash %>
  <div class="done-view">
    <h2 class="title">
      <%= online_service_hash[:name] %>
    </h2>
    <h3 class="reminder-mark desc">
      <%= I18n.t("common.only_for_login_user") %>
    </h3>
    <div class="message break-line-content centerize"><%= t("common.read_required_login_user_html") %></div>

    <% if line_login_url(current_owner.social_account, request.url) %>
      <div class="message centerize">
        <h3 class="desc break-line-content"><%= t("common.login_to_watch_html") %></h3>

        <a href="<%= line_login_url(current_owner.social_account, request.url) %>" class="btn line-button with-wording with-logo" data-method="post">
          <%= image_pack_tag "media/assets/booking/btn_login_base.png" %>
          <%= I18n.t("common.line_login_btn_word") %>
        </a>
      </div>
    <% end %>

    <% if current_owner.social_account&.add_friend_url %>
      <div class="message centerize">
        <h3 class="desc break-line-content"><%= t("common.add_friend_to_follow_information_html") %></h3>

        <a href=<%= current_owner.social_account&.add_friend_url %> class="btn line-button with-wording with-logo">
          <%= image_pack_tag "media/assets/booking/btn_login_base.png" %>
          <%= I18n.t("action.add_as_friend") %>
        </a>
      </div>
    <% end %>
  </div>
</div>
