<div class="booking-content">
  <div class="header border-0 border-b border-solid border-gray-500">
    <div class="header-title-part">
      <% if online_service_hash[:logo_url] %>
        <img class="logo" src='<%= online_service_hash[:logo_url] %>' />
      <% else %>
        <h2><%= online_service_hash[:company_info][:name] %></h2>
      <% end %>
    </div>
  </div>
  <div class="done-view">
    <h2 class="title">
      <%= online_service_hash[:name] %>
    </h2>
    <h3 class="reminder-mark desc">
      Service unavailable
    </h3>

    <div class="message centerize">
      <div>Start date: <%= service_member.start_date_text %></div>
      <div>End date: <%= service_member.end_date_text %></div>
    </div>
  </div>
</div>
