<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0">
      <div class="service-show form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_service_path(@online_service), title: I18n.t("user_bot.dashboards.settings.course.lessons.show.title") %>
        <div class="field-group-header" id="content"><%= I18n.t("user_bot.dashboards.settings.course.lessons.show.content_label") %></div>

        <%= react_component("user_bot/services/chapters/index", {
          props: {
            online_service_id: @online_service.id,
            chapter_with_lessons: @online_service.chapters.includes(:lessons).map { |chapter| { chapter_id: "chapter_#{chapter.id}", id: chapter.id, lessons: chapter.lessons.pluck(:id) } },
            chapters: @online_service.chapters.each_with_object({}) { |chapter, h| h[chapter.id] = { id: chapter.id, name: chapter.name } },
            lessons: @online_service.lessons.each_with_object({}) { |lesson, h| h[lesson.id] = { id: lesson.id, name: lesson.name } }
          },
        },
        { camelize_props: false }
        ) %>

        <div class="action-block border-0 border-t border-solid border-gray-500">
          <%= link_to I18n.t("user_bot.dashboards.settings.course.add_a_chapter"), new_lines_user_bot_service_chapter_path(@online_service), class: "btn btn-yellow btn-extend my-2" %>
        </div>

        <%= render "lines/user_bot/bottom_navigation_bar", klass: "centerize" do %>
          <span><%= I18n.t("common.updated_date") %> <%= I18n.l(@online_service.updated_at, format: :long_date) %></span>

          <% mobile_only do %>
            <%= link_to "#", data: { toggle: "modal", target: "#previewModal" }, class: "btn btn-tarco btn-circle btn-save btn-tweak btn-with-word" do %>
              <i class="fa fa-share-square fa-2x"></i>
              <div class="word"><%= I18n.t("action.preview") %></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% non_mobile do %>
      <div class="col-sm-6 px-0 hidden-xs">
        <div class="fake-mobile-layout">
          <%= react_component("user_bot/services/online_service_page/course", { course: @course_hash, lesson_ids: [], preview: true }, { camelize_props: false }) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% mobile_only do %>
  <%= render "lines/user_bot/services/preview_modal", service: @online_service %>
<% end %>
