<div class="modal fade" id="previewModal" tabindex="-1" role="dialog">
  <div class="modal-dialog booking-preview-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <%= t("user_bot.dashboards.services.preview_the_service") %>
        </h4>
      </div>
      <div class="modal-body">
        <div class="text-right">
          <span class="preview-mark">
            <%= I18n.t("common.preview") %>
          </span>
        </div>
        <% if service.course? %>
          <%= react_component("user_bot/services/online_service_page/course", { course: @course_hash, lesson_ids: [], preview: true }, { camelize_props: false }) %>
        <% else %>
          <%= react_component("user_bot/services/online_service_page", @online_service_hash, { camelize_props: false }) %>
        <% end %>
      </div>
      <div class="modal-footer centerize">
        <%= link_to I18n.t("user_bot.dashboards.services.show_the_service"), online_service_url(slug: service.slug), class: "btn btn-tarco" %>
      </div>
    </div>
  </div>
</div>
