<%= jump_out_modal(trial_end_lines_user_bot_warnings_path(business_owner_id: business_owner_id), static: true) if !Current.business_owner.subscription.active? %>
<%= jump_out_modal(lines_user_bot_tours_line_settings_required_for_online_service_path(business_owner_id: business_owner_id), static: true) if !Current.business_owner.social_account&.line_settings_finished? && support_japanese_asset? %>
<%= jump_out_modal(line_verified_required_lines_user_bot_warnings_path(business_owner_id: business_owner_id), static: true) if !Current.business_owner.social_account&.line_settings_verified? %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="booking-options form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", title: I18n.t("user_bot.dashboards.services.online_service") %>


        <div class="field-header"><%= I18n.t("user_bot.dashboards.services.service_page") %></div>
        <div class="booking-pages-list">
          <% @online_services.each do |service| %>
            <%= content_tag :div, class: "field-row with-next-arrow" do %>
              <div>
                <%= link_to lines_user_bot_service_path(service, business_owner_id: business_owner_id) do %>
                  <h3 class="underline text-gray-700"><%= service.internal_name.presence || service.name %></h3>
                  <div class="desc"><%= I18n.t("user_bot.dashboards.online_service_creation.goals.#{service.goal_type}.title") %></div>
                <% end %>
                <% if @online_services_with_sale_page_ids.exclude?(service.id) %>
                  <div class="warning">
                    <small><i class="fas fa-exclamation-triangle"></i> <%= I18n.t("user_bot.dashboards.services.warning.no_sale_pages") %></small>
                    <%= link_to new_lines_user_bot_sales_online_service_path(business_owner_id: business_owner_id, slug: service.slug), class: "btn btn-yellow  btn-save btn-tweak" do %>
                      <i class="fas fa-plus"></i>
                    <% end %>
                  </div>
                <% end %>
                <% if @online_services_with_draft_sale_page_ids.key?(service.id) %>
                  <div class="warning">
                    <small><i class="fas fa-exclamation-triangle"></i> <%= I18n.t("user_bot.dashboards.services.warning.draft_sale_page") %></small>
                    <% @online_services_with_draft_sale_page_ids[service.id].each do |sale_page| %>
                      <%= link_to bot_sale_page_path(sale_page), class: "btn btn-yellow  btn-save btn-tweak" do %>
                        <%= t("action.continue_editing") %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <% if @course_without_chapter_ids.include?(service.id) %>
                  <div class="warning">
                    <small><i class="fas fa-exclamation-triangle"></i> <%= I18n.t("user_bot.dashboards.settings.course.no_content") %></small>
                    <%= link_to lines_user_bot_service_chapters_path(service, business_owner_id: business_owner_id), class: "btn btn-yellow  btn-save btn-tweak" do %>
                      <i class="fas fa-plus"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <i class="fa fa-angle-right"></i>
            <% end %>
          <% end %>

          <% if is_not_phone? %>
            <div class="margin-around centerize">
              <%= link_to new_lines_user_bot_service_path(business_owner_id: business_owner_id), class: "btn btn-yellow" do %>
            <i class="fa fa-plus"></i>
                <%= t("action.add_more") %>
              <% end %>
            </div>
          <% end %>
        </div>

        <%= render "lines/user_bot/bottom_navigation_bar", klass: "centerize" do %>
          <%= link_to new_lines_user_bot_service_path(business_owner_id: business_owner_id), class: "btn btn-yellow btn-circle btn-save btn-tweak btn-with-word" do %>
            <i class="fas fa-plus fa-2x"></i>
            <div class="word"><%= I18n.t("action.add_more") %></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
