<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="service-show form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_services_path(business_owner_id: business_owner_id), title: I18n.t("user_bot.dashboards.services.service_page") %>

        <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.services.service_about") %></div>
        <div class="field-header"><%= I18n.t("user_bot.dashboards.services.name") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_path(@service, business_owner_id: business_owner_id, attribute: :name), title: @service.name %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.services.internal_name") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_path(@service, business_owner_id: business_owner_id, attribute: :internal_name), title: @service.internal_name %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.services.shop") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_path(@service, business_owner_id: business_owner_id, attribute: :company), title: @service.company.company_name %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.services.card_image") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_path(@service, business_owner_id: business_owner_id, attribute: :message_template) do %>
          <% if @service.message_template&.picture&.attached? %>
            <%= image_tag(Images::Process.run!(image: @service.message_template.picture, resize: "640x416"), class: "preview-image") %>
          <% else %>
            <div><%= t("user_bot.dashboards.services.default_card_image") %></div>
            <%= image_tag(@service.default_picture_url, class: "preview-image") %>
          <% end %>
        <% end %>

        <% if @service.single_content? %>
          <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.services.content") %></div>
          <div class="field-header"><%= I18n.t("user_bot.dashboards.services.provided_content") %></div>
          <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_path(@service, business_owner_id: business_owner_id, attribute: :content_url) do %>
            <span class="dotdotdot"><%= @service.content_url %></span>
            <%= image_tag(@service.thumbnail_url, class: "preview-image") if @service.thumbnail_url %>
          <% end %>

          <% if @service.external? %>
            <div class="field-header"><%= I18n.t("user_bot.dashboards.services.form.external_purchase_url_title") %></div>
            <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_path(@service, business_owner_id: business_owner_id, attribute: :external_purchase_url) do %>
              <span class="dotdotdot"><%= @service.external_purchase_url %></span>
            <% end %>
          <% end %>

          <div class="field-header"><%= I18n.t("user_bot.dashboards.services.form.note_title") %></div>
          <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_path(@service, business_owner_id: business_owner_id, attribute: :note), title: @service.note %>

          <div class="field-header"><%= I18n.t("user_bot.dashboards.services.upsell") %></div>
          <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_path(@service, business_owner_id: business_owner_id, attribute: :upsell_sale_page) do %>
            <span><%= @service.sale_page&.product&.name %></span>
          <% end %>
        <% end %>

        <% if @service.bundler? %>
          <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.services.content") %></div>
          <div class="field-header"><%= I18n.t("user_bot.dashboards.services.provided_content") %></div>
          <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_path(@service, business_owner_id: business_owner_id, attribute: :bundled_services) do %>
            <span class="dotdotdot"><%= @service.bundled_services.count %><%= I18n.t("user_bot.dashboards.services.service_item") %></span>
          <% end %>
        <% end %>

        <div class="field-group-header" id="name"><%= I18n.t("user_bot.dashboards.services.available_period") %></div>
        <div class="field-header"><%= I18n.t("user_bot.dashboards.services.start_time") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_path(@service, business_owner_id: business_owner_id, attribute: :start_time), title: @service.start_time_text %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.services.end_time") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_path(@service, business_owner_id: business_owner_id, attribute: :end_time), title: @service.end_time_text %>

        <div class="field-group-header" id="customer_address_required"><%= I18n.t("user_bot.dashboards.services.form.customer_address_required") %></div>
        <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_service_path(@service, business_owner_id: business_owner_id, attribute: :customer_address_required), title: @service.customer_address_required ? I18n.t("user_bot.dashboards.services.form.customer_address_required_label") : I18n.t("user_bot.dashboards.services.form.not_customer_address_required_label") %>

        <div class="field-group-header" id="auto_message"><%= t("user_bot.dashboards.settings.custom_message.line_message_title") %></div>
        <%= render "lines/user_bot/field_row", path: lines_user_bot_service_custom_messages_path(@service, business_owner_id: business_owner_id), title: t("user_bot.dashboards.settings.custom_message.auto_message_service_label") %>

        <div class="field-group-header" id="auto_message"><%= t("sidebar.broadcast.title") %></div>
        <%= render "lines/user_bot/field_row", path: new_lines_user_bot_broadcast_path(business_owner_id: business_owner_id, online_service_id: @service.id), title: t("user_bot.dashboards.services.form.broadcast_to_customers") %>

        <% if @service.membership? %>
          <div class="field-group-header" id="chapters"><%= t("user_bot.dashboards.settings.course.chapters.title") %></div>
          <%= render "lines/user_bot/field_row", path: lines_user_bot_service_episodes_path(@service, business_owner_id: business_owner_id) do %>
            <% if @episodes_count.zero? %>
              <span class="warning flex items-center"><i class="fas fa-exclamation-circle"></i>&nbsp;<%= t("user_bot.dashboards.settings.course.no_content") %></span>
            <% else %>
              <span class="flex items-center"><%= @episodes_count %></span>
            <% end %>
          <% end %>
        <% end %>

        <% if @service.course_like? %>
          <div class="field-group-header" id="chapters"><%= t("user_bot.dashboards.settings.course.chapters.title") %></div>
          <%= render "lines/user_bot/field_row", path: lines_user_bot_service_chapters_path(@service, business_owner_id: business_owner_id) do %>
            <% if @lessons_count.zero? && @chapters_count.zero? %>
              <span class="warning flex items-center"><i class="fas fa-exclamation-circle"></i>&nbsp;<%= t("user_bot.dashboards.settings.course.no_content") %></span>
            <% elsif @lessons_count.zero? %>
              <div class="flex"><span class="warning flex items-center"><i class="fas fa-exclamation-circle"></i>&nbsp;<%= @lessons_count %> <%= t("common.lesson") %></span>&nbsp;/&nbsp;<%= @chapters_count %> <%= t("common.chapter") %></div>
            <% else %>
              <span class="flex items-center"><%= @lessons_count %> <%= t("common.lesson") %> / <%= @chapters_count %> <%= t("common.chapter") %></span>
            <% end %>
          <% end %>
        <% end %>

        <div class="field-group-header" id="auto_message"><%= t("user_bot.dashboards.settings.service_customer_relation.service_register") %></div>
        <%= render "lines/user_bot/field_row", path: lines_user_bot_service_customers_path(@service, business_owner_id: business_owner_id) do %>
          <div class="flex justify-between">
            <span><%= t("user_bot.dashboards.settings.service_customer_relation.register") %></span>
            <span><%= t("common.total") %><%= @registers_count %><%= t("common.person_unit") %></span>
          </div>
        <% end %>

        <div class="action-block">
          <%= link_to lines_user_bot_service_path(@service, business_owner_id: business_owner_id), method: :delete, data: { confirm: I18n.t("common.are_you_sure_message") }, class: "btn btn-orange" do %>
            <i class="fa fa-minus"></i> <span><%= I18n.t("action.delete") %></span>
          <% end %>
        </div>

        <% mobile_only do %>
          <%= render "lines/user_bot/bottom_navigation_bar", klass: "centerize" do %>
            <span><%= I18n.t("common.updated_date") %> <%= I18n.l(@service.updated_at, format: :long_date) %></span>
              <% if @service.has_preview? %>
                <%= link_to "#", data: { toggle: "modal", target: "#previewModal" }, class: "btn btn-yellow btn-circle btn-save btn-tweak btn-with-word btn-bottom-left" do %>
                  <i class="fa fa-share-square fa-2x"></i>
                  <div class="word"><%= I18n.t("action.preview") %></div>
                <% end %>
              <% end %>

              <%= link_to "#", data: { toggle: "modal", target: "#salePagesModal" }, class: "btn btn-tarco btn-circle btn-save btn-tweak btn-with-word" do %>
                <i class="fa fa-share-square fa-2x"></i>
                <div class="word"><%= I18n.t("action.share") %></div>
              <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% non_mobile do %>
      <div class="col-sm-6 px-0 hidden-xs preview-view">
        <div class="margin-around centerize">
          <%= link_to "#", data: { toggle: "modal", target: "#salePagesModal" }, class: "btn btn-tarco" do %>
            <%= I18n.t("action.share") %>
          <% end %>
        </div>

        <% if @sale_page %>
          <div class="margin-around">
              <h4><%= t("user_bot.dashboards.sales.edit.sale_pages") %></h4>
              <%= text_field_tag :sale_page_url, sale_page_url(slug: @sale_page.slug), read_only: true, class: 'extend',
                data: {
                  controller: "clipboard",
                  action: "click->clipboard#copy",
                  clipboard_text: sale_page_url(slug: @sale_page.slug),
                  clipboard_popup_text: t("common.copied")
                }
              %>

            <div class="centerize margin-around purchase-buttons">
              <%= button_tag t("action.copy_url2"), class: "btn btn-tarco",
                data: {
                  controller: "clipboard",
                  action: "click->clipboard#copy",
                  clipboard_text: sale_page_url(slug: @sale_page.slug),
                  clipboard_popup_text: t("common.copied")
                } %>
              <%= render 'lines/user_bot/sales/copy_buttons', sale_page: @sale_page %>
            </div>
          </div>
        <% end %>

        <div class="margin-around">
          <h3><%= t("user_bot.dashboards.services.online_service") %></h3>
          <%= text_field_tag :service_url, online_service_url(slug: @service.slug), read_only: true, class: 'extend',
            data: {
              controller: "clipboard",
              action: "click->clipboard#copy",
              clipboard_text: online_service_url(slug: @service.slug),
              clipboard_popup_text: t("common.copied")
            }
          %>
          <div class="centerize margin-around">
            <%= qrcode_img(online_service_url(slug: @service.slug)) %>
          </div>
        </div>

        <% if @service.course_like? %>
          <div class="fake-mobile-layout">
            <%= react_component("user_bot/services/online_service_page/course", { course: @course_hash, lesson_ids: [], preview: true }, { camelize_props: false }) %>
          </div>
        <% elsif @service.has_preview? %>
          <div class="fake-mobile-layout">
            <%= react_component("user_bot/services/online_service_page", @online_service_hash, { camelize_props: false }) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% mobile_only do %>
    <%= render "lines/user_bot/services/preview_modal", service: @service if @service.has_preview? %>
    
  <% end %>
  <div class="modal fade" id="salePagesModal" tabindex="-1" role="dialog">
    <div class="modal-dialog booking-preview-modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            <%= t("user_bot.dashboards.sales.modal.title") %>
          </h4>
        </div>
        <div class="form">
          <div class="margin-around">
            <%= t("user_bot.dashboards.sales.modal.description") %>
          </div>

          <% if support_japanese_asset? %>
            <%= image_pack_tag "media/assets/user_bot/sale_page_introduction.png", class: "w-full" %>
          <% end %>

          <div class="field-header"><%= I18n.t("user_bot.dashboards.sales.edit.sale_pages") %></div>
          <div class="booking-pages-list">
            <% @sale_pages.each do |sale_page| %>
              <% next unless sale_page.product %>
              <%= render 'lines/user_bot/sales/row', sale_page: sale_page %>
            <% end %>
          </div>
          <div class="margin-around centerize">
            <%= link_to new_lines_user_bot_sales_online_service_path(business_owner_id: business_owner_id, slug: @service.slug), class: "btn btn-yellow" do %>
              <%= t("user_bot.dashboards.sales.modal.create_sale_page") %>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    </div>
