<%= t("user_bot.dashboards.change_logs.notification_message_html", change_log_path: lines_user_bot_change_log_path) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="settings-dashboard form with-top-bar">
        <h3><%= I18n.t("user_bot.dashboards.settings.dashboard.title") %></h3>

        <div class="dashboard">
          <div class="flex justify-center items-center flex-col p-6 border-0 border-solid border-gray-500">
            <div>
              <%= I18n.t("user_bot.dashboards.settings.dashboard.now_state") %>
            </div>
            <div>
              <strong><span class="big"><%= @total_customer_count %></span><span> / <%= @total_customer_limit %></span></strong>
            </div>
            <div class="desc">
              <%= I18n.t("user_bot.dashboards.settings.dashboard.customer_info_state") %>
            </div>
          </div>
          <div class="flex justify-center items-center flex-col p-6 border-0 border-t border-solid border-gray-500">
            <div><%= t("user_bot.dashboards.settings.dashboard.last_thirty_customers_payment") %></div>
            <strong><span class="big"><%= @customers_payment %></span></strong>
            <% mobile_only do %>
              <div><%= t("user_bot.dashboards.settings.dashboard.web_details_page") %></div>
              <div><%= "https://#{ENV['MAIL_DOMAIN']}/#{I18n.locale}/userlogin" %></div>
            <% end %>
          </div>
        </div>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.settings.dashboard.info_label") %></div>

        <%= link_to lines_user_bot_settings_profile_path(business_owner_id: business_owner_id), class: "field-row" do %>
          <span><%= t("settings.profile.user_info") %></span><i class="fa fa-angle-right"></i>
        <% end %>
        <%= link_to company_lines_user_bot_settings_profile_path(business_owner_id: business_owner_id), class: "field-row" do %>
          <span><%= t("settings.profile.company_info") %></span><i class="fa fa-angle-right"></i>
        <% end %>

        <%= link_to lines_user_bot_settings_staffs_path(business_owner_id: business_owner_id), class: "field-row" do %>
          <span><%= t("user_bot.dashboards.settings.company.staffs") %></span><i class="fa fa-angle-right"></i>
        <% end %>

        <% if support_official_support_display? %>
          <%= link_to lines_user_bot_settings_consultants_path(business_owner_id: business_owner_id), class: "field-row" do %>
            <span><%= t("user_bot.dashboards.settings.company.consultants") %></span><i class="fa fa-angle-right"></i>
          <% end %>
        <% end %>

        <div class="field-header"><%= t("settings.plans.plan_info.caption") %></div>

        <%= link_to lines_user_bot_settings_plans_path(business_owner_id: business_owner_id), class: "field-row" do %>
          <div>
            <%= t("settings.plans.plan_info.plan_member", plan_name: Current.business_owner.member_plan_name) %><br />
            <div class="desc">
              <%= t("settings.plans.plan_info.status") %>: <%= subscription_status(@subscription) %><br />
              <% if Current.business_owner.trial_member? %>
                <%= l(Current.business_owner.trial_expired_date) %>
              <% else %>
                <%= @subscription.expired_date && l(@subscription.expired_date) if @subscription.active? && @subscription.charge_required %>
                <%= " (#{@subscription.next_plan.name}#{t("common.ready_to_change")})" if @subscription.active? && @subscription.next_plan %>
              <% end %>
            </div>
          </div>
          <i class="fa fa-angle-right"></i>
        <% end %>

        <%= link_to lines_user_bot_settings_payments_path(business_owner_id: business_owner_id), class: "field-row" do %>
          <span><%= t("user_bot.dashboards.settings.dashboard.payments_label") %></span><i class="fa fa-angle-right"></i>
        <% end %>

        <div class="field-header"><%= t("user_bot.dashboards.settings.dashboard.line_label") %></div>
        <%= link_to message_api_lines_user_bot_settings_social_account_path(business_owner_id: business_owner_id), class: "field-row" do %>
          <span><%= t("user_bot.dashboards.settings.dashboard.line_message_api_label") %></span><i class="fa fa-angle-right"></i>
        <% end %>
        <%= link_to login_api_lines_user_bot_settings_social_account_path(business_owner_id: business_owner_id), class: "field-row" do %>
          <span><%= t("user_bot.dashboards.settings.dashboard.line_login_api_label") %></span><i class="fa fa-angle-right"></i>
        <% end %>
        <% if @social_account && @social_account.line_settings_verified? %>
          <%= link_to edit_lines_user_bot_settings_social_account_rich_menu_path(business_owner_id: business_owner_id), class: "field-row" do %>
            <span><%= t("user_bot.dashboards.settings.dashboard.line_rich_menu") %></span>
            <span>
              <span>
                <%= @social_account.using_line_official_account? ? t("user_bot.dashboards.settings.rich_menu.manual") : t("user_bot.dashboards.settings.rich_menu.auto") %>
              </span>
              <i class="fa fa-angle-right"></i>
            </span>
          <% end %>
        <% end %>

        <div class="field-header"><%= t("user_bot.dashboards.settings.business_schedules.reservation_management") %></div>

        <% if Current.business_owner.shops.count == 1 %>
          <% shop = Current.business_owner.shops.first %>
          <%= link_to lines_user_bot_settings_shop_path(business_owner_id, shop.id), class: "field-row" do %>
            <span><%= I18n.t("user_bot.dashboards.settings.shop.shop_info_label") %></span><i class="fa fa-angle-right"></i>
          <% end %>
          <%= link_to index_lines_user_bot_settings_business_schedules_path(business_owner_id: business_owner_id, shop_id: shop.id), class: "field-row" do %>
            <span><%= t("user_bot.dashboards.settings.business_schedules.business_time") %></span><i class="fa fa-angle-right"></i>
          <% end %>
          <%= link_to lines_user_bot_settings_shop_custom_messages_path(shop_id: shop.id, business_owner_id: business_owner_id), class: "field-row" do %>
            <span><%= t("user_bot.dashboards.settings.custom_messages.auto_message") %></span><i class="fa fa-angle-right"></i>
          <% end %>

        <% else %>
          <%= link_to lines_user_bot_settings_shops_path(business_owner_id: business_owner_id), class: "field-row" do %>
            <span><%= I18n.t("user_bot.dashboards.settings.shop.shop_info_label") %></span><i class="fa fa-angle-right"></i>
          <% end %>
          <%= link_to shops_lines_user_bot_settings_business_schedules_path(business_owner_id: business_owner_id), class: "field-row" do %>
            <span><%= t("user_bot.dashboards.settings.business_schedules.business_time") %></span><i class="fa fa-angle-right"></i>
          <% end %>
          <%= link_to custom_messages_lines_user_bot_settings_shops_path(business_owner_id: business_owner_id), class: "field-row" do %>
            <span><%= t("user_bot.dashboards.settings.custom_messages.auto_message") %></span><i class="fa fa-angle-right"></i>
          <% end %>
        <% end %>


        <%
=begin%>
 <%= link_to edit_lines_user_bot_settings_user_setting_path(business_owner_id: business_owner_id, attribute: "line_contact_customer_name_required"), class: "field-row" do %>
          <span><%= t("user_bot.dashboards.settings.user_settings.line_contact_customer_name_required.title") %></span><i class="fa fa-angle-right"></i>
        <% end %> 
<%
=end%>
        <div class="field-header"><%= t("user_bot.dashboards.settings.stripe.title") %></div>
        <% if support_stripe_payment? %>
          <%= link_to lines_user_bot_settings_stripe_path(business_owner_id: business_owner_id), class: "field-row" do %>
            <span><%= "Stripe" %> <%= "(#{t("common.default")})" if business_owner.stripe_provider&.default_payment? %></span><i class="fa fa-angle-right"></i>
          <% end %>
        <% end %>

        <% if support_square_payment? %>
          <%= link_to lines_user_bot_settings_square_path(business_owner_id: business_owner_id), class: "field-row" do %>
            <span><%= "Square" %> <%= "(#{t("common.default")})" if business_owner.square_provider&.default_payment? %></span><i class="fa fa-angle-right"></i>
          <% end %>
        <% end %>

        <% if support_faq_display? %>
          <div class="field-header"><%= t("user_bot.dashboards.settings.support.user_support") %></div>
          <%= link_to data_by_locale(:official_site_url) + "/help/", class: "field-row", target: '_blank' do %>
            <span><%= t("user_bot.dashboards.settings.support.documents") %></span><i class="fa fa-angle-right"></i>
          <% end %>
          <%= link_to data_by_locale(:official_site_url) + "/faq/", class: "field-row", target: '_blank' do %>
            <span><%= t("user_bot.dashboards.settings.support.faq") %></span><i class="fa fa-angle-right"></i>
          <% end %>
        <% end %>

        <%
=begin%>
 <div class="field-header"><%= t("user_bot.dashboards.settings.support.toruya_lab") %></div>
        <%= link_to edit_lines_user_bot_settings_user_setting_path(business_owner_id: business_owner_id, attribute: "booking_options_menu_concept", back_path: lines_user_bot_settings_path(business_owner_id: business_owner_id)), class: "field-row" do %>
          <span>
          <%= t("user_bot.dashboards.settings.user_settings.booking_options_menu_concept.title") %>
          (<%= Current.business_owner.booking_options_menu_concept ? t("user_bot.dashboards.settings.user_settings.booking_options_menu_concept.options.enable_menu_concept") : t("user_bot.dashboards.settings.user_settings.booking_options_menu_concept.options.disable_menu_concept") %>)
          </span><i class="fa fa-angle-right"></i>
        <% end %>  
<%
=end%>

        <div class="bottom-navigation-bar centerize">
          <%= sprintf("%07d", Current.business_owner.id) %>
        </div>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
