<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <%= t("warnings.trial_end.upgrade_title") %>
      </h4>
    </div>
    <div class="modal-footer centerize">
      <div class="modal-body">
        <%= t("warnings.trial_end.upgrade_content_html") %>
      </div>
      <%= link_to t("warnings.trial_end.upgrade_button"), lines_user_bot_settings_plans_path(business_owner_id, upgrade: Plan::BASIC_LEVEL), class: "btn btn-yellow" %>
    </div>
    <div class="modal-footer centerize">
      <div class="modal-body">
        <%= t("warnings.disconnect.content_html") %>
      </div>
      <% if support_japanese_asset? %>
        <%= link_to t("warnings.disconnect.how_to_disconnect_button"), "https://toruya.com/faq/line_linkage_disconnect", class: "btn btn-tarco" %>
      <% end %>
    </div>
  </div>
</div>
