<%
  manage_self_shop_reservations_no_permission = false
  manage_boss_shop_reservations_no_permission = false
  create_reservation_with_settings_no_permission = false
  create_reservations_with_menu_no_permission = false
%>
<div class="modal fade" id="new-reservations-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">
          <%= t("action.new_reservation") %>
        </h4>
      </div>
      <div class="modal-body">
        <div class="shops-list centerize">
          <% working_shop_options(shops: my_calendar ? Current.social_user.shops : Current.business_owner.shops).each do |option| %>
            <% user_ability = ability(option.owner, option.shop) %>

            <div class="shop-cell">
              <%= link_to_new_reservation(
                SiteRouting.new(self).reservation_form_path(option.shop.reservations.new, business_owner_id: option.shop.user_id, start_time_date_part: @date),
                option.shop.display_name,
                class: from_line_bot ? "btn btn-tweak btn-tarco btn-big btn-extend" : "BTNtarco"
              ) %>
            </div>
          <% end %>
        </div>
        <%=
          if manage_self_shop_reservations_no_permission && manage_boss_shop_reservations_no_permission
            content_tag(:div, t("reservation.modal.invalid_shops_exist_message.manage_shop_reservations_no_permission"))
          elsif manage_self_shop_reservations_no_permission
            content_tag(:div, t("reservation.modal.invalid_shops_exist_message.manage_self_shop_reservations_no_permission"))
          elsif manage_boss_shop_reservations_no_permission
            content_tag(:div, t("reservation.modal.invalid_shops_exist_message.manage_boss_shop_reservations_no_permission"))
          end
        %>
      <%= content_tag(:div, t("reservation.modal.invalid_shops_exist_message.create_reservation_with_settings_no_permission")) if create_reservation_with_settings_no_permission %>
      <%= content_tag(:div, t("reservation.modal.invalid_shops_exist_message.create_reservations_with_menu_no_permission")) if create_reservations_with_menu_no_permission %>
      </div>
    </div>
  </div>
</div>
