<%
  manage_shop_reservations_no_permission = false
  create_reservation_with_settings_no_permission = false
  create_reservations_with_menu_no_permission = false
%>
<div class="modal fade" id="new-reservations-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">
          予約を追加
        </h4>
      </div>
        <div class="modal-body">
          <div class="shops-list">
            <% working_shop_options(include_user_own: true).each do |option| %>
              <% user_ability = ability(option.owner)%>
              <div class="shop-cell">
                <% if user_ability.can?(:create, Reservation) %>
                  <% if user_ability.can?(:manage_shop_reservations, option.shop) &&
                      user_ability.can?(:create, :reservation_with_settings) &&
                      user_ability.can?(:create_shop_reservations_with_menu, option.shop)
                  %>
                    <%= link_to_new_reservation(new_shop_reservation_path(option.shop, start_time_date_part: @date, from_member: true), option.shop.display_name)%>
                  <% else %>
                    <%
                      if user_ability.cannot?(:manage_shop_reservations, option.shop)
                        manage_shop_reservations_no_permission = true
                      end

                      if user_ability.cannot?(:create, :reservation_with_settings)
                        create_reservation_with_settings_no_permission = true
                      end

                      if user_ability.cannot?(:create_shop_reservations_with_menu, option.shop)
                        create_reservations_with_menu_no_permission = true
                      end
                    %>
                    <%= link_to_new_reservation("#", option.shop.display_name, class: "BTNtarco disabled") %>
                  <% end %>
                <% elsif option.owner == current_user %>
                  <%= link_to_new_reservation("#", option.shop.display_name, data: { toggle: "modal", target: user_ability.cannot?(:create, :daily_reservations) ? "#adminUpgradeDailyReservationsLimitModal" : "#adminUpgradeTotalReservationsLimitModal" }, class: "BTNtarco") %>
                <% else %>
                  <%= link_to_new_reservation("#", option.shop.display_name, data: { toggle: "modal", target: user_ability.cannot?(:create, :daily_reservations) ? "#staffUpgradeDailyReservationsLimitModal" : "#staffUpgradeTotalReservationsLimitModal" }, class: "BTNtarco") %>
                <% end %>
              </div>
            <% end %>
          </div>
          <%= content_tag(:div, t("reservation.modal.invalid_shops_exist_message.manage_shop_reservations_no_permission")) if manage_shop_reservations_no_permission %>
          <%= content_tag(:div, t("reservation.modal.invalid_shops_exist_message.create_reservation_with_settings_no_permission")) if create_reservation_with_settings_no_permission %>
          <%= content_tag(:div, t("reservation.modal.invalid_shops_exist_message.create_reservations_with_menu_no_permission")) if create_reservations_with_menu_no_permission %>
        </div>
    </div>
  </div>
</div>
