<div id="record">
  <% schedules.each do |schedule| %>
    <%
      if schedule.type == :reservation
        reservation = schedule.source
        customer_names = reservation.customers.map(&:name)
        customer_names_sentence = if customer_names.count > 1
                                    "#{customer_names.first} +#{customer_names.count - 1}"
                                  else
                                    customer_names.first
                                  end

        sentences = reservation_staff_sentences(reservation)
      end
    %>
    <% if reservation %>
      <%= modal_link_to shop_reservation_path(reservation.shop, reservation, from_member: true) do %>
        <dl>
          <dd class="time"><%= reservation.start_time.to_s(:time) %><br /><%= reservation.end_time.to_s(:time) %></dd>
          <dd><span class="reservation-state <%= reservation.aasm_state %>"></span></dd>
          <dd class="menu"><%= reservation.menu.display_name %></dd>
          <dd class="customer"><%= customer_names_sentence %></dd>
          <% if local_assigns[:personal_schedule] %>
            <dd class="shop"><%= reservation.shop.display_name %></dd>
          <% end %>
          <% if reservation.with_warnings %>
            <dd class="error-status warning"><i class="fa fa-check-circle" aria-hidden="true"></i></dd>
          <% end %>
          <% if sentences[:deleted_staffs_sentence] %>
            <dd class="status danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></dd>
          <% end %>
          <% if sentences[:deleted_staffs_sentence] %>
            <dd class="status danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></dd>
          <% end %>
        </dl>
      <% end %>
    <% else %>
      <a href="#"  data-toggle="modal" data-target=<%= "#off-date-modal-#{schedule.source.id}" %>>
        <dl>
          <dd class="time"><%= schedule.source.start_time.to_s(:time) %><br /><%= schedule.source.end_time.to_s(:time) %></dd>
          <dd class="menu"><%= schedule.reason %></dd>
        </dl>
      </a>
      <%= render "reservations/off_date_modal",
        staff: schedule.source.staff,
        date: @date,
        modal_id: "off-date-modal-#{schedule.source.id}",
        custom_schedule_id: schedule.source.id,
        start_time_time_part: schedule.source.start_time.to_s(:time),
        end_time_time_part: schedule.source.end_time.to_s(:time),
        calendarfield_prefix: "temp_leaving_schedule_#{schedule.source.id}",
        reason: schedule.reason
      %>
    <% end %>
  <% end %>
</div>
