<div class="modal-dialog toruya-modal" role="document">
  <div class="modal-content">
    <%= render "reservations/show_modal/time_header", reservation: @reservation, user_ability: @user_ability, reservation_customer: @reservation_customer %>
    <div class="modal-body">
      <div class="reservation-info-row">
        <i class="fa fa-user customer-reservation-state <%= @reservation_customer&.reservation_state %>"></i>
        <% if @customer.deleted_at || @user_ability.cannot?(:read, @customer) %>
          <span><%= @customer.name %></span>
        <% else %>
          <%= link_to @customer.name, site_routing_helper.customers_path(@shop_user.id, shop_id: @reservation.shop_id, customer_id: @customer.id), class: "customer-link" %>
        <% end %>

        <% if @reservation.count_of_customers > 1 %>
          <% other_customers_text = I18n.t("reservation.other_customers", other_customers_number: @reservation.count_of_customers - 1) %>

          <% if in_personal_dashboard? || from_line_bot %>
            , <%= link_to other_customers_text,
              site_routing_helper.schedule_date_path(reservation_date: @reservation.start_time.to_fs(:date), reservation_id: @reservation.id)
            %>
          <% else %>
          , <%= link_to other_customers_text,
            shop_reservations_path(@reservation.shop, reservation_date: @reservation.start_time.to_fs(:date), reservation_id: @reservation.id)
          %>
          <% end %>
        <% end %>
      </div>
      <%= render "reservations/show_modal/reservation_info", reservation: @reservation, sentences: @sentences, user_ability: @user_ability %>
      <%= render "reservations/show_modal/cancel_reason", reservation_customer: @reservation_customer if @reservation_customer && @reservation_customer.cancel_reason.present? %>
      <% if @reservation_customer %>
        <% @reservation_customer.customer_tickets.each do |customer_ticket| %>
          <%= render "reservations/show_modal/ticket", reservation_customer: @reservation_customer, customer_ticket: customer_ticket %>
        <% end %>
      <% end %>
      <%= render "reservations/show_modal/booking_price", reservation_customer: @reservation_customer if @reservation_customer && @reservation_customer.booking_amount_cents && !@reservation_customer.booking_amount_cents.zero? %>
      <%= render "reservations/show_modal/customer_info_changed", reservation_customer: @reservation_customer if @reservation_customer %>
      <%= render "reservations/show_modal/survey_response", response: @survey_response if @survey_response %>
      <%= render "reservations/show_modal/booking_from", reservation_customer: @reservation_customer, reservation: @reservation if @reservation_customer %>

      <% if @reservation.from_activity? %>
        <%= render "reservations/show_modal/activity_buttons", reservation: @reservation, user_ability: @user_ability, shop_user: @shop_user %>
      <% else %>
        <%= render "reservations/show_modal/buttons", reservation: @reservation, user_ability: @user_ability, shop_user: @shop_user %>
      <% end %>
    </div>
  </div>
</div>
