<%
  staff_schedule_requirement_condition = staff && @working_time_range
%>
<div id="dashboard" class="contents">
  <div id="calendar" class="sidel">
    <% if @working_time_range %>
      <div class="busHours table">
        <div class="tableCell shopname"><%= shop.display_name %></div>
        <div class="tableCell"><%= @working_time_range.first.to_s(:time) %>〜<%= @working_time_range.last.to_s(:time) %></div>
      </div>
    <% else %>
      <div class="busHours shopClose table">
        <div class="tableCell shopname"><%= shop.display_name %></div>
        <div class="tableCell">CLOSED</div>
      </div>
    <% end %>
    <%= react_component("calendar/calendar",
                        {
                          shop_id: shop.id,
                          day_names: I18n.t("date.abbr_day_names"),
                          month_names: I18n.t("date.abbr_month_names").compact,
                          reservations_path: shop_reservations_path(shop),
                          selected_date: params[:reservation_date],
                          working_schedule_path: working_schedule_calendars_path,
                          holiday_days: @working_dates[:holidays].map(&:day),
                          full_time: @working_dates[:full_time],
                          shop_working_wdays: @working_dates[:shop_working_wdays],
                          shop_working_on_holiday: @working_dates[:shop_working_on_holiday],
                          staff_working_wdays: @working_dates[:staff_working_wdays],
                          working_days: @working_dates[:working_dates].map(&:day),
                          off_days: @working_dates[:off_dates].map(&:day),
                          reservation_days: @reservation_dates.map(&:day)
                        },
                          { id: "custom-calendar", class: "clearfix" }) %>
      <% if staff_schedule_requirement_condition %>
        <div class="staffDashboard">
          <div class="edit-worktime">
            <% if can? :manage_staff_temporary_working_day_permission, shop_staff %>
              <a href="#" data-toggle="modal" data-target="#working-date-modal" class="BTNyellow">
                出勤日を追加
              </a>
            <% end %>

            <% if can?(:manage_staff_holiday_permission, shop_staff) %>
              <a href="#" data-toggle="modal" data-target="#off-date-modal" class="BTNyellow">
                休暇を追加
              </a>
            <% end %>
          </div>
        </div>
      <% end %>
     <div class="staffs-working-schedules table">
       <% @staffs_working_schedules.each do |staff, working_schedule| %>
         <div class="row">
           <div class="staff cell">
             <%= staff.name %>
           </div>
           <div class="time cell">
             <% if working_schedule[:time] %>
               <%= "#{working_schedule[:time].first.to_s(:time)} ～ #{working_schedule[:time].last.to_s(:time)}" %>
             <% else %>
               臨時休暇
             <% end %>
           </div>
         </div>
      <% end %>
    </div>
  </div>
  <div id="resList" class="contBody">
    <dl class="tableTTL">
      <dt class="time">開始<br />終了</dt>
      <dt class="reservation-states"></dt>
      <dt class="menu">メニュー</dt>
      <dt class="customer">顧客氏名</dt>
    </dl>
    <%= render "reservations/schedules", schedules: @schedules %>

    <div class="status-list">
      <div><span class="reservation-state reserved"></span>予約</div>
      <div><span class="reservation-state checkin"></span>チェックイン</div>
      <div><span class="reservation-state checkout"></span>チェックアウト</div>
      <div><span class="reservation-state noshow"></span>未来店</div>
      <div><span class="reservation-state pending"></span>承認待ち</div>
    </div>
  </div>
  <div id="mainNav">
    <dl>
      <dd id="NAVnewResv">
        <%= link_to new_shop_reservation_path(shop, start_time_date_part: params[:reservation_date]), class: "BTNtarco" do %>
          <i class="fa fa-calendar-plus-o fa-2x" aria-hidden="true"></i>
          <span>新規予約</span>
        <% end %>
      </dd>
      <dd id="NAVcustomers">
        <%= link_to user_customers_path(super_user), class: "BTNtarco" do %>
          <i class="fa fa-users fa-2x" aria-hidden="true"></i>
          <span>顧客台帳</span>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<% if staff_schedule_requirement_condition %>
  <%= react_component("schedules/working_schedules_modal", {
    form_authenticity_token: form_authenticity_token,
    staff: react_attribute(staff.attributes.merge!(name: staff.name)),
    open: true,
    shop: react_attribute(shop.attributes),
    start_time_date_part: @date.to_s,
    start_time_time_part: @working_time_range.first.to_s(:time),
    end_time_time_part: @working_time_range.last.to_s(:time),
    shops: react_attributes(staff.shops),
    custom_schedules_path: custom_schedules_path
  }) %>

  <%= render "reservations/off_date_modal", staff: staff, date: @date %>
<% end %>
