<div id="dashboard" class="contents">
  <div id="calendar" class="sidel">
    <%= react_component("UI.Calendar",
                        { day_names: I18n.t("date.abbr_day_names"),
                          month_names: I18n.t("date.abbr_month_names").compact,
                          reservations_path: shop_reservations_path(shop),
                          selected_date: params[:reservation_date]
                        },
                          { id: "custom-calendar", class: "clearfix", prerender: true }) %>
    <dl id="calStatus">
      <dd><span class="reservation-state reserved"></span>予約</dd>
      <dd><span class="reservation-state checkin"></span>チェックイン</dd>
      <dd><span class="reservation-state checkout"></span>チェックアウト</dd>
      <dd><span class="reservation-state noshow"></span>未来店</dd>
      <dd><span class="reservation-state pending"></span>承認待ち</dd>
    </dl>
  </div>

  <div id="resList" class="contBody">
    <dl class="tableTTL">
      <dt class="time">開始<br>終了</dt>
      <dt class="reservation-states"></dt>
      <dt class="calendar">カレンダー</dt>
      <dt class="menu">メニュー</dt>
      <dt class="customer">顧客氏名</dt>
    </dl>
    <div id="record">
      <% @reservations.each do |reservation| %>
        <%
          customer_names = reservation.customers.pluck(:first_name).join(", ")
          staff_names = reservation.staffs.pluck(:name).join(", ")
        %>
        <a href="#" class="" data-toggle="modal" data-target="#reservationModal<%= reservation.id %>">
          <dl class="">
            <dd class="time"><%= reservation.start_time.to_s(:time) %><br><%= reservation.end_time.to_s(:time) %></dd>
            <dd><span class="reservation-state <%= reservation.aasm_state %>"></span></dd>
            <dd class="calendar">Calendar3</dd>
            <dd class="menu"><%= reservation.menu.name %></dd>
            <dd class="customer"><%= customer_names %></dd>
          </dl>
        </a>
        <div class="modal fade" id="reservationModal<%= reservation.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                  <%= l(reservation.start_time, format: :date) %>
                  <%= reservation.start_time.to_s(:time)%>〜<%= reservation.end_time.to_s(:time) %>
                </h4>
              </div>
              <div class="modal-body">
                <div>
                  <%= customer_names %>
                </div>
                <div class="reservation-menu">
                  <%= reservation.menu.name %>
                </div>
                <div>
                  <%= staff_names %>
                </div>
              </div>
              <div class="modal-footer">
                <dl>
                  <% if reservation.checked_in? %>
                    <dd>
                      <%= link_to "CHECK OUT", check_out_shop_reservation_states_path(shop, reservation, reservation_date: params[:reservation_date]), class: "btn BTNyellow", method: :put %>
                    </dd>
                  <% end %>

                  <% if reservation.reserved? || reservation.noshow? %>
                    <dd>
                      <%= link_to "CHECK IN", check_in_shop_reservation_states_path(shop, reservation, reservation_date: params[:reservation_date]), class: "btn BTNyellow", method: :put %>
                    </dd>
                  <% end %>

                  <% if reservation.pending? %>
                    <dd>
                      <%= link_to "ACCEPT", accept_shop_reservation_states_path(shop, reservation, reservation_date: params[:reservation_date]), class: "btn BTNtarco", method: :put %>
                    </dd>
                  <% end %>

                  <% if reservation.reserved? || reservation.noshow? || reservation.checked_out? %>
                    <dd>
                      <%= link_to "PEND", pend_shop_reservation_states_path(shop, reservation, reservation_date: params[:reservation_date]), class: "btn BTNgray", method: :put %>
                    </dd>
                  <% end %>

                  <dd>
                    <%= link_to "EDIT", edit_shop_reservation_path(shop, reservation), class: "btn BTNgray" %>
                  </dd>

                  <% if !reservation.checked_out? %>
                    <dd>
                      <%= link_to "CANCEL", cancel_shop_reservation_states_path(shop, reservation, reservation_date: params[:reservation_date]), class: "btn BTNorange", method: :put %>
                    </dd>
                  <% end %>
                </dl>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="mainNav">
    <dl>
      <dd id="NAVnewResv">
        <%= link_to new_shop_reservation_path(shop, start_time_date_part: params[:reservation_date]), class: "BTNtarco" do %>
          <span>新規予約</span>
        <% end %>
      </dd>
      <dd id="NAVcustomers">
        <%= link_to shop_customers_path(shop), class: "BTNtarco" do %>
          <span>顧客台帳</span>
        <% end %>
      </dd>
    </dl>

</div>
