<%= notification_messages %>
<%= jump_out_modal(shop_reservation_path(@reservation.shop, @reservation)) if @reservation %>

<%
  staff_schedule_requirement_condition = staff && working_time_range
%>
<div id="dashboard" class="contents">
  <div id="calendar" class="sidel">
    <%= react_component("shared/calendar/calendar",
                        {
                          dayNames: I18n.t("date.abbr_day_names"),
                          monthNames: I18n.t("date.abbr_month_names").compact,
                          dateSelectedCallbackPath: shop_reservations_path(shop),
                          schedulePath: working_schedule_calendars_path(format: :json),
                          scheduleParams: {
                            shop_id: shop.id
                          },
                          selectedDate: params[:reservation_date]
                        },
                        { id: "custom-calendar", class: "clearfix", camelize_props: false }) %>

      <div class="staffDashboard">
        <div class="edit-worktime">
          <%= link_to t("action.new_reservation"), form_shop_reservations_path(shop, start_time_date_part: params[:reservation_date]), class: "BTNyellow" %>

          <% if staff_schedule_requirement_condition %>
            <% if can? :manage_staff_temporary_working_day_permission, shop_staff %>
              <a href="#" data-toggle="modal" data-target="#working-date-modal" class="BTNyellow">
                出勤日を追加
              </a>
            <% end %>
          <% end %>
        </div>
      </div>

     <div class="staffs-working-schedules table">
       <% @staffs_working_schedules.each do |staff, working_schedule| %>
         <% if working_schedule[:time] %>
           <div class="row">
             <div class="staff cell">
               <%= staff.name %>
             </div>
             <div class="time cell">
               <%= "#{working_schedule[:time].first.to_s(:time)} ～ #{working_schedule[:time].last.to_s(:time)}" %>
             </div>
           </div>
         <% end %>
      <% end %>
    </div>
  </div>
  <div id="resList" class="contBody">
    <dl class="tableTTL">
      <dt class="time">開始<br />終了</dt>
      <dt class="reservation-states"></dt>
      <dt class="menu">メニュー</dt>
      <dt class="customer">顧客氏名</dt>
    </dl>
    <%= render "reservations/schedules", schedules: @schedules %>
    <%= render "reservations/states_list" %>
  </div>
  <div id="mainNav">
    <dl>
      <dd id="NAVcustomers">
        <%= link_to user_customers_path(super_user), class: "BTNtarco" do %>
          <i class="fa fa-users fa-2x" aria-hidden="true"></i>
          <span>顧客台帳</span>
        <% end %>
      </dd>
      <dd>
        <%= link_to customer_user_filter_index_path(super_user), class: "BTNtarco" do %>
          <i class="fa fa-database fa-2x" aria-hidden="true"></i>
          <span><%= t("dashboard.search_data") %></span>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<% if staff_schedule_requirement_condition %>
  <%= react_component("management/schedules/working_schedules_modal", {
    form_authenticity_token: form_authenticity_token,
    staff: react_attribute(staff.attributes.merge!(name: staff.name)),
    open: true,
    shop: react_attribute(shop.attributes),
    shops: react_attributes(staff.shops),
    start_time_date_part: @date.to_s,
    start_time_time_part: working_time_range.first.to_s(:time),
    end_time_time_part: working_time_range.last.to_s(:time),
    custom_schedules_path: custom_schedules_path
  },
  { camelize_props: false }
  ) %>
<% end %>
