<div class="modal-dialog toruya-modal" role="document">
  <div class="modal-content">
    <%= render "reservations/show_modal/time_header", reservation: @reservation, user_ability: @user_ability %>

    <div class="modal-body">
      <div>
        <% @reservation.reservation_customers.active.includes(:customer).each do |reservation_customer| %>
          <% customer = reservation_customer.customer %>

          <i class="fa fa-user customer-reservation-state <%= reservation_customer.state %>"></i>
          <% if customer %>
            <% if customer.deleted_at || @user_ability.cannot?(:read, customer) %>
              <span><%= customer.name %></span>
            <% elsif !@user_ability.can?(:check_content, customer)%>
              <%= modal_link_to(
                customer.name,
                check_reservation_content_lines_user_bot_warnings_path,
                class: "customer-link",
                modal_target: "#dummyModal2"
              ) %>
            <% else %>
              <%= link_to customer.name, SiteRouting.new(self).customer_show_path(business_owner_id: @shop_user.id, shop_id: @reservation.shop_id, customer_id: customer.id), class: "customer-link" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= render "reservations/show_modal/reservation_info", reservation: @reservation, sentences: @sentences, user_ability: @user_ability %>
      <% @survey_responses.each do |survey_response| %>
        <%= render "reservations/show_modal/survey_response", response: survey_response %>
      <% end %>
    </div>
    <% if params[:_from] != Lines::UserBot::ReservationsController::SCHEDULE_CHECKING  %>
      <% if @reservation.from_activity? %>
        <%= render "reservations/show_modal/activity_buttons", reservation: @reservation, user_ability: @user_ability, shop_user: @shop_user %>
      <% else %>
        <%= render "reservations/show_modal/buttons", reservation: @reservation, user_ability: @user_ability, shop_user: @shop_user %>
      <% end %>
    <% end %>
  </div>
</div>
