<div class="modal-dialog toruya-modal" role="document">
  <div class="modal-content">
    <%= render "reservations/show_modal/time_header", reservation: @reservation, user_ability: @user_ability %>

    <div class="modal-body">
      <div>
        <% @reservation.reservation_customers.active.includes(:customer).each do |reservation_customer| %>
          <% customer = reservation_customer.customer %>

          <i class="fa fa-user customer-reservation-state <%= reservation_customer.state %>"></i>
          <% if customer.deleted_at || @user_ability.cannot?(:read, customer) %>
            <span><%= customer.name %></span>
          <% else %>
            <%= link_to customer.name, user_customers_path(@shop_user, shop_id: @reservation.shop_id, customer_id: customer.id), class: "customer-link" %>
          <% end %>
        <% end %>
      </div>
      <%= render "reservations/show_modal/reservation_info", reservation: @reservation, sentences: @sentences, user_ability: @user_ability %>
    </div>
    <%= render "reservations/show_modal/buttons", reservation: @reservation, user_ability: @user_ability, shop_user: @shop_user %>
  </div>
</div>
