<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @reservation.shop_id %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @reservation.menu_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @reservation.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @reservation.end_time %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
