<div class="settings-dashboard form">
  <h3>アカウント設定</h3>

  <div class="dashboard">
    <div class="cell">
      <div>
        <%= t("settings.dashboard.today_had_created") %>
      </div>
      <div>
        <strong><span class="big"><%= @today_reservations_count %></span><span> / <%= current_user.premium_member? ? t("settings.dashboard.no_limit") : Reservations::DailyLimit::RESERVATION_DAILY_LIMIT %></span></strong>
      </div>
      <div class="desc">
        <%= t("settings.dashboard.do_reservations_created") %>
      </div>
    </div>
    <div class="cell">
      <div>
        <%= t("settings.dashboard.total_had_created") %>
      </div>
      <div>
        <strong><span class="big"><%= @total_reservations_count %></span><span> / <%= @total_reservations_limit || t("settings.dashboard.no_limit") %></span></strong>
      </div>
      <div class="desc">
        <%= t("settings.dashboard.reservations_created") %>
      </div>
    </div>
  </div>

  <div class="field-header">User information</div>

  <%= link_to "#", class: "setting-feature" do %>
    <span>User Info</span><i class="fa fa-angle-right"></i>
  <% end %>
  <%= link_to "#", class: "setting-feature" do %>
    <span>Shop Info</span><i class="fa fa-angle-right"></i>
  <% end %>

  <div class="field-header">Plan</div>

  <%= link_to "#", class: "setting-feature" do %>
    <span>Plan</span><i class="fa fa-angle-right"></i>
  <% end %>
</div>
