<div class="field-header" id="name"><%= t("common.customer_name") %></div>
<% if @is_owner %>
  <%= render "lines/user_bot/field_row", title: @customer.name, path: lines_user_bot_customers_path(business_owner_id: business_owner_id, customer_id: @customer.id, target_view: Customer::DASHBOARD_TARGET_VIEWS[:reservations], from: FROM[:service_customer_show]) %>
<% else %>
  <%= render "lines/user_bot/field_row", title: @customer.name %>
<% end %>

<div class="field-header" id="name"><%= t("user_bot.dashboards.settings.service_customer_relation.permission_state") %></div>
<div class="flex">
  <span class="state <%= @relation.display_state %>"></span>
  <%= render "lines/user_bot/field_row", title: t("user_bot.dashboards.settings.service_customer_relation.permission_states.#{@relation.display_state}") %>
</div>

<% if @relation.subscription? && @is_owner %>
  <div class="field-header" id="name"><%= t("user_bot.dashboards.settings.service_customer_relation.stripe_subscription_id") %></div>
  <div class="flex">
    <%= render "lines/user_bot/field_row", title: @relation.stripe_subscription_id %>

    <%= link_to t("action.change"), "#", class: "btn btn-yellow", data: { toggle: "modal", target: "#change-stripe-subscription-id-modal" } %>
  </div>
<% end %>

<div class="field-header" id="name"><%= t("user_bot.dashboards.settings.service_customer_relation.signup_date") %></div>
<%= render "lines/user_bot/field_row", title: I18n.l(@relation.created_at, format: :long_date_with_wday) %>

<div class="field-header" id="name"><%= t("user_bot.dashboards.settings.service_customer_relation.expire_date") %></div>
<div class="field-row with-format">
  <%= @relation.end_date_text %>

  <%= link_to t("user_bot.dashboards.settings.service_customer_relation.change_expire_at"), "#", class: "btn btn-yellow", data: { toggle: "modal", target: "#change-expire-at-modal" } if @is_owner %>
</div>

<div class="field-header" id="name"><%= t("user_bot.dashboards.settings.service_customer_relation.payment_plan") %></div>
<%= render "lines/user_bot/field_row" do %>
  <span>
    <% if @relation.bundler_relation %>
      <% if @is_owner %>
        <%= @relation.bundler_relation.online_service.name %>
        <%= link_to t("action.purchase_info"), lines_user_bot_service_customer_path(business_owner_id: business_owner_id, service_id: @relation.bundler_relation.online_service.id, id: @relation.bundler_relation.id), class: "btn btn-yellow" %>
      <% else %>
        <%= @relation.bundler_relation.online_service.name %>
        <%= link_to t("action.purchase_info"), customer_status_online_service_path(slug: @relation.bundler_relation.online_service.slug, encrypted_social_service_user_id: MessageEncryptor.encrypt(@customer.social_customer.social_user_id), encrypted_customer_id: MessageEncryptor.encrypt(@customer.id)), class: "btn btn-yellow" %>
      <% end %>
    <% else %>
      <%= @relation.selling_prices_text %>
    <% end %>
  </span>
  <% if @able_to_change_credit_card && !@relation.bundler_relation %>
    <%= link_to t("action.change_credit_card"), "#", data: { toggle: "modal", target: "#change-card-modal" }, class: "btn btn-yellow" %>
  <% end %>
<% end %>

<div class="field-header" id="name"><%= t("user_bot.dashboards.settings.service_customer_relation.payment_state") %></div>
<% @relation.customer_payments.order("id DESC").each do |payment| %>
  <div class="flex">
    <span class="state <%= payment.state %>"></span>
    <%= render "lines/user_bot/field_row" do  %>
      <span>
        <% if payment.bonus_text.present? %>
          <%= payment.bonus_text %>
        <% else %>
          <%= t("user_bot.dashboards.settings.service_customer_relation.customer_payment_states.#{payment.state}") %> <%= "(#{payment.memo})"if payment.memo.present? %>
        <% end %>
        <%= I18n.l(payment.charge_at || payment.created_at) %>
        <%= payment.invoice_id %>
      </span>
      <% if @relation.online_service.recurring_charge_required? %>
        <%= link_to t("action.pay_now"), new_customer_payments_path(slug: @relation.sale_page_service_slug, encrypted_social_service_user_id: params[:encrypted_social_service_user_id], encrypted_customer_id: MessageEncryptor.encrypt(@customer.id)), class: "btn btn-yellow" if !@is_owner && payment.failed? && !@relation.payment_legal_to_access? %>
      <% else %>
        <%= link_to t("action.pay_now"), new_customer_payments_path(slug: @relation.sale_page_service_slug, encrypted_social_service_user_id: params[:encrypted_social_service_user_id], encrypted_customer_id: MessageEncryptor.encrypt(@customer.id), order_id: payment.order_id), class: "btn btn-yellow" if !@is_owner && !@relation.order_completed.fetch(payment.order_id) && payment.order_id %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @is_owner %>
  <div class="modal fade" id="change-expire-at-modal" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <%= t("user_bot.dashboards.settings.service_customer_relation.change_expire_at_title") %>
        </h4>
      </div>

      <%= form_with url: change_expire_at_lines_user_bot_service_customer_path(business_owner_id: business_owner_id, service_id: @relation.online_service_id, id: @relation.id), method: :put, local: true do |form| %>
        <div class="modal-body">
          <h4><%= t("user_bot.dashboards.settings.service_customer_relation.change_expire_at_time_label") %></h4>
          <div class="field">
            <%= datetime_field_tag :expire_at %>
          </div>
          <div class="field">
            <%= text_field_tag :memo, nil, placeholder: t("user_bot.dashboards.settings.service_customer_relation.expire_change_reason") %>
          </div>
          <div class="danger">
            <%= t("user_bot.dashboards.settings.service_customer_relation.no_undo_for_changes") %>
          </div>
        </div>

        <div class="modal-footer">
          <dl>
            <dd>
              <%= form.submit t("action.change_and_save"), class: "btn btn-yellow" %>
            </dd>
          </dl>
        </div>
      <% end %>
    </div>
  </div>

  <%# Stripe Subscription ID Modal %>
  <div class="modal fade" id="change-stripe-subscription-id-modal" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <%= t("user_bot.dashboards.settings.service_customer_relation.customer_payment_states.change_stripe_subscription_id") %>
        </h4>
      </div>
      <%= form_with url: change_stripe_subscription_id_lines_user_bot_service_customer_path(business_owner_id: business_owner_id, service_id: @relation.online_service_id, id: @relation.id), method: :put, local: true do |form| %>
        <div class="modal-body">
          <h4><%= t("user_bot.dashboards.settings.service_customer_relation.stripe_subscription_id") %></h4>
          <div class="field">
            <%= text_field_tag :stripe_subscription_id, @relation.stripe_subscription_id, placeholder: "sk_sub_xxx...", class: "extend" %>
          </div>
          <div class="danger">
            <%= t("user_bot.dashboards.settings.service_customer_relation.no_undo_for_changes") %>
          </div>
        </div>
        <div class="modal-footer">
          <dl>
            <dd>
              <%= form.submit t("action.change_and_save"), class: "btn btn-yellow" %>
            </dd>
          </dl>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
