<div class="field-header" id="name"><%= t("common.customer_name") %></div>
<% if @is_owner %>
  <%= render "lines/user_bot/field_row", title: @customer.name, path: lines_user_bot_customers_path(customer_id: @customer.id, target_view: Customer::DASHBOARD_TARGET_VIEWS[:reservations], from: FROM[:service_customer_show]) %>
<% else %>
  <%= render "lines/user_bot/field_row", title: @customer.name %>
<% end %>

<div class="field-header" id="name"><%= t("user_bot.dashboards.settings.service_customer_relation.permission_state") %></div>
<div class="flex">
  <span class="state <%= @relation.state %>"></span>
  <%= render "lines/user_bot/field_row", title: t("user_bot.dashboards.settings.service_customer_relation.permission_states.#{@relation.state}") %>
</div>

<div class="field-header" id="name"><%= t("user_bot.dashboards.settings.service_customer_relation.signup_date") %></div>
<%= render "lines/user_bot/field_row", title: I18n.l(@relation.created_at, format: :long_date_with_wday) %>

<div class="field-header" id="name"><%= t("user_bot.dashboards.settings.service_customer_relation.expire_date") %></div>
<%= render "lines/user_bot/field_row", title: @relation.expire_at ? I18n.l(@relation.expire_at, format: :long_date_with_wday) : I18n.t("sales.never_expire") %>

<div class="field-header" id="name"><%= t("user_bot.dashboards.settings.service_customer_relation.payment_plan") %></div>
<%= render "lines/user_bot/field_row" do %>
  <span>
    <% if @relation.bundler_relation %>
      <% if @is_owner %>
        <%= link_to @relation.selling_prices_text, lines_user_bot_service_customer_path(service_id: @relation.bundler_relation.online_service.id, id: @relation.bundler_relation.id) %>
      <% else %>
        <%= link_to @relation.selling_prices_text, customer_status_online_service_path(slug: @relation.bundler_relation.online_service.slug, encrypted_social_service_user_id: MessageEncryptor.encrypt(@customer.social_customer.social_user_id)) %>
      <% end %>
    <% else %>
      <%= @relation.selling_prices_text %>

      <% @relation.bundled_service_relations.each do |bundled_service_relation| %>
        <% if @is_owner %>
          <%= link_to bundled_service_relation.online_service.name, lines_user_bot_service_customer_path(service_id: bundled_service_relation.online_service.id, id: bundled_service_relation.id) %>
        <% else %>
          <%= link_to bundled_service_relation.online_service.name, customer_status_online_service_path(slug: bundled_service_relation.online_service.slug, encrypted_social_service_user_id: MessageEncryptor.encrypt(@customer.social_customer.social_user_id)) %>
        <% end %>
      <% end %>
    <% end %>
  </span>
  <% if @able_to_change_credit_card && !@relation.bundler_relation %>
    <%= link_to t("action.change_credit_card"), "#", data: { toggle: "modal", target: "#change-card-modal" }, class: "btn btn-yellow" %>
  <% end %>
<% end %>

<div class="field-header" id="name"><%= t("user_bot.dashboards.settings.service_customer_relation.payment_state") %></div>
<% @relation.customer_payments.order("id DESC").each do |payment| %>
  <div class="flex">
    <span class="state <%= payment.state %>"></span>
    <%= render "lines/user_bot/field_row" do  %>
      <span>
        <%= t("user_bot.dashboards.settings.service_customer_relation.customer_payment_states.#{payment.state}") %>
        <%= I18n.l(payment.charge_at) %>
      </span>
      <% if @relation.online_service.recurring_charge_required? %>
        <%= link_to t("action.pay_now"), new_customer_payments_path(encrypted_social_service_user_id: params[:encrypted_social_service_user_id]), class: "btn btn-yellow" if !@is_owner && payment.failed? && !@relation.payment_legal_to_access? %>
      <% else %>
        <%= link_to t("action.pay_now"), new_customer_payments_path(encrypted_social_service_user_id: params[:encrypted_social_service_user_id], order_id: payment.order_id), class: "btn btn-yellow" if !@is_owner && !@relation.order_completed.fetch(payment.order_id) %>
      <% end %>
    <% end %>
  </div>
<% end %>
