<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="service-show form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_service_path(business_owner_id: business_owner_id, id: @online_service.id), title: t("user_bot.dashboards.settings.service_customer_relation.service_register") %>

        <div class="field-group-header flex justify-between" id="name">
          <span><%= t("user_bot.dashboards.settings.service_customer_relation.register") %></span>
          <span><%= @available_count %>/<%= @relations.select(:customer_id).distinct.count %><%= t("common.person_unit") %></span>
        </div>


        <% @relations.each do |relation| %>
          <%= render "lines/user_bot/field_state", state: relation.state do %>
            <%= render "lines/user_bot/field_row", path: lines_user_bot_service_customer_path(business_owner_id: business_owner_id, service_id: @online_service.id, id: relation.id) do %>
              <span class="dotdotdot">
                <% if relation.last_customer_payment && !relation.last_customer_payment.completed? %>
                  <span class="status danger"><i class="fa fa-exclamation-circle"></i></span>
                <% end %>
                <%= relation.customer.name %>
              </span>
              <div class="desc"><%= I18n.l(relation.created_at, format: :long_date_with_wday) %></div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <%
=begin%>
 <%= render "lines/user_bot/bottom_navigation_bar", klass: "transparent" do %>
        <a href="#" data-toggle="modal" data-target="#serviceCustomerAssignModal" class="btn btn-yellow btn-circle btn-save btn-tweak btn-with-word">
          <i class="fas fa-plus fa-2x"></i>
          <div class="word"><%= I18n.t("action.add_more") %></div>
        </a>
      <% end %> 
<%
=end%>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>

<div class="modal fade" id="serviceCustomerAssignModal" tabindex="-1" role="dialog" aria-labelledby="serviceCustomerAssignModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= t("user_bot.dashboards.settings.service_customer_relation.assign_customer") %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <%= form_tag assign_lines_user_bot_service_customers_path(business_owner_id: business_owner_id, service_id: @online_service.id), method: :post, remote: false, class: 'assign-customer-form' do %>
          <div class="form-group">
            <%= select_tag :customer_id, 
                options_from_collection_for_select(@available_customers, :id, :name),
                class: 'form-control',
                prompt: t("user_bot.dashboards.settings.service_customer_relation.select_customer_prompt") %>
          </div>
          
          <div class="modal-footer flex items-center justify-between">
            <button type="button" class="btn btn-gray" data-dismiss="modal"><%= t("common.close") %></button>
            <%= submit_tag t("action.approve"), class: 'btn btn-tarco' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>