<div class="service-show form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_service_path(@online_service), title: t("user_bot.dashboards.settings.service_customer_relation.service_register") %>

  <div class="field-group-header flex justify-between" id="name">
    <span><%= t("user_bot.dashboards.settings.service_customer_relation.register") %></span>
    <span><%= @available_count %>/<%= @relations.size %><%= t("common.person_unit") %></span>
  </div>


  <% @relations.each do |relation| %>
    <div class="flex">
      <span class="state <%= relation.state %>"></span>
      <%= render "lines/user_bot/field_row", path: lines_user_bot_service_customer_path(service_id: @online_service.id, id: relation.id) do %>
        <span class="dotdotdot"><%= relation.customer.name %></span>
      <% end %>
    </div>
  <% end %>
</div>
