<div class="service-show form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_service_path(@online_service), title: t("user_bot.dashboards.settings.service_customer_relation.service_register") %>

  <div class="field-group-header flex justify-between" id="name">
    <span><%= t("user_bot.dashboards.settings.service_customer_relation.register") %></span>
    <span><%= @available_count %>/<%= @relations.size %><%= t("common.person_unit") %></span>
  </div>


  <% @relations.each do |relation| %>
    <%= render "lines/user_bot/field_state", state: relation.state do %>
      <%= render "lines/user_bot/field_row", path: lines_user_bot_service_customer_path(service_id: @online_service.id, id: relation.id) do %>
        <span class="dotdotdot"><%= relation.customer.name %></span>
        <div class="desc"><%= I18n.l(relation.created_at, format: :long_date_with_wday) %></div>
      <% end %>
    <% end %>
  <% end %>
</div>
