<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="service-show form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar",
          previous_path: params[:from] == "customer_dashboard" ? lines_user_bot_customers_path(business_owner_id: business_owner_id, customer_id: @customer.id, target_view: Customer::DASHBOARD_TARGET_VIEWS[:reservations]) : lines_user_bot_service_customers_path(business_owner_id: business_owner_id, service_id: @online_service.id),
          title: t("user_bot.dashboards.settings.service_customer_relation.service_register")
        %>

      <div class="field-group-header" id="name"><%= t("user_bot.dashboards.settings.service_customer_relation.register") %></div>
      <%= render "lines/user_bot/services/customers/info" %>

      <% if @is_owner && Current.admin_debug %>
        <div class="action-block margin-around">
          <%= link_to t("user_bot.dashboards.settings.service_customer_relation.check_product_as_customer"), online_service_path(@online_service.slug, temp_encrypted_social_service_user_id: MessageEncryptor.encrypt(@relation.customer.social_customer.social_user_id, expires_at: 5.minutes.from_now)), class: "btn btn-yellow", target: "_blank" %>

          <p class="desc">
            <%= t("user_bot.dashboards.settings.service_customer_relation.check_product_as_customer_desc") %>
          </p>
        </div>
      <% end %>

      <% if @relation.current %>
        <%= render "lines/user_bot/bottom_navigation_bar", klass: "transparent" do %>
          <% if @relation.active? %>
            <%= link_to cancel_lines_user_bot_service_customer_path(business_owner_id, @online_service, @relation),
              method: :delete,
              data: { confirm: t("user_bot.dashboards.settings.service_customer_relation.stop_usage_confirmation") },
              class: "btn btn-orange btn-circle btn-save btn-tweak btn-with-word btn-bottom-left" do %>
              <i class="fas fa-ban fa-2x"></i>
              <div class="word"><%= I18n.t("action.stop_usage") %></div>
            <% end %>
          <% end %>

          <span></span>
          <% if @relation.pending? %>
            <%= link_to approve_lines_user_bot_service_customer_path(business_owner_id, @online_service, @relation), method: :post, class: "btn btn-yellow btn-circle btn-save btn-tweak btn-with-word" do %>
              <i class="fas fa-user-check fa-2x"></i>
              <div class="word"><%= I18n.t("action.approve") %></div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>