<div class="modal-dialog booking-page-modal" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">
        <%= t("settings.booking_page.share_modal_title") %>
      </h4>
    </div>
    <div class="modal-body">
      <div class="page-url-row">
        <div class="label-header">
          <label for="page-url">
            URL
          </label>
          <%= button_tag t("action.copy_url2"), class: "btn btn-gray",
            data: {
              controller: "clipboard",
              clipboard_text: booking_url(@booking_page),
              clipboard_popup_text: t("common.copied")
            } %>
        </div>
        <div>
          <%= text_field_tag nil, booking_url(@booking_page), data: { controller: "clipboard", clipboard_text: booking_url(@booking_page), clipboard_popup_text: t("common.copied") }, id: "page-url", readonly: true %>
        </div>
      </div>
      <div class="page-booking-button-row">
        <div class="label-header">
          <div>
            <label for="page-share-button">
              <%= t("settings.booking_page.share_button_label") %>
            </label>
          </div>
          <div>
            <%= button_tag t("action.copy_code"), class: "btn btn-gray", data: { controller: "clipboard", clipboard_text: booking_page_share_button_link(@booking_page), clipboard_popup_text: t("common.copied") } %>
          </div>
        </div>
        <div>
          <%= text_area_tag nil, booking_page_share_button_link(@booking_page), data: { controller: "clipboard", clipboard_text: booking_page_share_button_link(@booking_page), clipboard_popup_text: t("common.copied") }, id: "page-share-button", rows: 6 %>
        </div>
      </div>
    </div>
  </div>
</div>
