<div id="login">
  <h2>ログイン</h2>
  <main id="socialLogin">
    <p>Toruyaのユーザー登録がお済の方は、こちらからログインしてください。</p>

    <a href="<%= toruya_line_login_url(root_path, staff_token: params[:staff_token], consultant_token: params[:consultant_token]) %>" class="btn line-button with-wording only-word">
      <%= I18n.t("common.line_login_btn_word") %>
    </a>

    <% if params[:_higoogle] %>
      <div style="border: 1px solid black; padding: 10px; margin: 10px;">
        <h3>管理者ログイン</h3>
        <p>
        <%= button_to toruya_line_login_url(admin_chats_path), class: "btn line-button with-wording only-word" do %>
          管理者としてログイン
        <% end %>
        </p>
      </div>
    <% end %>
  </main>
  <aside id="signup">
    <p>初めての方は<a href="<%= new_user_registration_path %>" style="vertical-align: baseline;">ユーザー登録</a>してください。</p>
  </aside>
</div>

<% if Rails.env.development? %>
  <style>
   .field {
      display: block !important;
      width: 100% !important;
    }
    input[type="password"] {
      padding: 10px;
      color: #333333;
      line-height: 15px;
      border: 1px solid #dfdfdf;
      background-color: #fffef5;
      border-radius: 4px;
      margin: 16px 3px;
      padding: 8px;
      font-size: 16px;
      min-height: 38px;
    }
    input[type="checkbox"] {
      width: fit-content !important;
    }
    .actions {
      margin-top: 16px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
  </style>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, t("devise.sessions.remember_me") %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "ログイン", class: "BTNorange" %>
    </div>
  <% end %>
<% end %>

