<div id="login">
  <h2>ログイン</h2>
  <main id="socialLogin">
    <p>Toruyaのユーザー登録がお済の方は、こちらからログインしてください。</p>

    <a href=<%= "https://line.me/R/ti/p/@#{Rails.application.secrets[:ja][:toruya_user_bot_basic_id]}" %> class="btn line-button with-wording only-word">
      <%= I18n.t("common.line_login_btn_word") %>
    </a>

    <% if params[:_higoogle] %>
      <div style="border: 1px solid black; padding: 10px; margin: 10px;">
        <h3>管理者ログイン</h3>
        <p>
        <%= button_to toruya_line_login_url(admin_chats_path), class: "btn line-button with-wording only-word" do %>
          管理者としてログイン
        <% end %>
        </p>
      </div>
    <% end %>
  </main>
  <aside id="signup">
    <p>初めての方は<%= link_to "ユーザー登録", new_user_registration_path %>してください。</p>
  </aside>
</div>

<% if Rails.env.development? %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, t("devise.sessions.remember_me") %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "ログイン", class: "BTNorange" %>
    </div>
  <% end %>
<% end %>

