<% if cannot?(:create_shop_reservations_with_menu, shop) %>
  <div class="modal fade" id="emptyMenuShopModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            <% if can?(:manage, Settings) %>
              <%= t("reservation.modal.admin.empty_menu_shop.title") %>
            <% else %>
              <%= t("reservation.modal.staff.empty_menu_shop.title") %>
            <% end %>
          </h4>
        </div>
        <div class="modal-body">
          <% if can?(:manage, Settings) %>
            <%= t("reservation.modal.admin.empty_menu_shop.content") %>
          <% else %>
            <%= t("reservation.modal.admin.empty_menu_shop.content") %>
          <% end %>
        </div>
        <div class="modal-footer centerize">
          <% if can?(:manage, Settings) %>
            <%= link_to t("reservation.modal.admin.empty_menu_shop.button_text"),
              settings_user_menus_path(super_user, shop_id: shop.id), class: "btn BTNyellow" %>
          <% else %>
            <%= link_to t("action.cancel"), "#", class: "btn BTNtarco", data: { dismiss: "modal" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
