<% grouped_answers = non_activity_answers.group_by(&:survey_question_id) %>
<div class="questions-container">
  <% grouped_answers.each do |_, answers| %>
    <div class="question-container">
      <h3 class="question-text">
        <%= truncate(answers.first.survey_question_snapshot, length: 20) %>
      </h3>

      <% if answers.present? %>
        <% if answers.first.text_answer.present? %>
          <p class="answer-text"><%= answers.first.text_answer %></p>
        <% elsif answers.length > 1 %>
          <ul class="answer-list">
            <% answers.each do |answer| %>
              <li><%= answer.survey_option_snapshot %></li>
            <% end %>
          </ul>
        <% else %>
          <p class="answer-text"><%= answers.first.survey_option_snapshot %></p>
        <% end %>
      <% else %>
        <p class="no-answer"><%= t("common.survey_response.no_answer") %></p>
      <% end %>
    </div>
  <% end %>
</div>