<%= jump_out_modal(trial_end_lines_user_bot_warnings_path(business_owner_id: business_owner_id), static: true) if !Current.business_owner.subscription.active? %>
<%= jump_out_modal(line_settings_verified_lines_user_bot_warnings_path(business_owner_id: business_owner_id), static: true) if !Current.business_owner.social_account&.line_settings_verified? && business_line_required? %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="booking-pages form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", title: I18n.t("user_bot.dashboards.booking_pages.index.title") %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.booking_pages.index.field_header") %></div>
        <div class="booking-pages-list">
          <% @booking_pages.each do |booking_page| %>
            <%= content_tag :div, class: "field-row with-next-arrow" do %>
              <%= link_to lines_user_bot_booking_page_path(booking_page, business_owner_id: business_owner_id), class: "w-8-12" do %>
                <h3 class="text-gray-700 underline"><%= booking_page.name %></h3>
                <% if @booking_pages_without_option_ids.include?(booking_page.id) %>
                  <div class="desc danger"><i class="fas fa-exclamation-circle"></i>&nbsp;<%= I18n.t("user_bot.dashboards.booking_pages.index.no_option") %></div>
                <% else %>
                  <div class="desc"><%= booking_page.title %></div>
                  <div class="desc"><%= booking_page.booking_options.pluck(:name).join(", ")%></div>
                  <div class="desc">
                    <%= I18n.t("user_bot.dashboards.booking_pages.index.line_status") %><%= booking_page.line_sharing ? "ON" : "OFF" %>
                  </div>
                <% end %>
              <% end %>

              <% if @booking_pages_without_option_ids.exclude?(booking_page.id) %>
                <div class="w-3-12 flex">
                  <%= button_tag type: 'button',
                      class: 'btn btn-icon btn-tarco mr-2',
                      data: {
                        clipboard_text: booking_page_url(booking_page),
                        controller: 'clipboard',
                        action: 'clipboard#copy',
                        clipboard_popup_text: I18n.t("common.url_copied")
                      } do %>
                    <i class="far fa-clone"></i>
                  <% end %>
                  <%= link_to booking_page_url(booking_page),
                      target: '_blank',
                      class: 'btn btn-icon btn-tarco' do %>
                    <i class="fas fa-external-link-alt"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>

          <div class="margin-around centerize">
            <%= button_to page_lines_user_bot_bookings_path(business_owner_id: business_owner_id), class: "btn btn-yellow", data: { confirm: I18n.t("user_bot.dashboards.booking_page_creation.confirm_booking_page_message") } do %>
            <i class="fa fa-plus"></i>
              <%= t("action.add_more") %>
            <% end %>
          </div>

          <div class="margin-around centerize">
            <%= t("user_bot.dashboards.booking_pages.introduction_message_html") %>
          </div>
        </div>

        <%= render "lines/user_bot/bottom_navigation_bar", klass: "transparent" do %>
          <%= link_to edit_booking_pages_lines_user_bot_settings_line_keyword_path(business_owner_id: business_owner_id),
            class: "btn btn-tarco btn-circle btn-tweak btn-bottom-left btn-with-word" do %>
            <i class="fa fab fa-line fa-2x"></i>
            <div class="word"><%= I18n.t("user_bot.dashboards.booking_pages.index.line_status") %></div>
          <% end %>

          <%= button_to page_lines_user_bot_bookings_path(business_owner_id: business_owner_id), class: "btn btn-yellow btn-circle btn-save btn-tweak btn-with-word", data: { confirm: I18n.t("user_bot.dashboards.booking_page_creation.confirm_booking_page_message") } do %>
            <i class="fas fa-plus fa-2x"></i>
            <div class="word"><%= I18n.t("action.add_more") %></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
