<div class="booking-pages form with-top-bar">
  <div class="top-navigation-bar">
    <i></i>
    <span><%= I18n.t("user_bot.dashboards.booking_pages.index.title") %></span>
    <i></i>
  </div>

  <div class="field-header"><%= I18n.t("user_bot.dashboards.booking_pages.index.field_header") %></div>
  <div class="booking-pages-list">
    <% @booking_pages.each do |booking_page| %>
      <%= link_to lines_user_bot_booking_page_path(booking_page), class: "field-row" do %>
        <div>
          <h3><%= booking_page.title %></h3>
          <div class="desc"><%= booking_page.booking_options.pluck(:name).join(", ")%></div>
          <div class="desc"><%= I18n.t("user_bot.dashboards.booking_pages.index.line_status") %><%= booking_page.line_sharing ? "ON" : "OFF" %></div>
        </div>
      <i class="fa fa-angle-right"></i>
      <% end %>
    <% end %>
  </div>
</div>
