<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="booking-pages form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", title: I18n.t("user_bot.dashboards.booking_pages.index.title") %>

        <div class="field-header"><%= I18n.t("user_bot.dashboards.booking_pages.index.field_header") %></div>
        <div class="booking-pages-list">
          <% @booking_pages.each do |booking_page| %>
            <%= link_to lines_user_bot_booking_page_path(booking_page, business_owner_id: business_owner_id), class: "field-row with-next-arrow" do %>
              <div>
                <h3><%= booking_page.title %></h3>
                <div class="desc"><%= booking_page.booking_options.pluck(:name).join(", ")%></div>
                <div class="desc">
                  <%= I18n.t("user_bot.dashboards.booking_pages.index.line_status") %><%= booking_page.line_sharing ? "ON" : "OFF" %>
                </div>
                <div class="desc"><%= booking_page.requirement_online_service&.name %></div>
              </div>
              <i class="fa fa-angle-right"></i>
            <% end %>
          <% end %>
        </div>

        <%= render "lines/user_bot/bottom_navigation_bar", klass: "transparent" do %>
          <%= link_to edit_booking_pages_lines_user_bot_settings_line_keyword_path(business_owner_id: business_owner_id),
            class: "btn btn-tarco btn-circle btn-tweak btn-bottom-left btn-with-word" do %>
            <i class="fa fab fa-line fa-2x"></i>
            <div class="word"><%= I18n.t("user_bot.dashboards.booking_pages.index.line_status") %></div>
          <% end %>

          <%= link_to new_lines_user_bot_booking_path(business_owner_id: business_owner_id), class: "btn btn-yellow btn-circle btn-save btn-tweak btn-with-word" do %>
            <i class="fas fa-plus fa-2x"></i>
            <div class="word"><%= I18n.t("action.add_more") %></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
