<div class="modal-dialog booking-preview-modal" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">
        <%= t("settings.booking_page.preview_title") %>
      </h4>
    </div>
    <div>
      <%= render "lines/user_bot/booking_pages/booking_page_preview", booking_page: @booking_page, booking_option: @booking_option %>
    </div>

    <div class="modal-footer centerize">
      <div>
        <input type="text" value=<%= booking_url(@booking_page) %> readOnly class="extend"/>
      </div>
      <%= button_tag t("action.copy_url2"), class: "btn btn-tarco",
        data: {
        controller: "clipboard",
        action: "click->clipboard#copy",
        clipboard_text: booking_url(@booking_page),
        clipboard_popup_text: t("common.copied")
      } %>
    <%= button_tag t("action.copy_code"), class: "btn btn-tarco", data: { controller: "clipboard", action: "click->clipboard#copy", clipboard_text: booking_page_share_button_link(@booking_page), clipboard_popup_text: t("common.copied") } %>
    </div>
  </div>
</div>
