<%= form_for(shop, url: url) do |f| %>
  <%= render "settings/form_errors", object: shop %>

  <h3>店名</h3>
  <div id="shopNames" class="formRow">
    <dl>
      <dt>店舗名<strong>必須項目</strong></dt>
      <dd>
        <%= f.text_field :name, placeholder: true, size: 20 %>
      </dd>
    </dl>
    <dl>
      <dt>短縮店舗名<strong>必須項目</strong></dt>
      <dd>
        <%= f.text_field :short_name, placeholder: true %>
      </dd>
    </dl>
  </div>

  <h3>連絡先</h3>
  <div id="contacts" class="formRow">
    <dl>
      <dt>Zip Code<strong>必須項目</strong></dt>
      <dd>
        <%= f.text_field :zip_code, placeholder: true %>
      </dd>
    </dl>
    <dl>
      <dt>住所<strong>必須項目</strong></dt>
      <dd>
        <%= f.text_field :address, placeholder: true %>
      </dd>
    </dl>
    <dl>
      <dt>TEL<strong>必須項目</strong></dt>
      <dd>
        <%= f.text_field :phone_number, placeholder: true %>
      </dd>
    </dl>
    <dl>
      <dt>Email<strong>必須項目</strong></dt>
      <dd>
        <%= f.text_field :email, placeholder: true, maxlength: 7 %>
      </dd>
    </dl>
    <dl>
      <dt>WEB</dt>
      <dd>
        <%= f.text_field :website, placeholder: true %>
      </dd>
    </dl>
  </div>

  <ul id="footerav">
    <li>
      <%= link_to "Cancel", settings_shops_path, class: "BTNtarco" %>
    </li>
    <li>
      <%= f.submit "保存", class: "BTNyellow" %>
    </li>
  </ul>
<% end %>
