<%= render "info" %>
<div id="about">
  <p><%= t("settings.shop.info_1") %><br /><%= t("settings.shop.info_2") %></p>
</div>

<%= jump_out_modal(settings_tours_shop_path) if session[:settings_tour] && !params[:from_settings_tour_root] %>

<%= content_tag(:div, id: "settingForm") do %>
  <div id="shopList" class="formRow">
    <ul class="tableTTL">
      <li class="rowTTL"><%= t("settings.shop.name") %></li>
      <li class="updateTime"><%= t("common.updated_time") %></li>
    </ul>
    <% @shops.each do |shop| %>
      <dl>
        <dt class="rowTTL">
          <%= link_to shop.read_attribute(:name), edit_settings_user_shop_path(super_user, shop) %>
          <% if shop.setup_pending? %>
            <div class="shop-setup-pending-warning">
              <i class="fa-solid fa-circle-exclamation"></i>
              <%= t("settings.shop.setup_pending_warning") %>
            </div>
          <% end %>
        </dt>
        <dd class="updateTime"><%= shop.updated_at.to_fs(:date) %></dd>
        <dd class="function">
          <%= link_to t("action.edit"), edit_settings_user_shop_path(super_user, shop), class: "BTNtarco" %>
          <%= link_to t("action.delete"), settings_user_shop_path(super_user, shop), class: "BTNorange", method: :delete, data: { confirm: I18n.t("common.are_you_sure_message") } %>
        </dd>
      </dl>
    <% end %>
    <% if admin? && can?(:create, Shop) %>
      <dl class="shop-add-row">
        <dt class="rowTTL">
          <% add_shop_link_options = { class: "BTNtarco shop-add-btn" } %>
          <% if super_user.subscription&.in_paid_plan? || super_user.permission_level == Plan::ENTERPRISE_LEVEL %>
            <% if @shop_fee_required %>
              <%= link_to "#", **add_shop_link_options, data: { toggle: "modal", target: "#addShopModal" } do %>
                <i class="fa fa-plus shop-add-row__icon" aria-hidden="true"></i>
                <%= t("settings.shop.add_button") %>
              <% end %>
            <% else %>
              <%= link_to add_settings_user_shops_path(super_user), **add_shop_link_options, method: :post do %>
                <i class="fa fa-plus shop-add-row__icon" aria-hidden="true"></i>
                <%= t("settings.shop.add_button") %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to "#", **add_shop_link_options, data: { toggle: "modal", target: "#upgradeModal" } do %>
              <i class="fa fa-plus shop-add-row__icon" aria-hidden="true"></i>
              <%= t("settings.shop.add_button") %>
            <% end %>
          <% end %>
        </dt>
        <dd class="updateTime"></dd>
        <dd class="function"></dd>
      </dl>
    <% end %>
  </div>
<% end %>

<% admin_only do %>
  <% if @shop_fee_required && @proration_preview %>
    <%= render "add_shop_modal",
      proration_preview: @proration_preview,
      super_user: super_user %>
  <% end %>

  <div class="modal fade" id="upgradeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            <%= t("settings.shop.modal.upgrade_title")%>
          </h4>
        </div>
        <div class="modal-body">
          <%= t("settings.shop.modal.upgrade_content_html", premium_plan_price: plan_price(current_user, Plan::PREMIUM_LEVEL)) %>
        </div>
        <div class="modal-footer centerize">
          <%= link_to t("action.upgrade_to_premium"), settings_plans_path(upgrade: Plan::PREMIUM_LEVEL), class: "btn BTNyellow" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
