<%
  fit_shop_charge_threshold = super_user.shops.count == Plans::Fee::SHOP_NUMBER_CHARGE_THRESHOLD
%>
<%= render "info" %>
<div id="about">
  <ul class="function">
    <% admin_only do %>
      <li>
        <% if can? :create, Shop %>
          <% if fit_shop_charge_threshold %>
            <%= link_to t("settings.shop.new_button"), "#", class: "BTNyellow addNew", data: { toggle: "modal", target: "#upgradeModal" } %>
          <% else %>
            <%= link_to t("settings.shop.new_button"), new_settings_user_shop_path(super_user), class: "BTNyellow addNew" %>
          <% end %>
        <% else %>
          <%= link_to t("settings.shop.new_button"), "#", class: "BTNyellow addNew", data: { toggle: "modal", target: "#upgradeModal" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <p><%= t("settings.shop.info_1") %><br /><%= t("settings.shop.info_2") %></p>
</div>

<div id="settingForm">
  <div id="shopList" class="formRow">
    <ul class="tableTTL">
      <li class="rowTTL"><%= t("settings.shop.name") %></li>
      <li class="updateTime"><%= t("common.updated_time") %></li>
    </ul>
    <% @shops.each do |shop| %>
      <dl>
        <dt class="rowTTL">
          <%= link_to shop.name, edit_settings_user_shop_path(super_user, shop) %>
        </dt>
        <dd class="updateTime"><%= shop.updated_at.to_s(:date) %></dd>
        <dd class="function">
          <%= link_to t("action.edit"), edit_settings_user_shop_path(super_user, shop), class: "BTNtarco" %>
          <%= link_to t("action.delete"), settings_user_shop_path(super_user, shop), class: "BTNorange", method: :delete, data: { confirm: I18n.t("common.are_you_sure_message") } %>
        </dd>
      </dl>
    <% end %>
  </div>
</div>

<% admin_only do %>
  <div class="modal fade" id="upgradeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">
            <%= t("settings.shop.modal.upgrade_title")%>
          </h4>
        </div>
        <div class="modal-body">
          <% if fit_shop_charge_threshold %>
            <%= t("settings.shop.modal.premium.upgrade_content_html", shop_number: Plans::Fee::SHOP_NUMBER_CHARGE_THRESHOLD, per_shop_fee_price: Plans::Fee::PER_SHOP_FEE) %>
          <% else %>
            <%= t("settings.shop.modal.upgrade_content_html", premium_plan_price: plan_price(Plan::PREMIUM_LEVEL)) %>
          <% end %>
        </div>
        <div class="modal-footer centerize">
          <% if fit_shop_charge_threshold %>
            <%= link_to t("settings.shop.modal.premium.cancel_button"), "#", class: "btn BTNtarco", data: { dismiss: "modal" } %>
            <%= link_to t("settings.shop.modal.premium.upgrade_button", per_shop_fee_price: Plans::Fee::PER_SHOP_FEE), new_settings_user_shop_path(super_user), class: "btn BTNtarco" %>
          <% else %>
            <%= link_to t("action.upgrade_to_premium"), settings_plans_path, class: "btn BTNyellow" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
