<%= render "info" %>
<div id="about">
  <ul class="function">
    <li>
      <%= link_to t("settings.shop.new_button"), new_settings_user_shop_path(super_user), class: "BTNyellow addNew" %>
    </li>
  </ul>
  <p><%= t("settings.shop.info_1") %><br /><%= t("settings.shop.info_2") %></p>
</div>

<div id="settingForm">
  <div id="shopList" class="formRow">
    <ul class="tableTTL">
      <li class="rowTTL"><%= t("settings.shop.name") %></li>
      <li class="updateTime"><%= t("common.updated_time") %></li>
    </ul>
    <% @shops.each do |shop| %>
      <dl>
        <dt class="rowTTL">
          <%= link_to shop.name, edit_settings_shop_path(shop) %>
        </dt>
        <dd class="updateTime"><%= shop.updated_at.to_s(:date) %></dd>
        <dd class="function">
          <%= link_to t("action.edit"), edit_settings_user_shop_path(super_user, shop), class: "BTNtarco" %>
          <%= link_to t("action.delete"), settings_user_shop_path(super_user, shop), class: "BTNorange", method: :delete, data: { confirm: I18n.t("common.are_you_sure_message") } %>
        </dd>
      </dl>
    <% end %>
  </div>
</div>

