<%= render "info" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Shop.human_attribute_name(:name) %></th>
      <th><%= Shop.human_attribute_name(:shortname) %></th>
      <th><%= Shop.human_attribute_name(:zip_code) %></th>
      <th><%= Shop.human_attribute_name(:phone_number) %></th>
      <th><%= Shop.human_attribute_name(:email) %></th>
      <th><%= Shop.human_attribute_name(:website) %></th>
      <th><%= Shop.human_attribute_name(:address) %></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.shortname %></td>
        <td><%= shop.zip_code %></td>
        <td><%= shop.phone_number %></td>
        <td><%= shop.email %></td>
        <td><%= shop.website %></td>
        <td><%= shop.address %></td>
        <td><%= link_to 'Show', settings_shop_path(shop), class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_settings_shop_path(shop), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', settings_shop_path(shop), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_settings_shop_path, class: "btn btn-primary" %>
