<%= shops_select_component(option_path_method: "settings_shop_path") %>

<div class="clearfix">
  <%= react_component("UI.Calendar",
                      { selected: {},
                        day_names: I18n.t("date.abbr_day_names") },
                      { id: "calendar", prerender: true }) %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shop.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @shop.shortname %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @shop.zip_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @shop.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @shop.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @shop.website %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<%= link_to 'Edit', edit_settings_shop_path(@shop) %> |
<%= link_to 'Back', settings_shops_path %>
