<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title" id="myModalLabel">

        <span class="reservation-state reserved"><%= I18n.t("common.event") %></span><%= start_time_date_part %> <%= start_time_time_part %> ~ <%= end_time_time_part %>
      </h4>
    </div>
    <div class="modal-body">
      <%= reason %>
    </div>
    <div class="modal-footer">
      <div>
        <%= link_to t("action.booking_page_edit"), edit_lines_user_bot_booking_page_path(id: booking_page_id, attribute: "booking_type"), class: "btn btn-tarco" %>
      </div>
    </div>
  </div>
</div>