<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="payments form">
        <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_settings_path(business_owner_id: business_owner_id), title: t("user_bot.dashboards.settings.dashboard.payments_label") %>

        <%= flash_messages %>
        <table class="history">
          <thead>
            <tr>
              <th class="charge-date"><%= t("settings.plans.payment.date") %></th>
              <th class="charge-amount"><%= t("settings.plans.payment.amount") %></th>
              <th class="charge-plan"><%= t("settings.plans.payment.plan") %></th>
              <th class="charge-receipt"><%= t("settings.plans.payment.receipt") %></th>
            </tr>
          </thead>
          <tbody>
            <% @charges.each do |charge| %>
              <tr>
                <td><%= l(charge.created_at.to_date) %></td>
                <td><%= charge.amount.format %></td>
                <td><%= charge_description(charge) %> <%= "(#{t("settings.plans.payment.refund")})" if charge.refunded? %></td>
                <td>
                  <%= link_to t("settings.plans.payment.receipt"), receipt_lines_user_bot_settings_payment_path(id: charge.id, encrypted_user_id: MessageEncryptor.encrypt(Current.business_owner.id), format: :pdf), target: "_blank" %>
                  <%# 
                    <%#= link_to t("settings.plans.payment.refund"), "#", class: "btn btn-orange", data: { toggle: "modal", target: "#refund-modal" } if @refundable && @subscription.first_charge.id == charge.id
                  %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td><%= l(Current.business_owner.subscription.trial_expired_date.to_date) %></td>
              <td>¥0</td>
              <td><%= t("settings.plans.payment.trial_end") %></td>
              <td></td>
            </tr>
            <tr>
              <td><%= l(Current.business_owner.subscription.created_at.to_date) %></td>
              <td>¥0</td>
              <td><%= t("settings.plans.payment.sign_up") %></td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <% if @refundable %>
          <div class="modal fade" id="refund-modal" tabIndex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content refund-area">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title">
                    <%= t("settings.plans.refund.modal_title") %>
                  </h4>
                </div>
                <div class="modal-body">
                  <div>
                    <%= t("settings.plans.refund.desc") %>
                  </div>
                  <div class="refund-label">
                    <%= t("settings.plans.refund.label1") %>
                  </div>
                  <div>
                    <%= t("settings.plans.refund.desc1") %>
                  </div>
                  <div class="refund-label">
                    <%= t("settings.plans.refund.label2") %>
                  </div>
                  <div>
                    <%= t("settings.plans.refund.desc1") %>
                  </div>
                </div>
                <div class="modal-footer">
                  <%= link_to t("settings.plans.refund.cancel_btn"), '#', class: "btn btn-tarco", data: { dismiss: "modal" } %>
                  <%= link_to t("settings.plans.refund.confirm_btn"), refund_lines_user_bot_settings_payments_path(business_owner_id: business_owner_id), class: "btn btn-orange" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
