<%= form_for(menu, url: url) do |f| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-block">
    <h2>Menu Informations</h2>
    <div class="form-group url required row">
      <label class="url required control-label col-sm-2 control-label">
        <abbr class="required" title="required">*</abbr> <%= f.label :name %>
      </label>

      <div class="col-sm-9">
        <%= f.text_field :name, placeholder: true %>
      </div>
    </div>

    <div class="form-group url required row">
      <label class="url required control-label col-sm-2 control-label">
        <%= f.label :shortname %>
      </label>

      <div class="col-sm-9">
        <%= f.text_field :shortname, placeholder: true %>
      </div>
    </div>

    <div class="form-group url required row">
      <label class="url required control-label col-sm-2 control-label">
        <%= f.label :minutes %>
      </label>

      <div class="col-sm-9">
        <%= f.number_field :minutes, placeholder: true %>
      </div>
    </div>

    <div class="form-group url required row">
      <label class="url required control-label col-sm-2 control-label">
        <%= f.label :min_staffs_number %>
      </label>

      <div class="col-sm-9">
        <%= f.number_field :min_staffs_number, placeholder: true %>
      </div>
    </div>
  </div>
  <div class="form-block staff-of-menu">
    <h2>対応従業員</h2>
    <%#= react_component("UI.MenuStaffSelect",
                        { options: (shop.staffs - menu.staffs).map{|s| { value: s.id, label: s.name }},
                          selected_options: menu.staff_menus.includes(:staff).map{|s| { value: s.staff_id, label: s.staff.name, number: s.max_customers }},
                          placeholder: StaffMenu.human_attribute_name(:max_customers),
                          max_customer_field_name: "menu[staff_menus_attributes][][max_customers]",
                          selected_field_name: "menu[staff_menus_attributes][][staff_id]"
                        }) %>
    <div id="doStaff" class="formRow">
      <ul class="tableTTL">
        <li class="rowTTL">Staff Name</li>
        <li class="capability">Capability</li>
        <li class="capability">Max Customers</li>
      </ul>
      <input type="hidden" value="" name="menu[staff_ids][]" />
        <% shop.staffs.includes(:staff_menus).each do |staff| %>
          <% staff_menu = staff.staff_menus.find{|s| s.menu_id == params[:id].to_i } %>
          <dl>
            <dt><%= staff.name %></dt>
            <dd class="capability">
              <%= check_box_tag "menu[staff_menus_attributes][][staff_id]",
                staff.id, staff_menu.present?, class: "BTNyesno", id: "staff-#{staff.id}" %>
              <label for=<%= "staff-#{staff.id}" %>></label>
            </dd>
            <dd>
              <%= number_field_tag "menu[staff_menus_attributes][][max_customers]",
                staff_menu.try(:max_customers),
                placeholder: StaffMenu.human_attribute_name(:max_customers) %>
            </dd>
          </dl>
        <% end %>
    </div>
  </div>

  <div id="footerav" class="actions">
    <%= f.submit "save", class: "BTNtarco" %>
  </div>
<% end %>
