<%= render "info" %>
<div id="about">
  <ul class="function">
    <li>
      <%= link_to 'Add a New Menu', new_settings_menu_path, class: "BTNyellow addNew" %>
    </li>
    <li><a href="menu_category.html" class="BTNtarco addNew">Edit Category</a></li>
  </ul>
  <p>Please enter menu here.<br>Toruya will accept reservation based on this setting.</p>
</div>

<form>
  <div id="menuList" class="formRow">
    <ul class="tableTTL">
      <li class="check"><a href="" class="BTNorange">Delete</a></li>
      <li class="rowTTL">Menu Name</li>
      <li class="updateTime">update time</li>
    </ul>
    <% @menus.each do |menu| %>
      <dl>
        <dt class="check">
          <%= link_to 'Delete', settings_menu_path(menu), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </dt>
        <dt class="rowTTL"><%= menu.name %></dt>
        <dd class="updateTime"><%= menu.updated_at.to_s(:date) %></dd>
        <dd class="function">
          <%= link_to 'Edit Menu', edit_settings_menu_path(menu), class: "BTNtarco" %>
        </dd>
      </dl>
    <% end %>
  </div>
</form>
<br>

