<%= render "info" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Menu.human_attribute_name(:name) %></th>
      <th><%= Menu.human_attribute_name(:shortname) %></th>
      <th><%= Menu.human_attribute_name(:minutes) %></th>
      <th><%= Menu.human_attribute_name(:min_staffs_number) %></th>
      <th>Staffs</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.shortname %></td>
        <td><%= menu.minutes %></td>
        <td><%= menu.min_staffs_number %></td>
        <td><%= menu.staffs.map(&:name).join(", ") %></td>
        <td>
          <%= link_to 'Edit', edit_settings_shop_menu_path(shop, menu), class: "btn btn-default" %>
          <%= link_to 'Destroy', settings_shop_menu_path(shop, menu), class: "btn btn-default btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_settings_shop_menu_path(shop), class: "btn btn-primary" %>
