<% if local_assigns[:path] %>
  <%= link_to local_assigns[:path], class: "field-row with-next-arrow with-format #{local_assigns[:klass]} #{local_assigns[:header_row] && 'header-row'}" do %>
    <% if local_assigns[:title] %>
      <% if mobile_only %>
        <span class="dotdotdot"><%= raw local_assigns[:title] %></span>
      <% else %>
        <span><%= raw local_assigns[:title] %></span>
      <% end %>
    <% else %>
      <%= yield %>
    <% end %>
    <i class="fa fa-angle-right"></i>
  <% end %>
<% else  %>
  <div class="field-row with-format <%= local_assigns[:header_row] && 'header-row' %>">
    <% if local_assigns[:title] %>
      <% if mobile_only %>
        <span class="dotdotdot"><%= raw local_assigns[:title] %></span>
      <% else %>
        <span><%= raw local_assigns[:title] %></span>
      <% end %>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
<% end %>
