<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <%= t("settings.modal.tour.reservation_setting_title") %>
      </h4>
    </div>
    <div class="modal-body">
      <h4 style="margin-bottom: 10px;">予約枠を設定して、本当に使えるオンライン予約を実現！</h4>
      <p style="margin-bottom: 10px;">Toruyaでは、営業日時とは別で予約枠を設定します。予約枠には、営業日時とは別に、一部のメニューの予約を受け付ける日時を設定できます。</p>
      <p>例えば、営業日時が平日１０時から１９時までの店舗で、毎週水曜日の１０時から１７時までしか予約を受け付けないメニューがある場合は、営業日時とは別に、毎週水曜日の１０時から１７時までの予約枠を設定しておけば、オンラインで予約を受け付ける際は、営業日＆勤務時間内であっても予約枠外では予約できなくなります。</p>
    </div>
    <div class="modal-footer centerize">
      <% if @from_settings_tour_root %>
        <%= link_to t("settings.modal.tour.no_need"), "#", class: "btn BTNtarco", data: { dismiss: "modal" } %>
        <%= link_to t("settings.modal.tour.setup_reservation_setting"), settings_user_reservation_settings_path(current_user, from_settings_tour_root: true), class: "btn BTNtarco" %>
      <% else %>
        <%= link_to t("settings.modal.tour.end_tour"), settings_end_tour_path, class: "btn BTNtarco" %>
        <%= link_to t("settings.modal.tour.setup_reservation_setting"), "#", class: "btn BTNtarco", data: { dismiss: "modal" } %>
      <% end %>
    </div>
  </div>
</div>
