<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <%= t("settings.modal.tour.shop_title") %>
      </h4>
    </div>
    <div class="modal-body">
      <h4 style="margin-bottom: 10px;">Toruyaで店舗を設定して、予約間違い防止やオンライン予約をスタート！</h4>
      <p style="margin-bottom: 10px;">あなた自身のビジネスを店舗として設定することで、予約データを作成することができます。Toruyaにあなたの店舗を設定すれば、いつでも＆どこでも顧客台帳から利用履歴を確認できるようになります。</p>
      <p>さらにToruyaでは プライベートの予定も入力可能！  プライベートの予定があれば、オンライン予約を自動的に「満席」表示にしますので、予定が入る度にオンラインの受付日時を変更する必要もなし！</p>
    </div>
    <div class="modal-footer centerize">
      <% if @from_settings_tour_root %>
        <%= link_to t("settings.modal.tour.no_need"), "#", class: "btn BTNtarco", data: { dismiss: "modal" } %>
        <%= link_to t("settings.modal.tour.setup_shop"), settings_user_shops_path(current_user, from_settings_tour_root: true), class: "btn BTNtarco" %>
      <% else %>
        <%= link_to t("settings.modal.tour.no_need"), settings_end_tour_path, class: "btn BTNtarco" %>
        <%= link_to t("settings.modal.tour.setup_shop"), "#", class: "btn BTNtarco", data: { dismiss: "modal" } %>
      <% end %>
    </div>
  </div>
</div>
