<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", title: t("user_bot.dashboards.settings.staffs.list_page_title") %>

        <div class="field-header"><%= t("user_bot.dashboards.settings.staffs.list_page_header") %></div>
        <% @staffs.each do |staff| %>
          <%= render "lines/user_bot/field_state", state: staff.state do %>
            <%= render "lines/user_bot/field_row", path: lines_user_bot_settings_staff_path(business_owner_id: business_owner_id, id: staff.id), state: staff.state do %>
              <div class="dotdotdot">
                <h3><%= staff.display_name %></h3>
                <div class="desc"><%= t("user_bot.dashboards.settings.staffs.authorities.#{staff.level}") %></div>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <%= render "lines/user_bot/bottom_navigation_bar", klass: "centerize" do %>
          <%= link_to new_lines_user_bot_settings_staff_path(business_owner_id: business_owner_id), class: "btn btn-yellow btn-circle btn-save btn-tweak btn-with-word" do %>
            <i class="fas fa-plus fa-2x"></i>
            <div class="word"><%= I18n.t("action.add_more") %></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
