<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_settings_staffs_path(business_owner_id: business_owner_id), title: t("user_bot.dashboards.settings.staffs.new_page_title") %>

        <div class="margin-around centerize">
          <div class="my-2"><%= t("user_bot.dashboards.settings.staffs.new_page_desc") %></div>

          <%= form_with(url: lines_user_bot_settings_staffs_path(business_owner_id: business_owner_id), local: true) do |f| %>
            <%= f.text_field :phone_number_or_email, placeholder: t("user_bot.dashboards.settings.staffs.cellphone_input_placeholder") %>
            <%= f.submit t("common.send"), class: "btn btn-tarco" %>
          <% end %>
        </div>
        <div class="flex justify-center">
          <div class="margin-around break-line-content"><%= t("user_bot.dashboards.settings.staffs.new_page_methods_html") %></div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
