<div id="subNav">
  <h2><%= t("settings.dashboard.info_title") %></h2>
</div>
<div id="about">
  <p><%= t("settings.dashboard.info_desc_html") %></p>
</div>

<%= content_tag(:div, id: "settingForm") do %>
  <% unless basic_settings_presenter.completed? %>
    <%= jump_out_modal(settings_tours_current_step_warning_path) if session[:settings_tour] %>
    <%= render "tour", presenter: basic_settings_presenter %>
  <% end %>

  <% if basic_settings_presenter.completed? && !booking_settings_presenter.completed? %>
    <%= render "tour", presenter: booking_settings_presenter %>
  <% end %>
<% end %>
