<div id="subNav">
  <h2><%= t("settings.dashboard.info_title") %></h2>
</div>
<div id="about">
  <p><%= t("settings.dashboard.info_desc_html") %></p>
</div>

<%= content_tag(:div, id: "settingForm") do %>
  <div class="dashboard">
    <div class="cell">
      <div>
        <%= t("settings.dashboard.current_plan_is") %>
      </div>
      <div>
        <strong class="big"><%= current_user.member_level_name %></strong>
      </div>
      <div>
        <%= link_to t("settings.dashboard.check_plan"), settings_payments_path, class: "btn btn-yellow" %>
      </div>
    </div>
    <div class="cell">
      <div>
        <%= t("settings.dashboard.today_had_created") %>
      </div>
      <div>
        <strong><span class="big"><%= @today_reservations_count %></span><span> / <%= current_user.premium_member? ? t("settings.dashboard.no_limit") : Reservations::DailyLimit::RESERVATION_DAILY_LIMIT %></span></strong>
      </div>
      <div>
        <%= t("settings.dashboard.do_reservations_created") %>
      </div>
    </div>
    <div class="cell">
      <div>
        <%= t("settings.dashboard.total_had_created") %>
      </div>
      <div>
        <strong><span class="big"><%= @total_reservations_count %></span><span> / <%= @total_reservations_limit || t("settings.dashboard.no_limit") %></span></strong>
      </div>
      <div>
        <%= t("settings.dashboard.reservations_created") %>
      </div>
    </div>
  </div>

  <% unless basic_setting_presenter.completed? %>
    <%= jump_out_modal(settings_tours_current_step_warning_path) if session[:settings_tour] %>

    <div class="tour">
      <h3><span class="title">基本設定</span> <%= link_to t("settings.dashboard.basic_tour.start_btn"), settings_tour_path, class: "btn btn-tarco" %></h3>
      <div class="formRow">
        <%= content_tag(:div, data: { controller: "collapse", collapse_status: "open" }, class: "tasks-group") do %>
          <%= content_tag(:dl, data: { target: "collapse.toggler", action: "click->collapse#toggle" }, class: "formTTL") do %>
            <dt>
              <% if basic_setting_presenter.personal_scheduled_enabled? %>
                <span class="label label-done"><%= t("common.done") %></span>
              <% else %>
                <span class="label label-warning">0%</span>
              <% end %>
              <span>Step1: <%= t("settings.dashboard.basic_tour.private_schedule_management") %></span>
            </dt>
            <dd>
              <i data-target="collapse.openToggler" class="fa fa-minus-square-o" aria-hidden="true"></i>
              <i data-target="collapse.closeToggler" class="fa fa-plus-square-o display-hidden" aria-hidden="true"></i>
            </dd>
          <% end %>
          <div data-target="collapse.content">
            <dl class="task">
              <%= check_setting_icon(basic_setting_presenter.profile_settings_completed?) %>
              <%= t("settings.dashboard.basic_tour.account_info_settings") %>
              <%= link_to settings_profile_path do %>
                <i class="fa fa-chevron-right next-setting" aria-hidden="true"></i>
              <% end %>
            </dl>
          </div>
        <% end %>

        <%= content_tag(:div, data: { controller: "collapse", collapse_status: "open" }, class: "tasks-group") do %>
          <%= content_tag(:dl, data: { target: "collapse.toggler", action: "click->collapse#toggle" }, class: "formTTL") do %>
            <dt>
              <% if basic_setting_presenter.customers_management_enabled? %>
                <span class="label label-done"><%= t("common.done") %></span>
              <% else %>
                <span class="label label-warning">0%</span>
              <% end %>
              <span>Step2: <%= t("settings.dashboard.basic_tour.customers_management") %></span>
            </dt>
            <dd>
              <i data-target="collapse.openToggler" class="fa fa-minus-square-o" aria-hidden="true"></i>
              <i data-target="collapse.closeToggler" class="fa fa-plus-square-o display-hidden" aria-hidden="true"></i>
            </dd>
          <% end %>
          <div data-target="collapse.content">
            <dl class="task">
              <%= check_setting_icon(basic_setting_presenter.customers_settings_completed?) %>
              <%= t("settings.dashboard.basic_tour.customers_settings") %>
              <%= link_to settings_user_contact_groups_path(current_user) do %>
                <i class="fa fa-chevron-right next-setting" aria-hidden="true"></i>
              <% end %>
            </dl>
          </div>
        <% end %>

        <%= content_tag(:div, data: { controller: "collapse", collapse_status: "open" }, class: "tasks-group") do %>
          <%= content_tag(:dl, data: { target: "collapse.toggler", action: "click->collapse#toggle" }, class: "formTTL") do %>
            <dt>
              <% if basic_setting_presenter.reservation_management_enabled? %>
                <span class="label label-done"><%= t("common.done") %></span>
              <% else %>
                <span class="label label-warning"><%= number_to_percentage(basic_setting_presenter.reservation_settings_completed_percentage * 100, precision: 0) %></span>
              <% end %>
              <span>Step3: <%= t("settings.dashboard.basic_tour.reservations_management") %></span>
            </dt>
            <dd>
              <i data-target="collapse.openToggler" class="fa fa-minus-square-o" aria-hidden="true"></i>
              <i data-target="collapse.closeToggler" class="fa fa-plus-square-o display-hidden" aria-hidden="true"></i>
            </dd>
          <% end %>
          <div data-target="collapse.content">
            <dl class="task">
              <%= check_setting_icon(basic_setting_presenter.shops_settings_completed?) %>
              <%= t("settings.dashboard.basic_tour.shops_settings") %>
              <%= link_to settings_user_shops_path(current_user) do %>
                <i class="fa fa-chevron-right next-setting" aria-hidden="true"></i>
              <% end if basic_setting_presenter.shops_settings_completed? || basic_setting_presenter.customers_settings_completed? %>
            </dl>
            <dl class="task">
              <%= check_setting_icon(basic_setting_presenter.business_hours_settings_completed?) %>
              <%= t("settings.dashboard.basic_tour.business_hours_settings") %>
              <%= link_to settings_user_business_schedules_path(current_user) do %>
                <i class="fa fa-chevron-right next-setting" aria-hidden="true"></i>
              <% end if basic_setting_presenter.shops_settings_completed? || basic_setting_presenter.business_hours_settings_completed? %>
            </dl>
            <dl class="task">
              <%= check_setting_icon(basic_setting_presenter.working_time_settings_completed?) %>
              <%= t("settings.dashboard.basic_tour.working_time_settings") %>
              <%= link_to settings_user_working_time_staffs_path(current_user) do %>
                <i class="fa fa-chevron-right next-setting" aria-hidden="true"></i>
              <% end if basic_setting_presenter.working_time_settings_completed? || basic_setting_presenter.business_hours_settings_completed? %>
            </dl>
            <dl class="task">
              <%= check_setting_icon(basic_setting_presenter.reservation_settings_completed?) %>
              <%= t("settings.dashboard.basic_tour.reservations_blocks_settings") %>
              <%= link_to settings_user_reservation_settings_path(current_user) do %>
                <i class="fa fa-chevron-right next-setting" aria-hidden="true"></i>
              <% end if basic_setting_presenter.working_time_settings_completed? || basic_setting_presenter.reservation_settings_completed? %>
            </dl>
            <dl class="task">
              <%= check_setting_icon(basic_setting_presenter.menu_settings_completed?) %>
              <%= t("settings.dashboard.basic_tour.menus_settings") %>
              <%= link_to settings_user_menus_path(current_user) do %>
                <i class="fa fa-chevron-right next-setting" aria-hidden="true"></i>
              <% end if basic_setting_presenter.menu_settings_completed? || basic_setting_presenter.reservation_settings_completed? %>
              </dl>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
