<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", title: t("user_bot.dashboards.broadcasts.broadcast_title") %>

        <% @broadcasts.each do |broadcast| %>
          <%= render "lines/user_bot/field_state", state: broadcast.state do %>
            <%= render "lines/user_bot/field_row", path: lines_user_bot_broadcast_path(broadcast), state: broadcast.state do %>
              <div class="dotdotdot">
                <h3><%= I18n.l(broadcast.broadcast_at, format: :long_date_with_wday) %></h3>
                <div class="desc"><%= I18n.t("user_bot.dashboards.broadcast_creation.#{broadcast.query_type}") %></div>
                <div class="desc"><%= broadcast.targets.join(", ") %></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>
