<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 settings-view">
      <div class="form with-top-bar">
        <%= render "lines/user_bot/top_navigation_bar", previous_path: lines_user_bot_broadcasts_path(business_owner_id: business_owner_id), title: t("user_bot.dashboards.broadcasts.broadcast_conditions") %>

        <div class="field-header"><%= t("user_bot.dashboards.broadcasts.content") %></div>
        <%= render "lines/user_bot/field_row", path: @broadcast.draft? ? edit_lines_user_bot_broadcast_path(@broadcast, business_owner_id: business_owner_id, attribute: :content) : nil do %>
          <p class="p10 bg-gray rounded break-line-content w-full"><%= @broadcast.content %></p>
        <% end %>

        <div class="field-header"><%= t("user_bot.dashboards.broadcasts.audiences") %></div>
        <%= render "lines/user_bot/field_row", path: @broadcast.draft? && !@broadcast.vip_customers? && !@broadcast.active_customers? ? edit_lines_user_bot_broadcast_path(@broadcast, business_owner_id: business_owner_id, attribute: :query) : nil do %>
          <div class="w-full"><%= I18n.t("user_bot.dashboards.broadcast_creation.#{@broadcast.query_type}") %></div>
          <% @broadcast.targets.each do |target_name| %>
            <div class="btn btn-gray mx-2 my-2"><%= target_name %></div>
          <% end %>
        <% end %>

        <div class="field-header"><%= t("user_bot.dashboards.broadcasts.recipients_count") %></div>
        <%= render "lines/user_bot/field_row" do %>
          <div>
            <%= @broadcast.recipients_count - @customers.select { |customer| !customer.reminder_permission }.count %>
          </div>
          <% if @customers.any? { |customer| !customer.reminder_permission } %>
            <div class="warning">
              <div>
                <%= I18n.t("user_bot.dashboards.broadcast_creation.customers_permission_warning_description") %>
                <a
                  href="#" 
                  data-toggle="modal"
                  data-target="#customers_permission_modal"
                  data-controller="modal"
                  data-modal-target="#customers_permission_modal"
                  data-modal-close-reload="true"
                  class="btn btn-tarco">
                  <%= I18n.t("action.check_it_out") %>
                </a>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="field-header"><%= t("user_bot.dashboards.broadcasts.state") %></div>
        <%= render "lines/user_bot/field_row", title: t("broadcast.states.#{@broadcast.state}") %>

        <div class="field-header"><%= t("user_bot.dashboards.broadcasts.time") %></div>
        <%= render "lines/user_bot/field_row", path: @broadcast.draft? ? edit_lines_user_bot_broadcast_path(@broadcast, business_owner_id: business_owner_id, attribute: :schedule_at) : nil, title: broadcast_deliver_at(@broadcast) %>

        <p class="action-block break-line-content warning">
        <% if @broadcast.active? %>
          <%= t("user_bot.dashboards.broadcasts.stop_desc") %>
        <% elsif @broadcast.draft? %>
          <%= t("user_bot.dashboards.broadcasts.active_desc") %>
        <% end %>
        </p>

        <%= render "lines/user_bot/bottom_navigation_bar", klass: "centerize" do %>
          <%= link_to clone_lines_user_bot_broadcast_path(@broadcast, business_owner_id: business_owner_id),
            method: :post,
            data: { disable_with: t("common.processing") },
            class: "btn btn-yellow btn-circle btn-tweak btn-with-word btn-bottom-left" do %>
            <i class="fa fa-copy fa-2x"></i>
            <div class="word"><%= I18n.t("action.duplicate") %></div>
          <% end %>

          <span><%= I18n.t("common.updated_date") %> <%= I18n.l(@broadcast.updated_at, format: :long_date) %></span>
          <% if @broadcast.active? %>
            <%= link_to  draft_lines_user_bot_broadcast_path(@broadcast, business_owner_id: business_owner_id), method: :put , data: { confirm: t("user_bot.dashboards.broadcasts.are_you_sure_to_stop") }, class: "btn btn-orange btn-circle btn-save btn-tweak btn-with-word" do %>
              <i class="fa fa-ban fa-2x"></i>
              <div class="word"><%= t("user_bot.dashboards.broadcasts.stop_send") %></div>
            <% end %>
          <% elsif @broadcast.draft? %>
            <%= link_to activate_lines_user_bot_broadcast_path(@broadcast, business_owner_id: business_owner_id), method: :put, class: "btn btn-tarco btn-circle btn-save btn-tweak btn-with-word" do %>
              <i class="fa fa-envelope fa-2x"></i>
              <div class="word"><%= t("action.activate") %></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 px-0 hidden-xs preview-view"></div>
  </div>
</div>

<div class="modal fade" id="customers_permission_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= I18n.t("user_bot.dashboards.broadcast_creation.customers_permission_modal.title") %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="warning margin-around centerize">
          <%= I18n.t("user_bot.dashboards.broadcast_creation.customers_permission_modal.warning_description") %>
        </div>
        <%= react_component("user_bot/broadcasts/customers_permissions", {
          props: {
            business_owner_id: business_owner_id,
            customers: @customers.select { |customer| !customer.reminder_permission }.map { |customer| CustomerSerializer.new(customer).attributes_hash },
          }
        },
        { camelize_props: false }
        ) %>
      </div>
    </div>
  </div>
</div>
