<div>
  <% online_service_relations.each do |online_service_relation| %>
    <%= link_to customer_status_online_service_url( slug: online_service_relation.online_service.slug, encrypted_social_service_user_id: MessageEncryptor.encrypt(current_social_customer.social_user_id), encrypted_customer_id: MessageEncryptor.encrypt(current_social_customer.customer_id) ), class: "text-gray-700 no-underline" do %>
      <div class="p-6 border border-solid border-gray-500 rounded-md my-1">
        <h3 class="text-lg font-bold mb-2" data-id="<%= online_service_relation.id %>">
          <%= online_service_relation.online_service.name %>
        </h3>

        <div class="text-sm text-gray-500">
          <%= t("user_bot.dashboards.settings.service_customer_relation.permission_state") %>: <%= t("user_bot.dashboards.settings.service_customer_relation.permission_states.#{online_service_relation.state}") %>
        </div>
        <div class="text-sm text-gray-500 mb-2">
          <%= t("user_bot.dashboards.settings.service_customer_relation.expire_date") %>: <%= online_service_relation.end_date_text %>
        </div>

        <div class="mt-2 border-0 border-t border-solid border-gray-300 py-3">
          <%= link_to t("common.status"), customer_status_online_service_url(slug: online_service_relation.online_service.slug, encrypted_social_service_user_id: MessageEncryptor.encrypt(current_social_customer.social_user_id), encrypted_customer_id: MessageEncryptor.encrypt(current_social_customer.customer_id)), class: "btn btn-tarco my-1" %>

          <% if online_service_relation.accessible? %>
            <% content_url = online_service_relation.online_service.product_content_url(online_service_relation.customer) %>
            <%= link_to t("common.content"), content_url, class: "btn btn-tarco my-1" if content_url.present? %>
          <% elsif online_service_relation.inactive? %>
            <%= link_to t("action.repurchase"), sale_page_path(slug: online_service_relation.sale_page.slug), class: "btn btn-tarco my-1" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
