<div id="subNav">
  <h2><%= t("settings.contact.info_title") %></h2>
</div>
<div id="about">
  <ul class="function">
    <li>
      <%= link_to t("settings.contact.new_button"), new_settings_user_contact_group_path(super_user), class: "BTNyellow addNew" %>
    </li>
  </ul>
  <p><%= t("settings.contact.info_1") %><br /><%= t("settings.contact.info_2") %></p>
</div>

<div id="settingForm">
  <div id="contactList" class="formRow">
    <ul class="tableTTL">
      <li class="rowTTL"><%= t("settings.contact.info_title") %></li>
      <li class="googleGroups"><%= t("settings.contact.connected_google_group_title") %></li>
      <li class="function"><%= t("settings.contact.synchronization_title") %></li>
    </ul>
    <% @contact_groups.each do |contact_group| %>
      <dl>
        <dt class="rowTTL"><%= contact_group.name %></dt>
        <dd class="googleGroups">
          <% if contact_group.google_group_name %>
            <%= contact_group.google_group_name %>
          <% elsif contact_group.backup_google_group_id %>
            <%= contact_group.google_backup_group_name %>
          <% else %>
            未設定
          <% end %>
        </dd>
        <dd class="function">
          <% if contact_group.google_group_name.blank? && contact_group.backup_google_group_id.nil? %>
            <%= link_to t("settings.contact.connect"), connections_settings_user_contact_group_path(super_user, contact_group), class: "BTNorange" if current_user.uid %>
          <% end %>
          <%= link_to t("settings.contact.sync"), sync_settings_user_contact_group_path(super_user, contact_group), method: :post, class: "BTNyellow", data: { disable_with: t("common.processing") } if contact_group.backup_google_group_id %>
          <%= link_to t("action.edit"), edit_settings_user_contact_group_path(super_user, contact_group), class: "BTNtarco", data: { disable_with: t("common.processing") } %>
          <%= link_to settings_user_contact_group_path(super_user, contact_group), method: :delete, class: "BTNorange", data: { disable_with: t("common.processing") } do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end unless contact_group.backup_google_group_id %>
        </dd>
      </dl>
    <% end %>
  </div>
</div>
