<div id="subNav">
  <h2><%= t("settings.contact.info_title") %></h2>
</div>
<div id="about">
  <p>Please sync your google account and the google group you want here.</p>
</div>

<form>
  <div>
    <% if current_user.uid %>
      <%= link_to "Reconnect Google account", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary", data: { confirm: "WARNING!! Reconnect different google acccount will delete your contact data, Are you sure ?"}  %>
    <% else %>
      <%= link_to "Connect Google account", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <div id="customize-table" class="formRow table">
    <dl class="header">
      <dd><%= t("settings.contact.info_title") %></dd>
      <dd>Connect Google Group</dd>
      <dd>Synchronization</dd>
    </dl>
    <% @contact_groups.each do |contact_group| %>
      <dl class="body">
        <dd><%= contact_group.name %></dd>
        <dd>
          <% if contact_group.google_group_name %>
            <%= contact_group.google_group_name %>
          <% else %>
            <%= link_to "Connect", connections_settings_contact_group_path(contact_group) if current_user.uid %>
          <% end %>
        </dd>
        <dd>
          <%= link_to "Sync", sync_settings_contact_group_path(contact_group), method: :post, class: "btn btn-success", data: { disable_with: "Processing" } if contact_group.google_group_name %>
        </dd>
        <dd>
          <%= link_to t("common.edit"), edit_settings_contact_group_path(contact_group), class: "btn btn-primary btn-light-green btn-bold", data: { disable_with: "Processing" } %>
          <%= link_to settings_contact_group_path(contact_group), method: :delete, class: "btn btn-danger btn-bold", data: { disable_with: "Processing" } do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end unless contact_group.google_group_name %>
        </dd>
      </dl>
    <% end %>
  </div>
  <ul class="function">
    <li>
      <%= link_to t("settings.contact.new_button"), new_settings_contact_group_path, class: "BTNyellow addNew" %>
    </li>
  </ul>
</form>
