<div id="subNav">
  <h2><%= t("settings.contact.info_title") %> − <%= t("settings.contact.new_title") %></h2>
</div>
<div id="about">
  <p><%= t("settings.contact.info_1") %><br /><%= t("settings.contact.info_2") %></p>
</div>

<%= render 'form',
  contact_group: @contact_group,
  url: settings_contact_groups_path %>
