<nav id="sideNav">
  <dl class="shop">
    <dt>
      <a href="#"><%= shop.name %>の設定</a>
    </dt>
  </dl>

  <dl class="shop">
    <%= active_link_to content_tag(:span, "<i class='fa fa-calendar fa-2x'></i>&nbsp;予約管理".html_safe), settings_user_business_schedules_path(super_user),
      active: [[
        "settings/business_schedules",
        "settings/reservation_settings",
        params[:working_time_menu_scope] == "shop" && "settings/working_time/staffs"]],
      wrap_tag: :dt,
      class_active: "here" %>
    <dd>
      <ul>
        <%= active_link_to t("settings.business_hours.info_title"), settings_user_business_schedules_path(super_user), active: [["settings/business_schedules"], []], wrap_tag: :li, class_active: "here" %>
        <%= active_link_to "予約枠", settings_user_reservation_settings_path(super_user), active: [["settings/reservation_settings"], []], wrap_tag: :li, class_active: "here" %>
      </ul>
    </dd>
  </dl>

  <%= render "settings/siders/menu_menus" %>
  <%= render "settings/siders/staff_menus" %>
</nav>
