<div class="container margin-around">
  <div class="row flex">
    <div class="w-full flex justify-center centerize">
      <div class="p-6 w-11-12 metric-cell">
        <%= react_component("user_bot/metrics/progress_cell", { number: @active_customers_rate }, { camelize_props: false }) %>
      </div>
    </div>

    <div class="w-full flex justify-center centerize">
      <div class="p-6 w-11-12 metric-cell">
        <h4><%= t("user_bot.dashboards.metrics.new_customers") %></h4>
        <div class="mx-auto">
          <p><%= t("user_bot.dashboards.metrics.last_three_months") %></p>
          <span class="text-4xl"><%= @customers_count %></span>
          <%= number_up_or_down(@comparison_customers_count) %>
        </div>
      </div>
    </div>

    <div class="w-full flex justify-center centerize">
      <div class="p-6 w-11-12 metric-cell">
        <h4><%= t("user_bot.dashboards.metrics.new_reservations") %></h4>
        <div class="mx-auto">
          <p><%= t("user_bot.dashboards.metrics.last_three_months") %></p>
          <span class="text-4xl"><%= @reservations_count %></span>
          <%= number_up_or_down(@comparison_reservations_count) %>
        </div>
      </div>
    </div>

    <div class="w-full flex justify-center centerize">
      <div class="p-6 w-11-12 metric-cell">
        <h4><%= t("user_bot.dashboards.metrics.total_revenue") %></h4>
        <div class="mx-auto">
          <p><%= t("user_bot.dashboards.metrics.last_three_months") %></p>
          <span class="text-4xl"><%= @customers_payment %></span>
          <%= number_up_or_down(@comparison_customers_payment) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container table margin-around border border-solid border-gray-500">
  <h3 class="p-6"><%= t("user_bot.dashboards.metrics.sale_page_ranking") %></h3>
  <div class="row">
    <div class="col-sm-9"><%= t("user_bot.dashboards.metrics.product_name") %></div>
    <div class="col-sm-3"><%= t("user_bot.dashboards.metrics.total_revenue") %></div>
  </div>
  <% @services_mapping_total_amount.slice(0, Lines::UserBot::MetricsController::TOP_SERVICES_NUMBER).each do |h| %>
    <div class="row">
      <div class="col-sm-9">
        <%= link_to h[:service].internal_product_name, lines_user_bot_metrics_online_service_path(h[:service]) %>
      </div>
      <div class="col-sm-3">
        <%= h[:total_revenue] %>
      </div>
    </div>
  <% end %>
  <% if @services_mapping_total_amount.length > Lines::UserBot::MetricsController::TOP_SERVICES_NUMBER %>
    <div class="row p-6 text-right">
      <%= link_to t("user_bot.dashboards.metrics.other_services"), lines_user_bot_metrics_online_services_path %>
    </div>
  <% end %>
</div>
