<div class="container margin-around">
  <div class="row">
    <div class="col-sm-3 col-xs-6 p-0 flex justify-center centerize">
      <div class="p-4 w-11-12 metric-cell h-full">
        <h5><%= t("user_bot.dashboards.metrics.active_customers_rate") %></h5>
        <div className="mx-auto">
          <p><%= t("user_bot.dashboards.metrics.last_year") %></p>
          <span class="text-4xl"><%= @active_customers_rate %></span>%
          <div class="flex justify-center" aria-hidden="true">&nbsp;</div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-xs-6 p-0 flex justify-center centerize">
      <div class="p-4 w-11-12 metric-cell h-full">
        <h5><%= t("user_bot.dashboards.metrics.new_customers") %></h5>
        <div class="mx-auto">
          <p><%= t("user_bot.dashboards.metrics.last_three_months") %></p>
          <span class="text-4xl"><%= @customers_count %></span>
          <%= number_up_or_down(@comparison_customers_count) %>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-xs-6 p-0 flex justify-center centerize mt-4 mt-sm-0">
      <div class="p-4 w-11-12 metric-cell h-full">
        <h5><%= t("user_bot.dashboards.metrics.new_reservations") %></h5>
        <div class="mx-auto">
          <p><%= t("user_bot.dashboards.metrics.last_three_months") %></p>
          <span class="text-4xl"><%= @reservations_count %></span>
          <%= number_up_or_down(@comparison_reservations_count) %>
        </div>
      </div>
    </div>

    <div class="col-sm-3 col-xs-6 p-0 flex justify-center centerize mt-4 mt-sm-0">
      <div class="p-4 w-11-12 metric-cell h-full">
        <h5><%= t("user_bot.dashboards.metrics.total_revenue") %></h5>
        <div class="mx-auto">
          <p><%= t("user_bot.dashboards.metrics.last_three_months") %></p>
          <span class="text-4xl"><%= @customers_payment %></span>
          <%= number_up_or_down(@comparison_customers_payment) %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @booking_revenue.present? %>
  <div class="container table margin-around border border-solid border-gray-500">
    <h3 class="p-6"><%= t("user_bot.dashboards.metrics.booking_revenue") %></h3>
    <div class="row">
    <div class="col-sm-7 col-xs-6"><%= t("user_bot.dashboards.metrics.booking_option") %></div>
    <div class="col-sm-2 col-xs-3"><%= t("user_bot.dashboards.metrics.bookings_count") %></div>
    <div class="col-sm-3 col-xs-3"><%= t("user_bot.dashboards.metrics.total_revenue") %></div>
  </div>
  <% @booking_revenue.each do |booking| %>
    <div class="row">
      <div class="col-sm-7 col-xs-6">
        <div><strong><%= booking["booking_option_name"] %></strong></div>
      </div>
      <div class="col-sm-2 col-xs-3">
        <%= booking["count"] %>
      </div>
      <div class="col-sm-3 col-xs-3">
        <%= booking["revenue"] %>
      </div>
    </div>
  <% end %>
  </div>
<% end %>

<% if @services_mapping_total_amount.present? %>
  <div class="container table margin-around border border-solid border-gray-500">
    <h3 class="p-6"><%= t("user_bot.dashboards.metrics.sale_page_ranking") %></h3>
    <div class="row">
    <div class="col-sm-9 col-xs-6"><%= t("user_bot.dashboards.metrics.product_name") %></div>
    <div class="col-sm-3 col-xs-6"><%= t("user_bot.dashboards.metrics.total_revenue") %></div>
  </div>
  <% @services_mapping_total_amount.slice(0, Lines::UserBot::MetricsController::TOP_SERVICES_NUMBER).each do |h| %>
    <div class="row">
      <div class="col-sm-9 col-xs-6">
        <%= link_to h[:service].internal_product_name, lines_user_bot_metrics_online_service_path(business_owner_id, h[:service]) %>
      </div>
      <div class="col-sm-3 col-xs-6">
        <%= h[:total_revenue] %>
      </div>
    </div>
  <% end %>
  <% if @services_mapping_total_amount.length > Lines::UserBot::MetricsController::TOP_SERVICES_NUMBER %>
    <div class="row p-6 text-right">
      <%= link_to t("user_bot.dashboards.metrics.other_services"), lines_user_bot_metrics_online_services_path(business_owner_id) %>
    </div>
  <% end %>
  </div>
<% end %>
