<%= form_for(profile, url: url) do |f| %>
  <h3>管理者情報<strong>必須項目</strong></h3>
  <div id="adminInfo" class="formRow">
    <dl>
      <dt>氏名</dt>
      <dd class="familyName">
        <%= f.text_field :last_name, placeholder: "Family Name" %>
      </dd>
      <dd class="firstName">
        <%= f.text_field :first_name, placeholder: "First Name" %>
      </dd>
    </dl>
    <dl>
      <dt>しめい</dt>
      <dd class="familyName">
        <%= f.text_field :phonetic_last_name, placeholder: "Family Name Kana" %>
      </dd>
      <dd class="firstName">
        <%= f.text_field :phonetic_first_name, placeholder: "First Name Kana" %>
      </dd>
    </dl>
  </div>
  <h3>企業情報</h3>
  <div id="companyInfo" class="formRow">
    <dl>
      <dt>社名・屋号<strong>必須項目</strong></dt>
      <dd>
        <%= f.text_field :company_name, placeholder: "Company Name", size: 20 %>
      </dd>
    </dl>
    <dl>
      <dt>Zip Code<strong>必須項目</strong></dt>
      <dd>
        <%= f.text_field :zip_code, placeholder: "1234567", max_length: 7 %>
      </dd>
    </dl>
    <dl>
      <dt>住所<strong>必須項目</strong></dt>
      <dd>
        <%= f.text_field :zip_code, placeholder: "Address", class: "address" %>
      </dd>
    </dl>
    <dl>
      <dt>TEL<strong>必須項目</strong></dt>
      <dd>
        <%= f.phone_field :phone_number, placeholder: "01201234567", max_length: 11 %>
      </dd>
    </dl>
    <dl>
      <dt>WEB</dt>
      <dd>
        <%= f.url_field :website, placeholder: "http://" %>
      </dd>
    </dl>
  </div>
  <ul id="footerav">
    <li>
      <%= link_to "Cancel", settings_profile_path, class: "BTNtarco" if profile.persisted? %>
    </li>
    <li>
      <%= f.submit "保存", class: "BTNyellow" %>
    </li>
  </ul>
<% end %>
