<div id="subNav">
  <h2>アカウント情報</h2>
</div>
<div id="about">
  <p><%= t("settings.profile.info_1") %><br /><%= t("settings.profile.info_2") %></p>
</div>

<form>
  <div id="customize-table" class="formRow table">
    <dl>
      <dd><%= t("common.name") %></dd>
      <dd><%= @profile.name %></dd>
    </dl>
    <dl>
      <dd><%= Profile.human_attribute_name(:company_name) %></dd>
      <dd><%= @profile.company_name %></dd>
    </dl>
    <dl>
      <dd><%= Profile.human_attribute_name(:zip_code) %></dd>
      <dd><%= @profile.zip_code %></dd>
    </dl>
    <dl>
      <dd><%= Profile.human_attribute_name(:address) %></dd>
      <dd><%= @profile.address %></dd>
    </dl>
    <dl>
      <dd><%= Profile.human_attribute_name(:phone_number) %></dd>
      <dd><%= @profile.phone_number %></dd>
    </dl>
    <dl>
      <dd>Website</dd>
      <dd><%= @profile.website %></dd>
    </dl>
  </div>
  <%= link_to t("action.edit"), edit_settings_profile_path, class: "btn btn-primary" %>
</form>
