<div id="subNav">
  <h2>アカウント情報</h2>
</div>
<div id="about">
  <p><%= t("settings.profile.info_1") %><br /><%= t("settings.profile.info_2") %></p>
</div>

<div id="settingForm">
  <h3>管理者情報<strong>必須項目</strong></h3>
  <div id="adminInfo" class="formRow">
    <dl>
      <dt><%= t("common.name") %></dt>
      <dd><%= @profile.name %></dd>
    </dl>
  </div>

  <h3>企業情報</h3>
  <div id="companyInfo" class="formRow">
    <dl>
      <dt><%= Profile.human_attribute_name(:company_name) %></dt>
      <dd><%= @profile.company_name %></dd>
    </dl>
    <dl>
      <dt><%= Profile.human_attribute_name(:zip_code) %></dt>
      <dd><%= @profile.zip_code %></dd>
    </dl>
    <dl>
      <dt><%= Profile.human_attribute_name(:adtress) %></dt>
      <dd><%= @profile.address %></dd>
    </dl>
    <dl>
      <dt><%= Profile.human_attribute_name(:phone_number) %></dt>
      <dd><%= @profile.phone_number %></dd>
    </dl>
    <dl>
      <dt>Website</dt>
      <dd><%= @profile.website %></dd>
    </dl>
  </div>
  <ul id="footerav">
    <%= link_to t("action.edit"), edit_settings_user_profile_path(super_user), class: "BTNyellow" %>
  </ul>
</div>
