<div class="settings-dashboard form with-top-bar">
  <%= render "lines/user_bot/top_navigation_bar", previous_path: previous_path(lines_user_bot_settings_menus_path(business_owner_id)), title: t("common.menu") %>
  <div class="field-group-header" id="name"><%= t("user_bot.dashboards.settings.menu.basic_settings") %></div>
  <div class="field-header"><%= t("user_bot.dashboards.settings.menu.name") %></div>
  <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_menu_path(business_owner_id, id: @menu.id, attribute: :name) do %>
    <div>
      <%= @menu.name %><br />
      <p class="desc">
      <%= @menu.short_name %>
      </p>
    </div>
  <% end %>
  <div class="field-header"><%= t("user_bot.dashboards.settings.menu.minutes") %></div>
  <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_menu_path(business_owner_id, id: @menu.id, attribute: :minutes) do %>
    <div>
      <%= @menu.minutes %>
    </div>
  <% end %>
  <div class="field-header"><%= t("user_bot.dashboards.settings.menu.interval") %></div>
  <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_menu_path(business_owner_id, id: @menu.id, attribute: :interval) do %>
    <div>
      <%= @menu.interval %>
    </div>
  <% end %>
  <div class="field-header"><%= t("user_bot.dashboards.settings.menu.min_staffs_number") %></div>
  <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_menu_path(business_owner_id, id: @menu.id, attribute: :min_staffs_number) do %>
    <div>
      <%= @menu.min_staffs_number %>
      <% if @menu.no_manpower? %>
        <p class="desc">
          <%= t("user_bot.dashboards.settings.menu.no_manpower_desc") %>
        </p>
      <% end %>
    </div>
  <% end %>
  <div class="field-header"><%= t("user_bot.dashboards.settings.menu.menu_shops") %></div>
  <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_menu_path(business_owner_id, id: @menu.id, attribute: :menu_shops) do %>
    <div>
      <% @menu_shops.each do |menu_shop| %>
        <div class="dotdotdot">
          <%= menu_shop.shop.display_name %>
          <p class="desc">
          <%= t("user_bot.dashboards.settings.menu.full_seat_number_title") %>: <%= menu_shop.max_seat_number %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="field-header"><%= t("user_bot.dashboards.settings.menu.staffs") %></div>
  <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_menu_path(business_owner_id, id: @menu.id, attribute: :menu_staffs) do %>
    <div class="dotdotdot">
      <%= @staffs.map(&:name).join(", ")%>
    </div>
  <% end %>

  <div class="field-header"><%= t("user_bot.dashboards.settings.menu.method") %></div>
  <%= render "lines/user_bot/field_row", path: edit_lines_user_bot_settings_menu_path(business_owner_id, id: @menu.id, attribute: :online), title: t("user_bot.dashboards.settings.menu.methods.#{@menu.online ? "online" : "local"}") %>

  <div class="action-block">
    <%= link_to lines_user_bot_settings_menu_path(business_owner_id, @menu),
      method: :delete, data: { confirm: I18n.t("common.are_you_sure_message") }, class: "btn btn-orange" do %>
      <i class="fa fa-minus"></i> <span><%= I18n.t("action.delete") %></span>
    <% end %>
  </div>
</div>
