<header>
  <dl>
    <dt>
      <h1>
        <%= link_to "Toruya", root_path %>
      </h1>
    </dt>
    <dd id="NAVtoday">
      <%= active_link_to root_path, active: [["reservations"], []], class_active: "here" do %>
        <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
        今日
      <% end %>
    </dd>
    <% if local_assigns[:shops_selector].present? %>
      <dd id="NAVshopSelect">
        <%= shops_select_component %>
      </dd>
      <dd id="NAVshopSelect">
        <%= staffs_select_component %>
      </dd>
    <% end %>
  </dl>
  <dl>
    <dd>
      <%= active_link_to settings_shops_path, active: /^\/settings/, class_active: "here" do %>
        <i class="fa fa-cog fa-4x" aria-hidden="true"></i>
        設定
      <% end %>
    </dd>
    <dd>
      <%= link_to destroy_user_session_path, method: "delete", class: "setting" do %>
        <i class="fa fa-power-off fa-4x" aria-hidden="true"></i>
        <%= t("action.log_out") %>
      <% end %>
    </dd>
  </dl>
</header>
