<header>
  <dl>
    <dt>
      <h1>
        <%= link_to "Toruya", root_path %>
      </h1>
    </dt>

    <dd id="NAVtoday" class="dropdown">
      <%= active_link_to "#", active: [["reservations"], []], class_active: "here", data: { toggle: "dropdown", target: "#" } do %>
        <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
        今日
      <% end %>
      <ul class="dropdown-menu dropdown-menu-left">
        <% if owning_shop_options.present? %>
          <li>
            <span class="dropdown-header"><%= t("dashboard.my_shop") %></span>
          </li>
          <li class="divider"></li>

          <% owning_shop_options.each do |option| %>
            <li><%= link_to option.shop.display_name, shop_reservations_path(option.shop) %><li>
          <% end %>
        <% end %>

        <% if owning_shop_options.present? && working_shop_options.present? %>
          <li class="divider"></li>
        <% end %>

        <% if working_shop_options.present? %>
          <li>
            <span class="dropdown-header"><%= t("dashboard.shop_you_work_for") %></span>
          </li>
          <li class="divider"></li>

          <% working_shop_options.each do |option| %>
            <li><%= link_to option.shop.display_name, shop_reservations_path(option.shop) %><li>
          <% end %>
        <% end %>
      </ul>
    </dd>
    <% if can?(:swith_staffs_selector, User) && @staffs_selector_displaying %>
      <dd id="NAVshopSelect">
        <%= staffs_select_component %>
      </dd>
    <% end %>
  </dl>
  <dl>
    <dd>
      <%= active_link_to shop_customers_path(shop), active: /^\/shops\/\d+\/customer/, class_active: "here" do %>
        <i class="fa fa-users fa-4x" aria-hidden="true"></i>
          顧客台帳
      <% end %>
    </dd>
    <dd>
      <%= active_link_to customer_user_filter_index_path(super_user), active: /^\/customer\/users\/\d+\/filter/, class_active: "here" do %>
        <i class="fa fa-database fa-4x" aria-hidden="true"></i>
        <%= t("dashboard.search_data") %>
      <% end %>
    </dd>
    <dd class="dropdown">
      <%= active_link_to settings_path(super_user),
        active: /^\/settings/,
        class_active: "here",
        data: { toggle: "dropdown", target: "#" } do %>
          <i class="fa fa-cog fa-4x" aria-hidden="true"></i>
        設定
      <% end %>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <span class="dropdown-header"><%= t("dashboard.sign_in_as", name: current_user.name || current_user_staff_account.try(:staff).try(:name) || current_user.email) %></span>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to t("dashboard.my_shop_setting"), settings_path(current_user) %>
        </li>
        <li>
          <%= link_to t("settings.account.info_title"), settings_user_profile_path(current_user) %>
        </li>

        <% if working_shop_options.present? %>
          <li class="divider"></li>
          <li>
            <span class="dropdown-header"><%= t("dashboard.shop_you_work_for") %></span>
          </li>
          <li class="divider"></li>

          <% working_shop_options.each do |option| %>
            <li>
              <%= link_to option.shop.name, edit_settings_user_staff_path(option.shop.user, option.staff, shop_id: option.shop.id) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </dd>
    <dd>
      <%= link_to destroy_user_session_path, method: "delete", class: "setting" do %>
        <i class="fa fa-power-off fa-4x" aria-hidden="true"></i>
        <%= t("action.log_out") %>
      <% end %>
    </dd>
  </dl>
</header>
