<%
    single_shop_owner = working_shop_owners.blank?
    single_shop = working_shop_options(include_user_own: true).size == 1 ? working_shop_options(include_user_own: true).first : nil
%>

<header>
  <dl>
    <dt>
      <h1>
        <%= link_to "Toruya", member_path %>
      </h1>
    </dt>
    <dd id="NAVtoday">
      <%= active_link_to member_path, active: /^\/member/, class_active: "here" do %>
        <i class="fa fa-calendar fa-4x" aria-hidden="true"></i>
        今日
      <% end %>
    </dd>

    <% if can?(:swith_staffs_selector, User) && @staffs_selector_displaying %>
      <dd id="NAVshopSelect">
        <%= staffs_select_component %>
      </dd>
    <% end %>
  </dl>

  <dl>
    <%= render "layouts/dashboard_header/shop_dashboard_button", single_shop_owner: single_shop_owner, single_shop: single_shop %>
    <%= render "layouts/dashboard_header/customers_button", single_shop_owner: single_shop_owner %>
    <%= render "layouts/dashboard_header/filter_button", single_shop_owner: single_shop_owner %>
    <%= render "layouts/dashboard_header/settings_button" %>

    <dd>
      <%= link_to destroy_user_session_path, method: "delete", class: "setting" do %>
        <i class="fa fa-power-off fa-4x" aria-hidden="true"></i>
        <%= t("action.log_out") %>
      <% end %>
    </dd>
  </dl>
</header>
