<header>
  <h1>
    <%= link_to "Toruya", root_path, id: "logo" %>
  </h1>
  <dl>
    <% if current_user %>
      <dd>
        <%= link_to root_path, class: "setting" do %>
          <i class="fa fa-calendar fa-3x" aria-hidden="true"></i><br />
          今日
        <% end %>
      </dd>
      <dd>
        <%= link_to settings_shops_path, class: "setting" do %>
          <i class="fa fa-cog fa-3x" aria-hidden="true"></i><br />
          設定
        <% end %>
      </dd>
      <dd>
        <%= link_to destroy_user_session_path, method: "delete", class: "setting" do %>
          <i class="fa fa-power-off fa-3x" aria-hidden="true"></i><br />
          <%= t("action.log_out") %>
        <% end %>
      </dd>
    <% end %>
  </dl>
</header>
