<%
  # because settings_user_working_time_staffs_path are available in two group, so need to know which group menu users stay
  if is_active_link?(request.original_fullpath, [["settings/working_time/staffs"]])
    working_time_under_shop_menu = previous_controller_is("settings/staffs")
  end
%>

<nav id="sideNav">
  <dl>
    <%= active_link_to settings_user_contact_groups_path(super_user), active: [["settings/contact_groups", "settings/ranks"]], wrap_tag: :dt, class_active: "here" do %>
      <span><i class="fa fa-users fa-2x"></i>&nbsp;<%= t("settings.contact.info_title") %></span>
    <% end %>
    <dd>
      <ul>
        <%= active_link_to settings_user_contact_groups_path(super_user),
          active: [["settings/contact_groups"]], wrap_tag: :li, class_active: "here" do %>
          <span><%= t("settings.contact.info_sub_title") %></span>
        <% end %>
      </ul>
    </dd>
  </dl>
  </dl>

  <% if basic_setting_presenter.customers_management_enabled? %>
    <dl class="shop">
      <%= active_link_to content_tag(:span, "<i class='fa fa-calendar fa-2x'></i>&nbsp;予約管理".html_safe), settings_user_shops_path(super_user),
        active: [["settings/shops", "settings/business_schedules", "settings/reservation_settings", working_time_under_shop_menu && "settings/working_time/staffs"]],
        wrap_tag: :dt,
        class_active: "here" %>
      <dd>
        <ul>
          <%= active_link_to t("settings.shop.info_title"), settings_user_shops_path(super_user), active: [["settings/shops"], []], wrap_tag: :li, class_active: "here" %>

          <% if basic_setting_presenter.shops_settings_completed? %>
            <%= active_link_to t("settings.business_hours.info_title"), settings_user_business_schedules_path(super_user), active: [["settings/business_schedules"], []], wrap_tag: :li, class_active: "here" %>
          <% end %>

          <% if basic_setting_presenter.business_hours_settings_completed? %>
            <%= active_link_to t("settings.staff.work_time"), settings_user_working_time_staffs_path(super_user, mode: "working_schedules"),
              active: /working_schedules/,
              wrap_tag: :li,
              class_active: "here" %>
          <% end %>

          <% if basic_setting_presenter.working_time_settings_completed? %>
            <%= active_link_to "予約枠", settings_user_reservation_settings_path(super_user), active: [["settings/reservation_settings"], []], wrap_tag: :li, class_active: "here" %>
          <% end %>
        </ul>
      </dd>
    </dl>

    <% if basic_setting_presenter.reservation_settings_completed? %>
      <dl class="menu">
        <%= active_link_to content_tag(:span, t("settings.menu.info_title")), settings_user_menus_path(super_user),
          active: [["settings/menus", "settings/categories"]],
          wrap_tag: :dt,
          class_active: "here" %>
        <dd>
          <ul>
            <%= active_link_to t("settings.menu.info_title"), settings_user_menus_path(super_user),
              active: [["settings/menus"]],
              wrap_tag: :li,
              class_active: "here" %>
            <%= active_link_to t("settings.category.info_title"), settings_user_categories_path(super_user),
              active: [["settings/categories"]],
              wrap_tag: :li,
              class_active: "here" %>
          </ul>
        </dd>
      </dl>
    <% end %>

    <% if basic_setting_presenter.reservation_management_enabled? %>
      <dl class="staff">
        <%= active_link_to content_tag(:span, t("settings.staff.sider_label")), settings_user_staffs_path(super_user),
          active: [["settings/staffs", !working_time_under_shop_menu && "settings/working_time/staffs"]],
          wrap_tag: :dt,
          class_active: "here" %>
        <dd>
          <ul>
            <%= active_link_to t("settings.staff.info_title"), settings_user_staffs_path(super_user),
              active: [["settings/staffs"]],
              wrap_tag: :li,
              class_active: "here" %>

            <%= active_link_to t("settings.staff.work_time"), settings_user_working_time_staffs_path(super_user, mode: "working_schedules"),
              active: /working_schedules/,
              wrap_tag: :li,
              class_active: "here" %>
          </ul>
         </dd>
        </dl>
      <% end %>
  <% end %>

  <dl>
    <%= active_link_to settings_user_profile_path(current_user), active: [["settings/profiles", "settings/payments", "settings/plans"]], wrap_tag: :dt, class_active: "here" do %>
      <span><i class="fa fa-wrench fa-2x"></i>&nbsp;<%= t("settings.account.info_title") %></span>
    <% end %>
    <dd>
      <ul>
        <%= active_link_to settings_user_profile_path(current_user),
          active: [["settings/profiles"]], wrap_tag: :li, class_active: "here" do %>
          <span><%= t("settings.account.info_title2") %></span>
        <% end %>

        <%= active_link_to settings_payments_path,
          active: [["settings/payments", "settings/plans"]], wrap_tag: :li, class_active: "here" do %>
          <span><%= t("settings.plans.info_title") %></span>
        <% end %>
      </ul>
    </dd>
  </dl>
</nav>
