<nav id="sideNav">
  <dl>
    <dt><%= link_to "基本情報", settings_shops_path %></dt>
    <dd>
      <ul>
        <%= active_link_to "Shop Info", settings_shops_path, active: [["settings/shops"], []], wrap_tag: :li, class_active: "here" %>
        <% if shop.try(:persisted?) %>
          <%= active_link_to "Business Hours", settings_shop_business_schedules_path(shop), active: [["settings/business_schedules"], []], wrap_tag: :li, class_active: "here" %>
          <%= active_link_to "Staff", settings_shop_staffs_path(shop), active: [["settings/staffs"], []], wrap_tag: :li, class_active: "here" %>
          <%= active_link_to "Menu", settings_shop_menus_path(shop), active: [["settings/menus"], []], wrap_tag: :li, class_active: "here" %>
          <li><a href="price.html">Price</a></li>
          <li><a href="calendars.html">Calendars</a></li>
        <% end %>
      </ul>
    </dd>
  </dl>
  <dl>
    <dt><a href="../publish/">公開page</a></dt>
  </dl>
  <dl>
    <dt><a href="../share/">Share</a></dt>
  </dl>
  <dl>
    <dt><a href="../apps/">店舗Apps</a></dt>
  </dl>
  <dl>
    <ul>
      <li><a href="../account/">Account</a></li>
      <li><a href="../account/">Account Info</a></li>
      <li><a href="../account/plans.html">Plans</a></li>
    </ul>
  </dl>
  <dl>
    <dt><a href="../login.html">Log Out</a></dt>
  </dl>
</nav>
