<ul class="tbd-items">
  <% if user_signed_in? %>
    <li>
      <%= current_user.email %>
      <%= link_to t("common.sign_out"), destroy_user_session_path, :method=>'delete' %>
      <%= link_to "Shops", shops_path %>
      <%= link_to "Sign In with Google", user_google_oauth2_omniauth_authorize_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t("common.sign_in"), new_user_session_path %>
  </li>
  <li>
    <%= link_to t("common.sign_up"), new_user_registration_path %>
  </li>
</ul>
