<!DOCTYPE html>
<html>
  <head>
    <title>Toruyaースモールビジネスの顧客管理ツールー</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body id="manager" class=<%= body_class %>>
    <header>
      <dl>
        <dd id="NAVhome">
          <%= link_to "Home", root_path %>
        </dd>
        <dd id="NAVshopSelect">
          <%= shops_select_component %>
        </dd>
      </dl>
      <dl>
        <dd id="NAVcaution"><a href="news/"><strong>1</strong>NEWS</a></dd>
        <dd id="NAVhelp"><a href="help/">HELP</a></dd>
        <dd id="NAVsetting"><%= link_to "設定", settings_shops_path %></dd>
      </dl>
    </header>
    <div>
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
