<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t("meta.title") %></title>
    <meta name="description" content="Toruya ひとりオーナー向け予約＆顧客管理システム" />
    <meta name="keywords" content="TORUYA SALONS,美容室,ヘアサロン,Hair salon,ヘアーサロン,美容室,Best hair,The beauty salon,salon school" />
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_packs_with_chunks_tag "stylesheets" %>
    <%= javascript_packs_with_chunks_tag "application" %>
    <%= javascript_packs_with_chunks_tag "stylesheets" if Rails.env.development? %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes">
    <%= render "layouts/google_analytics" %>
  </head>

  <body id="manager" class='<%= body_class %>' data-controller="atomic-requests">
    <% if in_personal_dashboard? %>
      <%= render "layouts/dashboard_header_bar" %>
    <% elsif shop %>
      <%= render "layouts/shop_dashboard_header_bar" %>
    <% else %>
      <%= render "layouts/dashboard_header_bar" %>
    <% end %>

    <%= flash_messages %>
    <%= yield %>
    <%= render "layouts/upgrade_modals" %>
  </body>
</html>
