<!DOCTYPE html>
<html>
  <head>
    <title>Toruyaースモールビジネスの顧客管理ツールー</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <header>
      <h1><a href="">Toruma</a></h1>
    </header>
    <div class="container">
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= current_user.email %>
            <%= link_to t("common.sign_out"), destroy_user_session_path, :method=>'delete' %>
          </li>
        <% end %>
        <li>
          <%= link_to t("common.sign_in"), new_user_session_path %>
        </li>
        <li>
          <%= link_to t("common.sign_up"), new_user_registration_path %>
        </li>
      </ul>
      <%= flash_messages %>
      <%= yield %>
    </div>
    <div id="footer"><div class="content">&copy; Kasai, Inc.</div></div>
  </body>
</html>
