<!DOCTYPE html>
<html>
  <head>
    <title>Kasaike</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <ul>
      <li><%= link_to t("common.sign_in"), new_user_session_path %></li>
      <li><%= link_to t("common.sign_up"), new_user_registration_path %></li>
    </ul>
    <%= flash_messages %>
    <%= yield %>
  </body>
</html>
