<!DOCTYPE html>
<html>
  <head>
    <title>Toruyaースモールビジネスの顧客管理ツールー</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body id="manager" class='<%= body_class %>'>
    <%= render "layouts/dashboard_header_bar" %>
    <%= flash_messages %>
    <%= yield %>
  </body>
</html>
