<!DOCTYPE html>
<html>
  <head>
    <title>Toruyaースモールビジネスの顧客管理ツールー</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body id="manager" class='<%= body_class %>' data-controller="atomic-requests">
    <% if in_personal_dashboard? %>
      <%= render "layouts/dashboard_header_bar" %>
    <% elsif shop %>
      <%= render "layouts/shop_dashboard_header_bar" %>
    <% else %>
      <%= render "layouts/dashboard_header_bar" %>
    <% end %>

    <%= flash_messages %>
    <%= yield %>
    <%= render "layouts/upgrade_modals" %>
  </body>
</html>
