<html lang="<%= I18n.locale %>">
  <head>
    <%= yield :title if content_for?(:title) %>
    <%= yield :meta_tags if content_for(:meta_tags) %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%#XXX stylesheet_pack_tag and javascript_pack_tag couldn't use the same file name booking.js, booking.scss %>
    <%= stylesheet_packs_with_chunks_tag "booking_stylesheets" %>
    <%= javascript_packs_with_chunks_tag "booking" %>
    <%= javascript_packs_with_chunks_tag "booking_stylesheets" if Rails.env.development? %>
    <%= yield :script if content_for?(:script) %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= render "layouts/google_analytics" %>
  </head>

  <body>
    <div class="responsive-content">
      <div class="mobile-content booking-content <%= controller_name %>">
        <%= yield %>
      </div>
      <div class="footer <%= controller_name %>" id="footer">
        Powered by <%= link_to "Toruya", data_by_locale(:official_site_url) %>
      </div>
    </div>
  </body>
</html>
