<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t("meta.title") %></title>
    <meta name="description" content="Toruya ひとりオーナー向け予約＆顧客管理システム" />
    <meta name="keywords" content="TORUYA SALONS,美容室,ヘアサロン,Hair salon,ヘアーサロン,美容室,Best hair,The beauty salon,salon school" />
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= stylesheet_packs_with_chunks_tag "stylesheets" %>
    <%= javascript_packs_with_chunks_tag "application" %>
    <%= javascript_packs_with_chunks_tag "stylesheets" if Rails.env.development? %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes">
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= render "layouts/google_analytics" %>
  </head>

  <body class="login">
    <%= custom_bootstrap_flash %>
    <%= render "layouts/header_bar" %>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div class="content">
        <ul>
          <li><a href="<%= data_by_locale(:official_site_url) %>/terms/">利用規約</a></li>
          <li><a href="<%= data_by_locale(:official_site_url) %>/privacy/">プライバシーポリシー</a></li>
          <li><a href="<%= data_by_locale(:official_site_url) %>/contacts/">お問い合わせ</a></li>
          <li><a href="<%= data_by_locale(:official_site_url) %>/legal_notice/">特定商取引法に基づく表示</a></li>
        </ul>
        <p>© Kasai, Inc.</p>
      </div>
    </footer>
  </body>
</html>
