<!DOCTYPE html>
<html>
  <head>
    <title>Toruyaースモールビジネスの顧客管理ツールー</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body class="shopSelect">
    <%= render "layouts/header_bar" %>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
    <div id="footer"><div class="content">&copy; Kasai, Inc.</div></div>
  </body>
</html>
