<!DOCTYPE html>
<html>
  <head>
    <title>Toruyaースモールビジネスの顧客管理ツールー</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body class="setting firstSetting <%= body_class %>" data-controller="atomic-requests">
    <%= render "layouts/dashboard_header_bar" %>
    <div class="contents">
      <%=
        if admin?
          render "layouts/owner_settings_sider"
        elsif manager?
          render "layouts/manger_settings_sider"
        else
          render "layouts/settings_sider"
        end
      %>
      <div id="content">
        <%= flash_messages %>
        <%= yield %>
        <%= render "layouts/upgrade_modals" %>
      </div>
    </div>
  </body>
</html>
