<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t("meta.title") %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_packs_with_chunks_tag "stylesheets" %>
    <%= javascript_packs_with_chunks_tag "application", "stylesheets" %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes">
    <%= render "layouts/google_analytics" %>
  </head>

  <body class="setting firstSetting <%= body_class %>" data-controller="atomic-requests">
    <% if in_personal_dashboard? %>
      <%= render "layouts/dashboard_header_bar" %>
    <% elsif shop %>
      <%= render "layouts/shop_dashboard_header_bar" %>
    <% else %>
      <%= render "layouts/dashboard_header_bar" %>
    <% end %>

    <div class="contents">
      <%=
        if admin?
          render "settings/siders/owner_settings_sider"
        elsif manager?
          render "settings/siders/manager_settings_sider"
        else
          render "settings/siders/staff_sider"
        end
      %>
      <div id="content">
        <%= flash_messages %>
        <%= yield %>
        <%= render "layouts/upgrade_modals" %>
      </div>
    </div>
  </body>
</html>
