<!DOCTYPE html>
<html>
  <head>
    <title>Toruyaースモールビジネスの顧客管理ツールー</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <header>
      <dl>
        <dd id="NAVhome"><%= link_to "Home", root_path %></dd>
        <dd id="NAVshopSelect">
          <%= shops_select_component %>
        </dd>
      </dl>
      <dl>
        <dd id="NAVcaution"><a href="news/"><strong>1</strong>NEWS</a></dd>
        <dd id="NAVhelp"><a href="help/">HELP</a></dd>
        <dd id="NAVsetting"><%= link_to "設定", new_settings_shop_path %></dd>
      </dl>
    </header>
    <div class="contents">
      <%= render "layouts/settings_sider" %>
      <div id="content">
        <%= flash_messages %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
