<html lang="<%= I18n.locale %>">
  <head>
    <% if content_for?(:title) %>
      <%= yield :title %>
    <% else %>
      <title>Toruyaースモールビジネスの顧客管理ツールー</title>
    <% end %>
    <%= yield :meta_tags if content_for(:meta_tags) %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%#XXX stylesheet_pack_tag and javascript_pack_tag couldn't use the same file name user_bot.js, user_bot.scss %>
    <%= stylesheet_packs_with_chunks_tag "user_bot_stylesheets" %>
    <%= javascript_packs_with_chunks_tag "user_bot" %>
    <%= javascript_packs_with_chunks_tag "user_bot_stylesheets" if Rails.env.development? %>
    <%= yield :script if content_for?(:script) %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= render "layouts/google_analytics" %>
  </head>

  <body>
    <%= custom_bootstrap_flash %>
    <div class="responsive-content flex-row">
      <% non_mobile do %>
        <ul class="mobile-content desktop-navigator hidden-xs">
          <li>
            <%= link_to lines_user_bot_metrics_dashboard_path do %>
              <img class="logo" src='<%= asset_pack_path("media/assets/user_bot/logo.png") %>' />
            <% end %>
          </li>

          <li class="p-1">
            <%= active_link_to lines_user_bot_metrics_dashboard_path do %>
              <i class="fa fa-chart-line fa-2x"></i> <%= t("user_bot.dashboards.metrics.title") %>
            <% end %>

            <ul class='nav'>
              <li>
                <%= active_link_to t("sidebar.metrics.dashboard_title"), lines_user_bot_metrics_dashboard_path %>
              </li>
              <li>
                <%= active_link_to t("sidebar.metrics.sale_page_title"), lines_user_bot_metrics_sale_pages_path %>
              </li>
              <li>
                <%= active_link_to t("sidebar.metrics.service_title"), lines_user_bot_metrics_online_services_path %>
              </li>
            </ul>
          </li>

          <li class="p-1">
            <%= active_link_to lines_user_bot_services_path do %>
              <i class="fa fa-mobile-alt fa-2x"></i> <%= t("user_bot.dashboards.services.online_service") %>
            <% end %>

            <ul class='nav'>
              <li>
                <%= active_link_to t("common.item.list"), lines_user_bot_services_path %>
              </li>
              <li>
                <%= active_link_to t("common.item.new"), new_lines_user_bot_service_path %>
              </li>
            </ul>
          </li>

          <li class="p-1">
            <%= active_link_to lines_user_bot_broadcasts_path do %>
              <i class="fa fa-comment fa-2x"></i> <%= t("sidebar.broadcast.title") %>
            <% end %>

            <ul class='nav'>
              <li>
                <%= active_link_to t("user_bot.dashboards.broadcasts.broadcast_conditions"), lines_user_bot_broadcasts_path %>
              </li>
              <li>
                <%= active_link_to t("common.item.new"), new_lines_user_bot_broadcast_path %>
              </li>
            </ul>
          </li>

          <li class="p-1">
            <%= active_link_to lines_user_bot_sales_path do %>
              <i class="fa fa-bullhorn fa-2x"></i> <%= t("user_bot.dashboards.sales.edit.sale_pages") %>
            <% end %>

            <ul class='nav'>
              <li>
                <%= active_link_to t("common.item.list"), lines_user_bot_sales_path %>
              </li>
              <li>
                <%= active_link_to t("common.item.new"), new_lines_user_bot_sale_path %>
              </li>
            </ul>
          </li>

          <li class="p-1">
            <%= active_link_to lines_user_bot_booking_pages_path do %>
              <i class="fa fa-calendar fa-2x"></i> <%= t("sidebar.booking_pages.title") %>
            <% end %>

            <ul class='nav'>
              <li>
                <%= active_link_to t("common.item.list"), lines_user_bot_booking_pages_path %>
              </li>
              <li>
                <%= active_link_to t("common.item.new"), new_lines_user_bot_booking_path %>
              </li>
            </ul>
          </li>

          <li class="p-1">
            <%= active_link_to lines_user_bot_settings_path do %>
              <i class="fa fa-wrench fa-2x"></i> <%= t("user_bot.dashboards.settings.dashboard.title") %>
            <% end %>
          </li>
        </ul>
      <% end %>

      <div class="mobile-content extend <%= controller.class.name.underscore.remove(/_controller\z/).dasherize.gsub("/", " ") %>">
        <% if current_user.staff_accounts.count > 1 %>
          <div class="business-owner-bar"><%= link_to Current.business_owner.name, lines_user_bot_business_owners_path %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <div class="modal fade" id="dummyModal" tabindex="-1" role="dialog"></div>
    <div class="modal fade" id="dummyModal2" tabindex="-1" role="dialog"></div>
  </body>
</html>
