<html lang="<%= I18n.locale %>">
  <head>
    <% if content_for?(:title) %>
      <%= yield :title %>
    <% else %>
      <title><%= t("meta.title") %></title>
    <% end %>
    <%= yield :meta_tags if content_for(:meta_tags) %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%#XXX stylesheet_pack_tag and javascript_pack_tag couldn't use the same file name user_bot.js, user_bot.scss %>
    <%= stylesheet_packs_with_chunks_tag "user_bot_stylesheets" %>
    <%= javascript_packs_with_chunks_tag "user_bot" %>
    <%= javascript_packs_with_chunks_tag "user_bot_stylesheets" if Rails.env.development? %>
    <%= yield :script if content_for?(:script) %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= render "layouts/google_analytics" %>
  </head>

  <body>
    <div class="responsive-content flex-row" data-controller="collapse" data-collapse-status=<%= is_not_phone? ? "open" : "closed" %>>
      <ul class="mobile-content desktop-navigator" data-target="collapse.content">
        <li>
          <%= link_to lines_user_bot_settings_path(business_owner_id: business_owner_id) do %>
            <img class="logo" src='<%= asset_pack_path("media/assets/user_bot/logo.png") %>' />
          <% end %>
        </li>

        <li class="flex justify-between">
          <span><i class="fa fa-user"></i> <%= Current.user&.name %></span>
          <%= content_tag(:i, nil, data: { action: "click->collapse#toggle" }, class: "fa fa-angle-double-left text-white") %>
        </li>

        <li class="p-1">
          <%= active_link_to mine_lines_user_bot_schedules_path do %>
            <i class="fa fa-calendar fa-2x"></i> <%= t("sidebar.calendar.mine") %>
          <% end %>
        </li>

        <hr class="my-2" />

        <li class="p-1">
          <%= active_link_to lines_user_bot_settings_path(business_owner_id: business_owner_id) do %>
            <i class="fa fa-wrench fa-2x"></i> <%= t("user_bot.dashboards.settings.dashboard.title") %>
          <% end if admin? %>
        </li>

        <li class="p-1">
          <%= active_link_to lines_user_bot_schedules_path(business_owner_id: business_owner_id) do %>
            <i class="fa fa-calendar fa-2x"></i> <%= t("common.reservation_calendar") %>
          <% end %>
        </li>

        <li class="p-1">
          <%= active_link_to lines_user_bot_customers_path(business_owner_id: business_owner_id) do %>
            <i class="fa fa-address-card fa-2x"></i> <%= t("user_bot.dashboards.customer.title") %>
          <% end %>
        </li>

        <li class="p-1">
          <%= active_link_to lines_user_bot_booking_pages_path(business_owner_id: business_owner_id), active: /booking|menu/ do %>
            <i class="fa fa-calendar fa-2x"></i> <%= t("sidebar.booking_pages.title") %>
          <% end %>

          <ul class='nav'>
            <li>
              <%= active_link_to t("common.item.new"), new_lines_user_bot_booking_path(business_owner_id: business_owner_id) %>
            </li>
            <li>
              <%= active_link_to t("sidebar.booking_pages.list"), lines_user_bot_booking_pages_path(business_owner_id: business_owner_id) %>
            </li>
            <li>
              <%= active_link_to t("common.booking_price"), lines_user_bot_booking_options_path(business_owner_id: business_owner_id) %>
            </li>
            <% if support_booking_options_menu_concept? %>
              <li>
                <%= active_link_to t("common.menu"), lines_user_bot_settings_menus_path(business_owner_id: business_owner_id) %>
              </li>
            <% end %>
          </ul>
        </li>

        <li class="p-1">
          <%= active_link_to lines_user_bot_services_path(business_owner_id: business_owner_id) do %>
            <i class="fa fa-mobile-alt fa-2x"></i> <%= t("user_bot.dashboards.services.online_service") %>
          <% end %>

          <ul class='nav'>
            <li>
              <%= link_to t("common.item.new"), new_lines_user_bot_service_path(business_owner_id: business_owner_id) %>
            </li>
            <li>
              <%= link_to t("common.item.list"), lines_user_bot_services_path(business_owner_id: business_owner_id) %>
            </li>
          </ul>
        </li>

        <li class="p-1">
          <%= active_link_to lines_user_bot_sales_path(business_owner_id: business_owner_id) do %>
            <i class="fa fa-bullhorn fa-2x"></i> <%= t("user_bot.dashboards.sales.edit.sale_pages") %>
          <% end %>

          <ul class='nav'>
            <li>
              <%= link_to t("common.item.new"), new_lines_user_bot_sale_path(business_owner_id: business_owner_id) %>
            </li>
            <li>
              <%= link_to t("common.item.list"), lines_user_bot_sales_path(business_owner_id: business_owner_id) %>
            </li>
          </ul>
        </li>

        <li class="p-1">
          <%= active_link_to lines_user_bot_broadcasts_path(business_owner_id: business_owner_id) do %>
            <i class="fa fa-comment fa-2x"></i> <%= t("sidebar.broadcast.title") %>
          <% end %>

          <ul class='nav'>
            <li>
              <%= link_to t("common.item.new"), new_lines_user_bot_broadcast_path(business_owner_id: business_owner_id) %>
            </li>
            <li>
              <%= link_to t("user_bot.dashboards.broadcasts.broadcast_conditions"), lines_user_bot_broadcasts_path(business_owner_id: business_owner_id) %>
            </li>
          </ul>
        </li>

        <li class="p-1">
          <%= active_link_to lines_user_bot_metrics_dashboard_path(business_owner_id: business_owner_id) do %>
            <i class="fa fa-chart-line fa-2x"></i> <%= t("user_bot.dashboards.metrics.title") %>
          <% end %>

          <ul class='nav'>
            <li>
              <%= active_link_to t("sidebar.metrics.dashboard_title"), lines_user_bot_metrics_dashboard_path(business_owner_id: business_owner_id) %>
            </li>
            <li>
              <%= active_link_to t("sidebar.metrics.sale_page_title"), lines_user_bot_metrics_sale_pages_path(business_owner_id: business_owner_id) %>
            </li>
            <li>
              <%= active_link_to t("sidebar.metrics.service_title"), lines_user_bot_metrics_online_services_path(business_owner_id: business_owner_id) %>
            </li>
            <li>
              <%= active_link_to t("sidebar.metrics.booking_page_title"), lines_user_bot_metrics_booking_pages_path(business_owner_id: business_owner_id) %>
            </li>
          </ul>
        </li>
      </ul>

      <div class="mobile-content extend <%= controller.class.name.underscore.remove(/_controller\z/).dasherize.gsub("/", " ") %>">
        <div class="top-navigation-function-bar">
          <%= content_tag(:i, nil, data: { action: "click->collapse#toggle", target: "collapse.closeToggler" }, class: "fa fa-bars text-white") %>
          <%= content_tag(:span, nil, data: { target: "collapse.openToggler" }) %>

          <div class="dropdown open" data-controller="collapse" data-collapse-status="closed" data-action="click->collapse#toggle" >
            <span class="text-white"><%= Current.business_owner.company_name.presence || t("action.account_switch") %></span>
            <i class="fas fa-caret-down text-white"></i>
            <ul class="dropdown-menu dropdown-menu-right" data-target="collapse.content">
              <% current_social_user.manage_accounts.each do |owner| %>
                <%= link_to lines_user_bot_settings_path(business_owner_id: owner.id) do %>
                  <li class="dropdown-header p-3 text-16px"><%= owner.company_name %></li>
                <% end %>
              <% end %>

              <li>
                <%= link_to new_lines_user_bot_settings_social_account_path, class: "btn btn-tarco mx-1" do %>
                  <%= t("user_bot.dashboards.settings.social_account.new") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

        <div class="with-function-bar">
          <%= custom_bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="modal fade" id="dummyModal" tabindex="-1" role="dialog"></div>
    <div class="modal fade" id="dummyModal2" tabindex="-1" role="dialog"></div>
  </body>
</html>
