<%
  staff_schedule_requirement_condition = staff && @working_time_range
%>
<div id="dashboard" class="contents">
  <div id="calendar" class="sidel">
    <%= react_component("calendar/calendar",
                        {
                          day_names: I18n.t("date.abbr_day_names"),
                          month_names: I18n.t("date.abbr_month_names").compact,
                          reservations_path: member_path,
                          working_schedule_path: personal_working_schedule_calendars_path,
                          selected_date: params[:reservation_date],
                          holiday_days: @working_dates[:holidays].map(&:day),
                          full_time: @working_dates[:full_time],
                          shop_working_wdays: @working_dates[:shop_working_wdays],
                          shop_working_on_holiday: @working_dates[:shop_working_on_holiday],
                          staff_working_wdays: @working_dates[:staff_working_wdays],
                          working_days: @working_dates[:working_dates].map(&:day),
                          off_days: @working_dates[:off_dates].map(&:day),
                          reservation_days: @reservation_dates.map(&:day)
                        },
                        { id: "custom-calendar", class: "clearfix" }) %>
      <% if staff_schedule_requirement_condition %>
        <div class="staffDashboard">
          <div class="edit-worktime">
            <% if can? :manage_staff_temporary_working_day_permission, shop_staff %>
              <a href="#" data-toggle="modal" data-target="#working-date-modal" class="BTNyellow">
                出勤日を追加
              </a>
            <% end %>

            <% if can?(:manage_staff_holiday_permission, shop_staff) %>
              <a href="#" data-toggle="modal" data-target="#off-date-modal" class="BTNyellow">
                休暇を追加
              </a>
            <% end %>
          </div>
        </div>
      <% end %>
     <div class="staffs-working-schedules table">
       <% @staffs_working_schedules.each do |staff, working_schedule| %>
         <% unless working_schedule[:time] %>
           <div class="row">
             <div class="staff cell">
               <%= staff.name %>
             </div>
             <div class="time cell">
               <% if working_schedule[:time] %>
                 <%= "#{working_schedule[:time].first.to_s(:time)} ～ #{working_schedule[:time].last.to_s(:time)}" %>
               <% else %>
                 臨時休暇
               <% end %>
             </div>
           </div>
         <% end %>
      <% end %>
    </div>
  </div>
  <div id="resList" class="contBody">
    <dl class="tableTTL">
      <dt class="time">開始<br />終了</dt>
      <dt class="reservation-states"></dt>
      <dt class="menu">メニュー</dt>
      <dt class="customer">顧客氏名</dt>
      <dt class="shop">店舗</dt>
    </dl>
    <%= render "reservations/schedules", schedules: @schedules, personal_schedule: true %>
    <div class="status-list">
      <div><span class="reservation-state reserved"></span>予約</div>
      <div><span class="reservation-state checkin"></span>チェックイン</div>
      <div><span class="reservation-state checkout"></span>チェックアウト</div>
      <div><span class="reservation-state noshow"></span>未来店</div>
      <div><span class="reservation-state pending"></span>承認待ち</div>
    </div>
  </div>
</div>

<% if staff_schedule_requirement_condition %>
  <div class="modal fade" id="working-date-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">
            <%= staff.name %>の出勤日を追加
          </h4>
        </div>

        <%= form_tag custom_schedules_path do %>
          <div class="modal-body">
            <dl id="addWorkDay">
              <%= react_component("reservations/datetime_fields", {
                staff_id: staff.id,
                open: true,
                start_time_date_part: @date.to_s,
                start_time_time_part: @working_time_range.first.to_s(:time),
                end_time_time_part: @working_time_range.last.to_s(:time),
                calendarfield_prefix: "temp_working_schedules_#{shop.id}"
              }) %>
              <div class="shops-list">
                <% staff.shops.each do |s| %>
                  <div class="shop-cell">
                    <%= check_box_tag "shop_ids[]", s.id, s.id == shop.id, id: "shop-#{s.id}-schedule" %>
                    <%= label_tag "shop-#{s.id}-schedule", s.name %>
                  </div>
                <% end %>
              </div>
            </dl>
          </div>
          <div class="modal-footer">
            <dl>
              <dd></dd>
              <dd>
                <%= submit_tag t("action.save"), class: "btn BTNyellow" %>
              </dd>
              <dd></dd>
            </dl>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "reservations/off_date_modal", staff: staff, date: @date %>
<% end %>
