<%= notification_messages %>
<%= jump_out_modal(shop_reservation_path(@reservation.shop, @reservation)) if @reservation %>

<div class="contents" id="dashboard">
  <div id="calendar" class="sidel">
    <%= react_component("calendar/calendar",
                        {
                          day_names: I18n.t("date.abbr_day_names"),
                          month_names: I18n.t("date.abbr_month_names").compact,
                          reservations_path: member_path,
                          working_schedule_path: personal_working_schedule_calendars_path,
                          selected_date: params[:reservation_date],
                          holiday_days: @working_dates[:holidays].map(&:day),
                          full_time: @working_dates[:full_time],
                          shop_working_wdays: @working_dates[:shop_working_wdays],
                          shop_working_on_holiday: @working_dates[:shop_working_on_holiday],
                          staff_working_wdays: @working_dates[:staff_working_wdays],
                          working_days: @working_dates[:working_dates].map(&:day),
                          off_days: @working_dates[:off_dates].map(&:day),
                          reservation_days: @reservation_dates.map(&:day)
                        },
                        { id: "custom-calendar", class: "clearfix" }) %>
    <div class="staffDashboard">
      <div class="edit-worktime">
        <% if working_shop_options(include_user_own: true).present? %>
          <a href="#" data-toggle="modal" data-target="#new-reservations-modal" class="BTNyellow">
            予約を追加
          </a>
        <% end %>

        <a href="#" data-toggle="modal" data-target="#off-date-modal" class="BTNyellow">
          休暇/予定を追加
        </a>
      </div>
    </div>

    <div class="shops-list">
      <h3><%= t("dashboard.show_all_reservations") %></h3>
      <%= form_with url: member_path, local: true, data: { controller: "member-shops", target: "member-shops.form" } do |form| %>
        <%= hidden_field_tag :reservation_date, params[:reservation_date] %>
        <% manage_shop_options(include_user_own: true).each do |option| %>
          <div>
            <label>
              <%= check_box_tag "member_shops[]", option.shop_id, member_shop_ids.include?(option.shop_id.to_s), data: { action: "member-shops#change"} %>
              <%= option.shop.display_name %>
            <label>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="resList" class="contBody">
    <dl class="tableTTL">
      <dt class="time">開始<br />終了</dt>
      <dt class="reservation-states"></dt>
      <dt class="menu">メニュー</dt>
      <dt class="customer">顧客氏名</dt>
      <dt class="shop">店舗</dt>
    </dl>
    <%= render "reservations/schedules", schedules: @schedules %>
    <div class="status-list">
      <div><span class="reservation-state reserved"></span>予約</div>
      <div><span class="reservation-state checkin"></span>チェックイン</div>
      <div><span class="reservation-state checkout"></span>チェックアウト</div>
      <div><span class="reservation-state noshow"></span>未来店</div>
      <div><span class="reservation-state pending"></span>承認待ち</div>
    </div>
  </div>

  <%= render "reservations/new_modal", date: @date %>
  <%= render "reservations/off_date_modal", date: @date %>
<div>
