<%= form_for(staff, url: url) do |f| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% staff.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-block">
    <h3>Staff Informations</h3>
    <div class="form-group url required row">
      <label class="url required control-label col-sm-2 control-label">
        <abbr class="required" title="required">*</abbr> <%= f.label :name %>
      </label>

      <div class="col-sm-9">
        <%= f.text_field :name, placeholder: true %>
      </div>
    </div>

    <div class="form-group url required row">
      <label class="url required control-label col-sm-2 control-label">
        <abbr class="required" title="required">*</abbr> <%= f.label :shortname %>
      </label>

      <div class="col-sm-9">
        <%= f.text_field :shortname, placeholder: true %>
      </div>
    </div>
  </div>

  <h3>勤務日時<strong>必須項目</strong></h3>
  <div id="working" class="formRow">
    <dl>
      <dt>常勤</dt>
      <dd>
        <%= f.check_box :full_time, class: "BTNyesno", id: "alwaysIN" %>
        <label for="alwaysIN"></label>
      </dd>
    </dl>
  </div>

  <!--div class="form-block menu-of-staff">
    <h2>対応Menu</h2>
    <%#= react_component("UI.MenuStaffSelect",
                        { options: (shop.menus - staff.menus).map{|s| { value: s.id, label: s.name }},
                          selected_options: staff.staff_menus.includes(:menu).map{|s| { value: s.menu_id, label: s.menu.name, number: s.max_customers }},
                          placeholder: StaffMenu.human_attribute_name(:max_customers),
                          max_customer_field_name: "staff[staff_menus_attributes][][max_customers]",
                          selected_field_name: "staff[staff_menus_attributes][][menu_id]"
                        }) %>
  </div-->

  <div id="footerav" class="actions">
    <%= f.submit "save", class: "BTNtarco" %>
  </div>
<% end %>
