<div id="subNav">
  <h2><%= Staff.model_name.human %> − <%= t("settings.staff.new_title") %></h2>
</div>
<div id="about">
  <p><%= t("settings.staff.new_info_1") %><br /><%= t("settings.staff.new_info_2") %></p>
</div>

<div id="settingForm">
  <%= form_for(staff, url: url) do |f| %>
    <%= render "settings/form_errors", object: staff %>

    <% if staff.active? %>
      <h3><%= t("settings.staff.info_label") %><strong>必須項目</strong></h3>
      <div>※以下の店舗で別名を使用する場合は変更してください。</div>
      <div id="staffInfo" class="formRow">
        <dl>
          <dt>氏名</dt>
          <dd class="familyName">
            <%= f.text_field :last_name, placeholder: Profile.human_attribute_name(:last_name) %>
          </dd>
          <dd class="firstName">
            <%= f.text_field :first_name, placeholder: Profile.human_attribute_name(:first_name) %>
          </dd>
        </dl>
        <dl>
          <dt>しめい</dt>
          <dd class="familyName">
            <%= f.text_field :phonetic_last_name, placeholder: Profile.human_attribute_name(:phonetic_last_name) %>
          </dd>
          <dd class="firstName">
            <%= f.text_field :phonetic_first_name, placeholder: Profile.human_attribute_name(:phonetic_first_name) %>
          </dd>
        </dl>
      </div>
    <% end %>

    <% if !staff.staff_account.try(:owner?) && current_user_staff != staff %>
      <% if can? :manage, Settings %>
        <%
          shop_staffs = staff.shop_relations.to_a
          staff_full_time_busincess_schedules = staff.business_schedules.where(full_time: true).to_a

          management_shop_ids = manage_shop_options(include_user_own: true).map(&:shop_id)

          staff_shop_options = shops.each_with_object([]) do |shop, options|
            next if !management_shop_ids.include?(shop.id)

            shop_staff = shop_staffs.find { |shop_staff| shop_staff.shop_id == shop.id }

            options.push(
              Option.new(
                shop_id: shop.id,
                name: shop.name,
                work_here: shop_staff.present?,
                level: shop_staff ? shop_staff.level : "staff",
                full_time_permission: shop_staff.try(:staff_full_time_permission),
                regular_schedule_permission: shop_staff.try(:staff_regular_working_day_permission),
                temporary_working_day_permission: shop_staff.try(:staff_temporary_working_day_permission),
              )
            )
          end

          if admin?
            group_options = super_user.contact_groups.connected.map do |contact_group|
              contact_group_relation = staff.contact_group_relations.find { |contact_group_relation| contact_group_relation.contact_group_id == contact_group.id }

              Option.new(
                contact_group_id: contact_group.id,
                name: contact_group.name,
                readable: contact_group_relation.present?,
                permission: contact_group_relation ? contact_group_relation.contact_group_read_permission : "reservations_only_readable"
              )
            end
          end
        %>

        <%= react_component "settings/staffs/staff_form", {
          is_staff_persisted: !staff.new_record?,
          isAdmin: admin?,
          staffId: staff.id,
          staff_shop_options: staff_shop_options,
          contact_group_options: group_options,
          resendStaffActivationEmailUrl: resend_activation_email_settings_user_staffs_url(super_user),
          staff_account_title: t("settings.staff_account.info_title"),
          staff_account_email_label: t("settings.staff_account.email"),
          staff_account_email: @staff_account&.email,
          staff_account_level: @staff_account&.level || "employee",
          staff_account_is_pending: !staff.active?,
          staff_account_email_placeholder: t("settings.staff_account.email"),
          staff_account_capability_label: t("settings.staff_account.capability"),
          staff_account_staff_level_label: t("settings.staff_account.staff_capability"),
          staff_account_manager_level_label: t("settings.staff_account.manager_capability"),
          working_setting_title: t("settings.staff_working_time.setting_title"),
          holiday_setting_title: t("settings.staff_holiday_time.setting_title"),
          full_time_permission: t("settings.staff_working_time.full_time_permission"),
          regular_working_time_permission: t("settings.staff_working_time.regular_working_time_permission"),
          temporary_working_time_permission: t("settings.staff_working_time.temporary_working_time_permission"),
          staff_account_gmail_hint: t("settings.staff_account.gmail_hint"),
          pending_state: t("common.pending"),
          resendActivationEmailBtnLabel: t("settings.staff_account.resend_email"),
          shopLabel: t("settings.staff.shop_label"),
          contactGroupsLabel: t("settings.staff.contact_groups_label"),
          groupReservationsOnlyReadableLabel: t("settings.staff.group_reservations_only_readable_label"),
          groupDetailsReadableLabel: t("settings.staff.group_details_readable_label"),
        } %>
      <% end %>
    <% end %>

    <div id="footerav">
      <li>
        <%= link_to t("action.cancel"), settings_user_staffs_path(super_user), class: "BTNtarco" %>
      </li>
      <li>
        <%= f.submit "保存", class: "BTNyellow" %>
      </li>
    </div>
  <% end %>
</div>
