<%= render "info" %>
<div id="about">
  <ul class="function">
    <li>
      <%= link_to 'Add a New Staff', new_settings_staff_path, class: "BTNyellow addNew" %>
    </li>
  </ul>
  <p>Here is the list of staff you set.<br>Toruya will accept reservation based on this setting.</p>
</div>

<form>
  <div id="staffList" class="formRow">
    <ul class="tableTTL">
      <li class="check"><a href="" class="BTNorange">Delete</a></li>
      <li class="rowTTL">Staff Name</li>
      <li class="updateTime">update time</li>
    </ul>
    <% @staffs.each do |staff| %>
      <dl>
        <dt class="check"><input type="checkbox"></dt>
        <dt class="rowTTL">
          <%= staff.name %>
        </dt>
        <dd class="updateTime"><%= staff.updated_at.to_s(:date) %></dd>
        <dd class="function">
          <%= link_to 'Edit', edit_settings_staff_path(staff), class: "BTNtarco" %>
        </dd>
      </dl>
    <% end %>
  </div>
</form>
