<%= render "info" %>
<div id="about">
  <ul class="function">
    <% admin_only do %>
      <li>
        <% if can? :create, Staff %>
          <%= link_to t("settings.staff.new_button"), new_settings_user_staff_path(super_user), class: "BTNyellow addNew" %>
        <% else %>
          <%= link_to t("settings.staff.new_button"), "#", class: "BTNyellow addNew", data: { toggle: "modal", target: "#upgradeModal" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <p><%= t("settings.staff.info_1") %><br /><%= t("settings.staff.info_2") %></p>
</div>

<div id="settingForm">
  <div id="staffList" class="formRow">
    <ul class="tableTTL">
      <li class="rowTTL"><%= t("settings.staff.name") %></li>
      <li class="updateTime"><%= t("common.updated_time") %></li>
    </ul>
    <% @staffs.each do |staff| %>
      <dl>
        <dt class="rowTTL">
          <%= link_to staff.name.presence || staff.staff_account.email ||"スタッフ #{staff.id}", edit_settings_user_staff_path(super_user, staff) %>
          <% if !staff.active? %>
            <span class="label label-warning"><%= t("common.pending") %></span>
          <% end %>
        </dt>
        <dd class="updateTime"><%= staff.updated_at.to_s(:date) %></dd>
        <dd class="function">
          <%= link_to t("action.edit"), edit_settings_user_staff_path(super_user, staff), class: "BTNtarco" %>
          <%= link_to t("action.delete"), settings_user_staff_path(super_user, staff), class: "BTNorange", method: :delete, data: { confirm: I18n.t("settings.staff.delete_confirmation_message", staff_name: staff.name) } %>
        </dd>
      </dl>
    <% end %>
  </div>
</div>

<% admin_only do %>
  <% unless can? :create, Staff %>
    <div class="modal fade" id="upgradeModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
              <%= t("settings.staff.modal.upgrade_title")%>
            </h4>
          </div>
          <div class="modal-body">
            <%= t("settings.staff.modal.upgrade_content", premium_price: Plans::Price.run!(user: current_user, plan: Plan.premium_level.take).format(ja_default_format: true)).html_safe %>
          </div>
          <div class="modal-footer centerize">
            <%= link_to t("settings.staff.modal.upgrade_button"), settings_plans_path, class: "btn BTNyellow" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
