<%= render "info" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Staff.human_attribute_name(:name) %></th>
      <th><%= Staff.human_attribute_name(:shortname) %></th>
      <th><%= Staff.human_attribute_name(:full_time) %></th>
      <th>Menus</th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.name %></td>
        <td><%= staff.shortname %></td>
        <td>
          <% if staff.full_time %>
            <i class="fa fa-check" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </td>
        <td><%= staff.menus.map(&:name).join(", ") %></td>
        <td><%= link_to 'Edit', edit_settings_shop_staff_path(shop, staff), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', settings_shop_staff_path(shop, staff), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staff', new_settings_shop_staff_path(shop), class: "btn btn-primary" %>
