<p id="notice"><%= notice %></p>

<p>
  <strong>Shop:</strong>
  <%= @staff.shop_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @staff.shortname %>
</p>

<%= link_to 'Edit', edit_settings_shop_staff_path(shop, @staff) %> |
<%= link_to 'Back', settings_shop_staffs_path(shop) %>
